[2022-04-11 02:10] denise92 commented on #2859
Hi, I find the way to solved the cors issue~
the point is **don't use** integrations and release option!!!!
[code]

P.S. autoSessionTracking and sendClientReports both sets false aren't work in my project, I don't know why....

[2022-04-11 08:48] smeubank commented on #4888
if it is making the decision on a few - i would proceed with the ones where there is no doubt and we parking lot the others. If we have time during V7 betas we can make a decision then. Then the big decider for me is @lforst 2nd point how much bundle savings are there really to be had vs how much we could go ahead and ship to folks

[2022-04-11 15:34] AbhiPrasad commented on #4888
Closing as a decision has been made. We are not deprecating `Severity` and `SpanStatus`, but we are deprecating the rest of the enums.

[2022-04-11 15:34] #4888 closed

[2022-04-11 19:51] SpencerKaiser commented on #3067
@kamilogorek this is still an issue. Looks like the SDK allows for `Critical` but the platform only allows up through `Fatal`? I just used `Critical` locally and it was turned into `Fatal` as described above

[2022-04-12 04:02] webPlayer7 commented on #4684
I met the same problem. `rewriteFramesHelper.js ` is created in other folder. Is there any way we can fix this quickly?

[2022-04-12 07:16] haohongyang1 opened #4917 "Iframe nested pages do not collect performance."
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/react

[2022-04-12 07:38] lforst commented on #4917
Do you initialize Sentry within the iframes?

[2022-04-12 07:57] haohongyang1 commented on #4917
Yes, Sentry has been initialized in iframe nested pages. The initialization contents are as follows
![image](https://user-images.githubusercontent.com/41784724/162910350-1352f6bd-7134-416a-b54c-8ca148a21184.png)

[2022-04-12 14:21] kamilogorek commented on #3067
Thanks @SpencerKaiser, notified the team.

[2022-04-12 14:46] AbhiPrasad commented on #3067
Hey, thanks for letting us know @SpencerKaiser. We're addressing this as part of our next release - https://github.com/getsentry/sentry-javascript/issues/4882

[2022-04-12 14:51] AbhiPrasad commented on #3067
For more details, see: https://develop.sentry.dev/sdk/event-payloads/#optional-attributes

[2022-04-12 19:01] danizord opened #4925 "Make heartbeat interval configurable"
### Problem Statement

I have a pageload transaction that normally should take 30s+ to finish, but IdleTransaction's heartbeat is finishing the transaction before the page content is fully loaded.

### Solution Brainstorm

Make heartbeat interval configurable

[2022-04-12 19:29] smeubank commented on #4871
do i understand correctly you would like to download that file, host it yourself, and then lazy load it yourself?

But still be able to select it from the drop down list box in product?

[2022-04-12 20:55] AndreasJilvero commented on #4871
Thanks for your response @smeubank!

Sorry, I understand why you interpreted my text as "But still be able to select it from the drop down list box in product?". It's not what I wanted - I just want to take part of new releases that you release via NPM, not via the project dashboard.

So, I want to use a NPM package to take part of loader.js instead of copying it once. You could just expose it via

[2022-04-12 22:41] smeubank commented on #4862
maybe my mind is playing tricks on me but did we have a similar issue come up already @sl0thentr0py or @antonpirker ?

[2022-04-13 00:47] dcramer commented on #4118
[code]

Toying around with a POC on Remix and this definitely gives a usable transaction name. I'm not sure theres an event easily hookable, but we could bind this on demand in a few places assuming we can access context.

[2022-04-13 08:11] marandaneto commented on #4742
If the Circular dependency issues found by the `madge` tooling aren't a problem, feel free to close this issue.

[2022-04-13 09:23] lforst commented on #4925
I believe this is already possible by using the `idleTimeout` option of the `BrowserTracing` integration. You can read more about it here: https://docs.sentry.io/platforms/javascript/performance/instrumentation/automatic-instrumentation/#idletimeout

Let me know if this fits your case!

[2022-04-13 09:31] smeubank commented on #3865
Hi folks,

I know this is an outstanding issue, and apologies we have not been able to give it more attention. We are very focused on the work https://github.com/getsentry/sentry-javascript/issues/4882 detailed here and the roadmap linked therein. There will be significant bundle size reduction with the V7 release. Rest assured we are very bundle size sensitive these days 😬

We will revisit this a

[2022-04-13 09:41] danizord commented on #4925
Unfortunately not. Even if I configure 60s as idleTimeout, after 15s (3 heartbeats) with the same activity count, it finishes the transaction.

[2022-04-13 10:02] lforst commented on #4925
Ah yeah you are right. The amount of heartbeats and their intervals are currently hardcoded. I'll backlog this and take it to the team. Thanks for writing in!

By the way, feel free to open a PR! :) We'll look over it and assist in writing tests and documentation.

[2022-04-13 11:00] danizord commented on #4925
Nice! Added to my backlog as well :D

[2022-04-13 11:01] danizord commented on #4925
Nice! Added to my backlog as well :D Thanks!

[2022-04-13 18:06] AbhiPrasad commented on #4742
Yes, all of these are for types, which shouldn't affect the final emitted javascript assets, so we should be fine to close.

[2022-04-13 18:06] #4742 closed

[2022-04-13 20:45] abierbaum commented on #3269
@zanona Have you considered making a PR to add these into the core like @AbhiPrasad suggested?

[2022-04-13 22:07] mcrawshaw commented on #4731
@SimonSchick Sometimes your bundler might be a little too smart and will remove the import statement that has no use. Try `import * as Tracing from "@sentry/tracing";`, then use it somewhere below like `Tracing && true;`;

[2022-04-14 05:09] mmmoussa commented on #4071
We're using [uWebSockets.js](https://github.com/uNetworking/uWebSockets.js) and seem to have come across the same general problem. We have long-running sessions that run concurrently and our Sentry context and breadcrumbs tend to be useless except for whatever context we logged immediately before capturing an exception due to pollution across the different connections being handled. If we could ma

[2022-04-14 06:29] rhcarvalho commented on #4071
Hi @mmmoussa, if you avoid using the global APIs (`Sentry.*` calls that mutate global state), and is willing to turn off integrations that are also inheritly global (those that hook up to global state, for example, Fetch and XHR, `console`, etc), then it is viable to use independent clients and scope per unit of concurrency. If for your app you can clearly determine which contextual data goes with

[2022-04-14 10:21] mrkosima commented on #4871
If I understand correctly the issue, we're looking for the solution for the same problem.
It would be very helpful to have a separate NPM package with the [loader](https://github.com/getsentry/sentry-javascript/blob/master/packages/browser/src/loader.js) functionality only - e.g. `@sentry/browser-loader`.

[2022-04-14 15:58] joergbaier commented on #4495
@thekip @AbhiPrasad it seems mongo/mongoose traces are also wrong for `aggregate` and missing for `populate`

[2022-04-15 12:10] Julian-Cloudshelf opened #4945 "(NextJS) Importing `withSentryConfig` results in all my routes returning a blank page with the text "OK""
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Self-hosted/on-premise

### Which package are you using?

@sentry/nextjs

[2022-04-15 14:58] dcramer commented on #4894
https://github.com/getsentry/sentry-javascript/discussions/4946

[2022-04-15 22:33] maxzaleski commented on #3852
I am running a tRPC backend through NextJS with a Sentry wrapper, and this is by far the nicest solution imo.

[2022-04-16 11:19] cristianlivella commented on #4534
It looks like this is an issue only in local environments, due to the fact that React in development mode rethrow errors caught within an error boundary.

Basically what's happening is that the same exception is trying to be reported twice, but due to the check in [checkOrSetAlreadyCaught()](https://github.com/getsentry/sentry-javascript/blob/61c79ef81fe997f7205752dd3bdfdb6f56339d55/packages/utils

[2022-04-17 21:33] geraldosalazar16 opened #4947 "Exceptions from not sampled transactions are added to non-related transactions"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/node

#

[2022-04-18 13:38] karmeljuk commented on #2546
Hello everyone
I have the same issue, you can check sharable link here https://sentry.io/share/issue/213a44af1eac4f7e85ea5714bc3f7f1e/

[code]

The site is on WordPress with 40 plugins (WPML, YOAST, WooCommerce etc) and we have HubSpot forms integrated into WP pages. As i see in the DevTools it's can be HubSpot form js file only https://js.hsforms.net/forms/v2.js:
![image](https://user-images.gith

[2022-04-18 15:18] SujayPrabhu96 opened #4956 "self._mergeOptions is not a function with Strapi v4"
### Environment

self-hosted (https://develop.sentry.dev/self-hosted/)

### Version
- Strapi - 4.1.7
- @sentry/node - 6.19.6
- @sentry/tracing - 6.19.6

_No response_

### Steps to Reproduce

Instrument Strapi v4 application with Sentry integration. Followed Performance monitoring setup with Koa from the [doc](https://docs.sentry.io/platforms/node/guides/koa/#monitor-performance)

### Expected Res

[2022-04-18 19:42] kitsunde opened #4949 "lambda layer > 60 seem to break with "Error: Cannot find module './async'""
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/serverl

[2022-04-19 08:05] Lms24 commented on #4949
Hi @kitsunde, thanks for reporting.

Without getting too much into debugging this (we're currently actively working on v7, see #4882), I have a feeling that this _might_ be related to #4868 where we made some build and directory structure changes. I'll bring this up with the team.

I have a few more questions:
* The error message you posted happens with 61?
* Could you also post the other import e

[2022-04-19 08:20] kitsunde commented on #4949
I explicitly copied it from 61 and it was the same from 62. I also believe it's related to those changes https://github.com/getsentry/sentry-javascript/pull/4868. In testing we have `6.19.6` in `devDependencies`, so it's isolated to the lambda layer.

Since I have you, I've asked here: https://github.com/getsentry/sentry-javascript/discussions/4853 if this could be populated somewhere previously b

[2022-04-19 18:32] bmatto commented on #4862
I'm seeing something similar, though the Sentry error is a 404 and sometimes a 403 - even though when I throw inside my function it _is_ being reported to Sentry. Also `ignoreSentryErrors` does not seem to help me.

[2022-04-19 19:09] rmarmitt commented on #2957
Bump

[2022-04-19 19:27] lobsterkatie commented on #4945
Hi, @Julian-Cloudshelf.

What version of nextjs are you using? This is indeed odd. I'll bring this up in our team meeting, but in the meantime, can you please try setting `process.env.VERCEL = true`? The code path you mentioned is known not to work on Vercel and so by pretending that that's where you are, you should be able to avoid it.

[2022-04-19 20:29] chris-erickson commented on #3513
I there some sort of preferred way to disable sentry on local builds that someone could illustrate specifically?

[2022-04-19 23:56] kpdecker commented on #4731
Manually reverting eb09c284180d5024158b569adb343468457a50ed solved this for me. @onurtemizkan I can submit a PR to revert, but unsure of the consequences of that.

[2022-04-20 05:51] simonwinter commented on #4731
Concur with @kpdecker - 6.19.4 has the issue resolved.

[2022-04-20 08:45] lforst commented on #4956
Hi @SujayPrabhu96, thanks for writing in! To effectively investigate your issue we would need a little bit more information. Can you share which versions of Koa, Strapi, and the sentry SDK you are using and how exactly you set up the Sentry SDK (ie, how you configured the `Sentry.init()` call)?

[2022-04-20 09:07] SujayPrabhu96 commented on #4956
Hi @lforst,
I have updated the versions in the issue. As Strapi is built on top of Koa, it is not installed separately.
Regarding setup I have created custom middleware `sentry` in Strapi to make `Sentry.init()` call.

For reference here is my PR: https://github.com/SujayPrabhu96/integrate-sentry-with-strapi/pull/1
Configured Sentry using [sentry](https://github.com/SujayPrabhu96/integrate-sentry-

[2022-04-20 09:16] lforst commented on #4956
I'm seeing in the repository you linked that you have old Sentry dependencies in your lockfile: [example](https://github.com/SujayPrabhu96/integrate-sentry-with-strapi/pull/1/files#diff-51e4f558fae534656963876761c95b83b6ef5da5103c4adef6768219ed76c2deL1332)

The particular version you have, has a bug that was reported in https://github.com/getsentry/sentry-javascript/issues/2622 and got fixed in ht

[2022-04-20 09:50] zanona commented on #3269
Hey, @abierbaum. I am not entirely familiar with the structure Sentry expects for that add-on, and, unfortunately, I'm a little short in time to learn how to adapt that gist. However, if anyone would like to take the initial code and port into a PR form, I definitely wouldn't mind. :smiley:

[2022-04-20 12:22] irkinwork opened #4974 "Proper way to handle file:/// paths"
### Environment

self-hosted (https://develop.sentry.dev/self-hosted/)

### Version

22.5.0.dev0

### Steps to Reproduce

I try to add Sentry sourcemaps on smarttv app.
Sourcemaps are uploaded correctly.
It works nice on PC, but not on smarttv, where paths to js files look like:

`file:///media/developer/apps/usr/palm/applications/app/main.js`
And sourcemaps don’t work.

What I already tried:

1.

[2022-04-20 13:43] stevus commented on #1647
It's not obvious and immediately intuitive that

[code]

should equate to

[code]

It really comes down to developer implementation, since it all depends on how the module has been exported.

[code]

is entirely possible if `Sentry` is just exported as something such as a static class or object module.

[2022-04-20 16:24] kitsunde commented on #4949
62

[code]

63

[code]
64

[code]

index.js

[code]

package.json

[code]

While you're working on V7 maybe you guys want to remove 62 from https://docs.sentry.io/platforms/node/guides/aws-lambda/layer/ if it directly causes issues.

[2022-04-21 09:41] lforst commented on #4917
@haohongyang1 I realized that the webvitals cannot be collected in some situations and this might be the case here. See [this comment](https://github.com/getsentry/sentry/issues/33446#issuecomment-1097123025) for more information.

I will mark this issue as duplicate of https://github.com/getsentry/sentry/issues/33446 and close it so we can track it there. Feel free to leave a comment here if you

[2022-04-21 09:41] #4917 closed

[2022-04-21 10:35] xuxunsheng commented on #3939
I have the same log in my electron-forge project.
I fix this in my electron-forge project, by adding externals in webpack.renderer.config.js.
[code]
It may cause by `Sentry.init` called twice. Like electron, It needs to call `Sentry.init` both render and main process.

[2022-04-21 16:53] lewnelson commented on #4582
We've just had a fairly catastrophic failure on our lambdas due to Sentry being integrated and we didn't set the `ignoreSentryErrors` option to true. It feels really odd that it isn't enabled by default. Presumably to maintain backwards compatibility, but it feels as though having it off by default is a bug rather than a feature.

It's not easy to catch in testing before going to production and hi

[2022-04-23 22:14] plesiecki commented on #2707
Can't find a word about transpilation.

Please don't distribute ESM as pretranspiled with tsc. Right now ESM includes helpers from tslib and classes are transpiled into ES5 and there is probably more of this...

If TS doesn't let you configure it better consider transpilation with babel and leave TS only for typechecking.

Need help?

[2022-04-24 00:16] cameronaziz commented on #4904
I have opened https://github.com/getsentry/sentry-javascript/pull/4966 to fix this issue

[2022-04-24 10:52] felixhagspiel commented on #3189
@kamilogorek I have the same issue, but I have provided a `--url-prefix` and the paths seem to match, but sentry still does not show me the correct lines. I am using nestjs and I am hosting on heroku.

`main.ts`:

[code]

My Release artifacts:
<img width="978" alt="Bildschirmfoto 2022-04-24 um 12 35 33" src="https://user-images.githubusercontent.com/5927172/164972516-83a4fae2-8a67-45b1-94a6-fe31ef

[2022-04-25 11:23] ogelacinyc opened #4968 "RewriteFramesIntegrations are not included in pre_context when the original ts file does not exist"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/node

#

[2022-04-25 12:40] SlavaPWNZ commented on #2859
How fix it
PROJECT -> General -> CLIENT SECURITY -> Verify TLS/SSL
Set ENABLED
![Снимок экрана от 2022-04-25 15-39-11](https://user-images.githubusercontent.com/34984584/165090734-e16d8898-bebd-4981-aa14-85e74607ad41.png)

[2022-04-25 21:09] lforst commented on #4974
Hi @irkinwork, thanks for writing in. Can you let us know more about your setup? What do the source map files look like (especially the comment line at the bottom)?

[2022-04-26 07:54] smeubank commented on #3865
we are currently investigating 3 possibilities

1. If there is some reason that it is being included due Vercel's setup where the binary is pulled in, in which case we can just try to delete it
2. if it is somehow phantom and the size check is misleading us, because there is no good reason why the binary would be included
3. having 2 npm package (2 entry points) `@sentry/nextjs/webpack` & `@sentry

[2022-04-26 08:00] #4904 closed

[2022-04-26 09:43] lforst commented on #4968
Hi @ogelacinyc, thanks for writing in!

Are the context lines not showing up in the sentry interface at all? Can you maybe add a screenshot?

Generally, the integration responsible for adding `pre_context`s is the `ContextLines` integration. The reason you only have pre context lines when you include the source file is because that integration actually manually reads that file and adds context acc

[2022-04-26 10:20] haohongyang1 opened #4981 "Performance panel ID is n/a."
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/nextjs

[2022-04-26 10:33] irkinwork commented on #4974
@lforst
Thank for your response.

Comment line at the bottom  looks like:

[code]

As I mentioned before I have no problem when I host them on PC.

[2022-04-26 11:39] #4949 closed

[2022-04-26 11:49] lforst commented on #4974
Is the code on the smart tv running through node or some sort of browser?

[2022-04-26 11:55] lforst commented on #4904
We are resolving this with our next patch (version 6.19.7) so keep an eye out for updates and remember to remove your `@ts-expect-error`s. Let us know here if you run into any more issues.

Thanks @cameronaziz for the initiative!

[2022-04-26 12:47] Jiia commented on #396
@kamilogorek So I suppose you never added the callbacks? At least the JS SDK documentation doesn't mention them anywhere. Some outdated Raven documentation does but it doesn't seem to work anymore.

[2022-04-26 12:48] kamilogorek commented on #396
We never did, but there are other ways to achieve similar behavior, depending on the use-case.

[2022-04-26 12:52] Jiia commented on #396
@kamilogorek Alright, thanks for clarifying that. Could you elaborate what the other ways might be? Sentry doesn't seem to trigger any events in the window scope anymore, as the above suggestions indicated.

[2022-04-26 12:57] Lms24 commented on #4949
Hey @kitsunde and everyone else,

we found a fix (#4982) for the problem and we just started releasing 6.19.7, so keep an eye out for it. We decided to make this a patch release in v6 as it is affecting quite a few people and it should be fixed before v7 is released.

Hope this helps and let us know if this solves your problem. Thank you for bringing it to our attention!

[2022-04-26 13:43] lforst commented on #4981
Hi @haohongyang1, did you identify the user with `Sentry.setUser`? More info here: https://docs.sentry.io/platforms/javascript/enriching-events/identify-user/

[2022-04-26 13:47] dijonkitchen commented on #4949
Was seeing `Cannot find module '@sentry/serverless/dist/awslambda-auto'` as well in our logs, could it also be related?

[2022-04-26 13:58] Lms24 commented on #4949
@dijonkitchen yes that sounds familiar. Is it still happening in the recent version (was released around 30 minutes ago)?

[2022-04-26 14:16] kamilogorek commented on #396
Its usually `Sentry.flush`, or custom transports.

[2022-04-26 14:54] dijonkitchen commented on #4949
We turned off the lambdas that weren't working (they got auto-updated on toggling). We need to try turning them back on to see if these fixes are OK.

[2022-04-26 15:30] AbhiPrasad commented on #4543
@timfish this should be good to close right?

[2022-04-26 15:32] #4543 closed, assigned to nobody

[2022-04-26 17:14] irkinwork commented on #4974
@lforst
App on smarttv running through Chrome like browser.

[2022-04-26 19:07] Ammardev-98 opened #4997 "Error: Can't resolve '@sentry/angular/build/types/tracing"
When i run `ionic cordova build ios --prod`
This is the error is get.
[code]
If is run `ionic cordova build ios --env=prod`
It builds fine.
I'm new with this can anyone help me out?
In package.jason
using `"@angular/core": "^8.2.14",`

[2022-04-26 19:42] AbhiPrasad commented on #4947
Hey, thanks for writing in!

We recommend using something like [`domains`](https://nodejs.org/api/domain.html) or [`async_hooks`](https://nodejs.org/api/async_hooks.html) to isolate async resources in a high concurrency environment. For example, you can see how our express request handler uses domains under the hood to ensure things are separated properly: https://github.com/getsentry/sentry-javas

[2022-04-26 20:50] segersrobbert commented on #2859
It appears to be the combination of `integrations` and `tracesSampleRate` that's causing CORS issues, disabling either one of those two seems to resolve. Using latest @Sentry/angular: 6.19.7 and @Sentry/tracing 6.19.7

[2022-04-27 00:26] #4758 closed

[2022-04-27 02:06] haohongyang1 commented on #4981
OK, Thank you very much.

[2022-04-27 03:45] ogelacinyc commented on #4968
Yes. I had upload source maps. But I can not see in the sentry interface at all.

<img width="967" alt="Screen Shot 2022-04-27 at 12 43 59 PM" src="https://user-images.githubusercontent.com/5226311/165435632-3b17098d-53ba-4fd3-bbaa-5d0066a15256.png">
 App's context lines is not showing up in the sentry interface at all.

<img width="1198" alt="Screen Shot 2022-04-27 at 12 37 58 PM" src="https://us

[2022-04-27 07:24] Ramblurr opened #4995 "@ember/sentry generates inline script tags that break a secure Content-Security-Policy (CSP)"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/ember

[2022-04-27 08:13] #4981 closed

[2022-04-27 08:13] smeubank opened #4996 "Attachments API"
### Problem Statement

The JavaScript SDK does not have proper Attachments API support

Today the JavaScript SDK asks the user to call the API endpoint on Sentry

https://docs.sentry.io/platforms/javascript/enriching-events/attachments/

we should have something similar to other SDKs

https://docs.sentry.io/platforms/java/enriching-events/attachments/

### Solution Brainstorm

we should have somet

[2022-04-27 08:32] Lms24 commented on #4997
Hey @Ammardev-98 thanks for writing in!
Can you tell me which Sentry SDK you're using and which exact version of it?

Looks like a wrong import to me at first glance. Do you know where this import is coming from?

[2022-04-27 08:43] kamilogorek commented on #4997
If it works with one config, but not the other, there has to be a discrepancy in how you configure those two environments in the first place I believe.

[2022-04-27 09:33] kamilogorek commented on #4968
Are you using `[source-map-support](https://www.npmjs.com/package/source-map-support)` in your project by any chance? It looks like that, as your raw stacktrace frames point to `.ts` files.

[2022-04-27 09:48] timfish commented on #4996
We send minidumps from the Electron SDK as attachments but this is currently hacked through additional methods on the transport.

My only concern with how many of the existing SDKs handle attachments is that they read them into memory at the point of attaching:
[code]
This has the downside that you can't automatically add an attachment when a global error is caught.

You could periodically add scr

[2022-04-27 12:49] Ammardev-98 commented on #4997
Hi @Lms24 I'm using Sentry SDK @sentry/angular": "^6.16.1"

[2022-04-27 12:50] Ammardev-98 commented on #4997
@Lms24 @kamilogorek
<img width="1680" alt="Screen Shot 2022-04-27 at 12 17 20 AM" src="https://user-images.githubusercontent.com/102114009/165521813-1f567339-1d2f-4d8f-a770-31ff9c2442fc.png">

[2022-04-27 12:57] Ammardev-98 commented on #4997
@Lms24 @kamilogorek
If i goto node modules> @sentry>angular>build>types and delete the tracing folder and then run "cordova platform add ios" after this i used this command "ionic cordova build ios --prod" and it build successful.

The commands i use to build an app are:
npm install
"Cordova platform rm ios"
"Cordova platform rm android"
"ionic cordova resources"
"cordova platform add ios"
"ionic

[2022-04-27 13:01] Ammardev-98 commented on #4997
@kamilogorek @Lms24
This issue started around 4th of April. Before 4th of April i was using the same code nothing was implemented nor deleted.
I had the node modules folder from the app i build in the first week of April. When i copy that modules folder and then paste it in the one which one not working (giving this error "ERROR in ./src/app/app.module.ngfactory.js
Module not found: Error: Can't r

[2022-04-27 13:10] kamilogorek commented on #4997
April 4th you say? This might be very relevant then - https://github.com/getsentry/sentry-javascript/commit/faaacb869a25ac8b2a7f0a1a9528d22b84ea7bef

Can you post all your sentry deps from `package.json`? Or is it just `@sentry/angular`? Also can you remove `package-lock.json` and/or `yarn.lock` and recreate them?

[2022-04-27 13:26] Ammardev-98 commented on #4997
@kamilogorek i tried removing package-lock.json no luck. Sure I will post all of my package.json

[2022-04-27 13:29] Ammardev-98 commented on #4997
@kamilogorek

  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e"
  },
  "private": true,
  "dependencies": {
    "@angular-devkit/build-angular": "^0.803.25",
    "@angular/common": "^8.2.14",
    "@angular/core": "^8.2.14",
    "@angular/forms": "~8.2.14",
    "@angular/http": "^7.2.16",
    "@angular/

[2022-04-27 14:44] giankotarola commented on #4582
Is `ignoreSentryErrors` valid for other platforms as electron for example? I'm seeing `unhandledRejection SentryError: HTTP Error (429)\` on an electron app but I'm not sure or I don't know what is the best way to handle it or avoid it as unhandledRejection 🤔

[2022-04-27 16:47] philipphofmann commented on #4996
### Question 1

of attaching

On Cocoa and Java, you can create an attachment with a path. The SDK will read the contents of the file each time it prepares an event or transaction, then adds the attachment to the same envelope, see https://docs.sentry.io/platforms/apple/guides/ios/enriching-events/attachments/#creating-attachments

[code]

### Question 2

On [Cocoa](https://github.com/getsentry/se

[2022-04-27 21:30] wontondon commented on #4118
I took a different approach to workaround this issue. I like that it uses the current react router v6 public API and supports the parameterized paths. I used inspiration from some of the components like `<Navigate>` in react-router and peeking at the v5 sentry implementation. I ended up with a component `<SentryReactRouterV6RouterInstrumentation />` which uses the current public react router v6 AP

[2022-04-28 00:00] johnnywang commented on #3939
Chiming in on this thread, since we just started seeing this as well, which seems to go away if you disable the Dedupe integration. That said, we're only seeing this in our terminal/console and not on Sentry itself, which, according t:

is expected behavior? Throwing it as an explicit error seems like the wrong level though, because if it is indeed expected shouldn't it be a warning or info level?

[2022-04-28 01:34] ericgrigorian opened #5003 "@sentry/react & @sentry/tracing 6.19.6 -> 6.19.7 bloat"
### Problem Statement

I just updated from 6.19.6 to 6.19.7 and sentry added over 10kB to my entrypoint!! That is incredibly big difference in size. So unfortunately at for the sake of performance I downgraded back to 6.19.6.

### Solution Brainstorm

Not sure what you can do about it and I know v7 is supposed to help with it but please be a bit more courteous, I work on some apps where 10kB would

[2022-04-28 09:45] Lms24 commented on #5003
Hey @ericgrigorian thanks for bringing this up.
So to confirm, you're using the NPM packages `@sentry/tracing` and `@sentry/react`? And did you upgrade both packages to 6.19.7? Do you know which of the two packages caused the increase for you?

I made a quick search w.r.t what might be causing this. The only thing that changed for reacht was #4966 which is a small change was #4966 which is a small

[2022-04-28 10:06] Lms24 commented on #4997
I don't think you're still on 6.16.1 because the `types` directory was introduced later. You can use `npm list @sentry/angular` to find out which version is installed. Also, can you try upgrading to the latest Sentry version (6.19.7) and see if the error still exists?

[2022-04-28 11:44] smeubank commented on #4606
can you confirm this is related to https://github.com/getsentry/sentry-javascript/issues/3865

we are working on a fix for that, to ensure sentry-cli is not bundled in prod. We will close this issues when we deliver the fix for that issue.

[2022-04-28 11:49] amon opened #5009 "How to switch to another DSN dynamically after initialization without reloading the page?"
### Problem Statement

Hello,

How can I switch to another DSN after initializing Sentry to collect the errors of a certain URL pattern in a separate project? The browser page is not reloaded and the URL is updated dynamically with JS when jumping into that specific URL pattern; therefore, we have to configure the Sentry again without reloading the page to send the errors to another project only w

[2022-04-28 14:05] ericgrigorian commented on #5003
Hey @Lms24, that's correct I'm using both @sentry/tracing and @sentry/react and upgraded both to keep the versions in parity. I'm not sure which one caused the increase but let upgrade them individually and get back to you later today.

Looking at the two commits you referenced, I think you're right that tracing may be the issue here.

[2022-04-28 14:11] stavalfi commented on #3865
build is failing....

[code]

[2022-04-28 14:27] Ammardev-98 commented on #4997
@Lms24 Hi. I updated
 "@sentry/angular": "^6.19.7",
    "@sentry/tracing": "^6.19.7",
still having the same issue

[2022-04-28 15:01] Lms24 commented on #4997
Are you importing somthing directly from `@sentry/angular/build/types/tracing` in ./src/app/app.module.ngfactory.js?
Can you try importing whatever you're importing from `@sentry/angular`?

[code]

[2022-04-28 15:05] Ammardev-98 commented on #4997
@kamilogorek @Lms24
I fixed the issue.
Turns out when i run “npm install”
Sentry tracing and sentry angular versions updated to 6.19.7. But in package.json stayed the same 6.16.1.
Then i added @sentry/angular 6.16.1 and same for tracing. Then build it was a success

[2022-04-28 15:07] Ammardev-98 commented on #4997
Thanks guys for all the help. I really appreciate it was messing my brain while figuring this since a month lol. Never occurred to me to check the versions manually

[2022-04-28 15:08] Lms24 commented on #4997
Happy to help! Tbh I don't know exactly what went wrong but I'm glad it's fixed.
Have a nice day ;)

[2022-04-28 15:10] philipphofmann commented on #4996
@timfish and @AbhiPrasad, I added why we don't have attachments on events but use hints instead. ⬆️

[2022-04-28 15:44] LeoniePhiline opened #5013 "[vue] Router instrumentation logs route name if set; missing option to log path instead"
### Problem Statement

My Vue routes are configured with path and name. (Route names are optional in Vue Router.)

In Sentry, I need paths logged, not route names.
In fact: Full paths, including the base path of the SPA.

The current Vue Router Sentry instrumentation chooses the name, if it is set, and falls back to the path only if no route name has been configured.

### Solution Brainstorm

New

[2022-04-28 17:55] lforst commented on #5009
Hi @amon, you have the option of creating your own [transport](https://github.com/getsentry/sentry-javascript/blob/c518955b774e5bbc36e7f1a22410703469911a2a/packages/types/src/transport.ts#L17). Look [here](https://github.com/getsentry/sentry-javascript/blob/c518955b774e5bbc36e7f1a22410703469911a2a/packages/browser/examples/app.js#L21) for an example - it might be a bit outdated but the general ide

[2022-04-28 19:46] mitsuhiko commented on #4996
So for what it's worth i'm pretty sure the python SDK also supports delayed reads. That said, the big issue is that since captures are async changes to the file after attaching are iffy. When people attach logfiles and they are read async they contain stuff that wasn't there yet at the time of report.

Generally speaking I would prefer the JS SDK mirrors the Python SDK for attachments and if we de

[2022-04-28 21:12] aaronjensen opened #5016 "@sentry/browser is *not* sideEffect free"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/browser

[2022-04-28 22:18] aaronjensen commented on #5016
Turns out this was just a documentation issue I think? If the ESM sets window.Sentry, which maybe it doesn't? Then it's sideEffect free.. closing this for now.

[2022-04-28 22:18] #5016 closed

[2022-04-29 02:12] ogelacinyc commented on #4968
Yes. I'm using source-map-support in my project and running the project with `node` instead of `ts-node`.

[2022-04-29 06:05] kamilogorek commented on #4968
Yes, there is no support for `source-map-support`, as we need "pre-resolved" frames.

See: https://docs.sentry.io/platforms/node/sourcemaps/generating/

<img width="759" alt="image" src="https://user-images.githubusercontent.com/1523305/165892473-d101b612-1848-40e5-97d4-5274f439f5a3.png">

[2022-04-29 06:51] Lms24 commented on #5003
Could you tell me how you're bundling your app? Are you using Rollup, Webpack or something else?

[2022-04-29 09:06] odusseys commented on #5003
Same issue here, using the same versions, and create-react-app 5 (so webpack) to build

[2022-04-29 10:45] philipphofmann commented on #4996
Yes, @mitsuhiko, Python supports delayed reads with a [file path](https://github.com/getsentry/sentry-python/blob/5eda9cf7f429f0aa67969062c93866827b0f282a/sentry_sdk/attachments.py#L16). Are you suggesting we should consider dropping support for delayed reads as the file contents can be iffy?

As pointed out by @timfish, on JS browser you don't have file paths, so on JS, we might have to use somet

[2022-04-30 00:25] #4801 closed

[2022-04-30 11:53] jordikroon commented on #4119
Hi there,

We do also see a lot of errors on our side that are sent in the user preferred browser language?
Any update on this, it triggers a lot of notifications that should otherwise be grouped with other issues.

[2022-05-02 17:21] martinklepsch commented on #3096
Should this issue be reopened perhaps? It seems the documentation isn't quite right or at least could be improved?

[2022-05-03 06:11] ogelacinyc commented on #4968
I think the problem is caused by the package and framework I use, not a bug.
So I close this issue.

[2022-05-03 06:11] #4968 closed

[2022-05-03 15:32] lforst commented on #4974
@irkinwork Sorry for the delay, would it be possible for you to provide screenshots of your artifacts in the UI? The name/path of the artifacts is important.

Basically what we need to do is to match the stack frame filename up with the uploaded file.

[2022-05-03 15:43] Lms24 commented on #5003
We'll look into this but currently, our focus is to get v7 out (first beta will be out soon). If going back to 6.19.6 works for you, I suggest doing that for now (or giving our v7 alphas/betas a try). Meanwhile, if you happen to find a fix, PRs are always welcome and appreciated :)
I just want to point out that Tracing has side effects which weren't listed correctly in `package.json` in the last p

[2022-05-03 21:56] vladanpaunovic commented on #5013
Thanks @LeoniePhiline, sounds like a solid idea.

We are a bit overwhelmed with other things at the moment, namely, pushing our `v7` out. We can look into this in the upcoming weeks-months. If you need this enabled sooner, feel free to submit a PR and we will review it.

[2022-05-04 08:11] Lms24 commented on #4882
Hello everyone,

we just released the first v7 beta version of the SDK - `7.0.0-beta.0`.
If you want to update your Sentry version to the latest beta, check out our [migration guide](https://github.com/getsentry/sentry-javascript/blob/7.x/MIGRATION.md) to learn more about breaking changes and how to migrate successfully.

Looking forward to receiving your feedback!

[2022-05-04 08:51] smeubank opened #5030 "Align SDK with docs regarding session update for dropped events"
### Problem Statement

### Description

We've updated the docs (https://github.com/getsentry/develop/pull/551) to explain how we would like to handle event filter order, updating of sessions for dropped events and sending of session updates. We should check if we're aligned and adapt if necessary.

### Solution Brainstorm

Here's the issue from the Java SDK where all of this started: https://githu

[2022-05-04 10:21] smeubank opened #5031 "Support Nuxt"
### Problem Statement

Provide support for [Nuxt](https://nuxtjs.org/)

### Solution Brainstorm

There is already some community support integration.

- How much of the existing Vue integration could be used to provide support to Nuxt?
- Possible to use only Vue for browser and then some changes for the server side rendering or is there reusability from Node integration?

https://sentry.nuxtjs.org

[2022-05-04 13:25] Lms24 commented on #3282
Hey everyone, we just released our first v7 beta `7.0.0-beta.0` which fixes this bug by adding the Angular Compiler instead of tsc. Gonna close this issue for now. Let us know when you have questions or feedback regarding this fix or v7.

[2022-05-04 13:25] #3282 closed

[2022-05-04 13:26] #4644 closed

[2022-05-04 16:29] adinauer opened #5036 "Figure out how to implement hints"
### Problem Statement

Ideally, hints are aligned across SDKs.

A big part of the discussion is probably how to deal with attachments.

Use cases for hints:
* Add attachments in case of a certain type of error where the error contains a path to a file to attach (https://github.com/getsentry/sentry-java/issues/1467).
* Attach something to a specific event (not every event of a certain type but just

[2022-05-04 16:36] irkinwork commented on #4974
Names are matched.

<img width="1088" alt="image" src="https://user-images.githubusercontent.com/34217652/166728416-01d2d0cc-3276-4c0d-b200-16d7aa7b065b.png">

<img width="1216" alt="image" src="https://user-images.githubusercontent.com/34217652/166728488-c95459a5-911a-4eb4-a611-35bf7f51a3f9.png">

[2022-05-04 16:56] sunderee commented on #2984
This helped me a lot. Thanks!

[2022-05-05 08:37] iamchathu opened #5039 "No docs or example for typescript version of custom `_error` page in Next.js"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/nextjs

[2022-05-05 11:30] lforst commented on #5039
Hi @iamchathu, thanks for reporting this. It is something we should fix.

[2022-05-05 11:53] lforst commented on #5039
I looked a bit more into it.

To fix the first error: You need to pass the entire context parameter that is passed to `MyError.getInitialProps` into `NextErrorComponent.getInitialProps`. That's not a bug on the SDK side but a type requirement by next.js.

[code]

The second error you can fix by providing a proper type for `errorInitialProps`:
[code]

Can you try this out and report back whether it

[2022-05-05 13:47] DerZyklop opened #5043 "error NG6002: Appears in the NgModule.imports of AppModule, but could not be resolved to an NgModule class."
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/angular

[2022-05-05 16:18] Dinesh101041 commented on #2210
We are facing the same issue with our organisation , one  issue as  `Unhandled PromiseRejectionEvent` and one as `Unhandled Event` there is no traces also it logs more than **3K** times in a day , we are facing this in **sentry browser  4.6.6**

Attached the issue : https://sentry.io/share/issue/3a30791dc94c436292f9265fcd178ae8/

Attached the devices image as well

<img width="348" alt="Screenshot

[2022-05-05 17:21] iamchathu commented on #5039
@lforst

After updating the code to below snippet

[code]

Gets a warning

[code]

[2022-05-05 17:42] lforst commented on #5039
That warning is a message from next.js itself. Follow the link and it tells you to add a /404 page, which I recommend you do if you want your 404 page to be statically optimized.

I will close the issue because your problem with the sentry SDK seems to be resolved. Feel free to open another issue if you encounter further problems!

Btw thanks for calling us out on the types 😁 - we will adjust our

[2022-05-05 17:42] #5039 closed

[2022-05-05 17:57] jessrosenfield commented on #4042
I'm getting numerous `sendBecon` errors (so something very similar) on `6.19.7` - should I file a new issue?
![image](https://user-images.githubusercontent.com/1537213/166983754-ad21c97a-c6b3-4af5-9d46-1e4a9cf53d73.png)

[2022-05-05 18:40] iamchathu commented on #5039
@lforst Better to add documentation about 404 warning too. Since sentry documentation are clear and covers all cases. Thanks

[2022-05-06 03:07] source-xm commented on #4185
Maybe you should try Sentry.BrowserClient + Sentry.Hub +Sentry.makeMain(hub),
Don't use it at the same time Sentry.init + Sentry.hub。

[2022-05-06 10:21] jenni commented on #4862
Same as above, getting a 403 from Sentry but the events are posted to Sentry.

The Lambda invocation fails with the Sentry error instead of the reported error, and the CloudWatch logs show the Sentry error.

Lambda error and CloudWatch logs:
[code]

`ignoreSentryErrors: true` did solve the issue in my case, now the Lambda fails with the expected error, and the error is also reported to Sentry:
[co

[2022-05-06 14:17] GuilhermeMReis commented on #4862
Sentry is currently in an ongoing outage which is throwing `502`s. Unfortunately our lambdas are throwing 502s too. I would try/catch it if I could but Sentry SDK has abstracted that.

[2022-05-06 15:13] holmberd commented on #2859
Issue seem to exist on at least `@sentry/browser: 6.19.7`, downgraded to last working version to resolve: `6.17.7`. I can't see anything different between the request headers between the versions.

[2022-05-06 19:31] dgattey commented on #3852
Setting `externalResolver` to `true` has no effect on this for me. Adding a wrapper around `withSentry` to await it, then `response.end()` doesn't work either. I don't see a resolution that works anywhere here with latest NextJS and latest Sentry

[2022-05-07 00:12] frimuchkov commented on #3660
Any updates?
There are 2022, Node.js 18 and no async_hooks in sentry :(

[2022-05-07 16:11] jondot opened #5050 "Tracing integration with express erases router metadata"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/node

#

[2022-05-09 01:11] nokome commented on #4894
Hi. Just wanted say that we'd love to see this SDK and to note that https://github.com/jacob-ebey/remix-sentry seems to have made a good start on it.

See in particular, https://github.com/jacob-ebey/remix-sentry/blob/7ec8c84689b1cadb2752e741c152d0981f5d45f0/server/sentry-remix-node.js and the results here: https://github.com/getsentry/sentry-javascript/discussions/4946#discussioncomment-2579111

[2022-05-09 07:54] JamesXiaoFF commented on #4098
Did you find any solution? @mhkhansahab

[2022-05-09 08:28] mlmmn commented on #4882
@Lms24 Does v7 improve multiple client support (when it comes to integrations + support for module federation)?

[2022-05-09 08:58] smeubank commented on #4240
Hi all!

We'vve recently shipped our [first beta for the V7 release](https://github.com/getsentry/sentry-javascript/releases/tag/7.0.0-beta.0)! We would love to get your feedback on the changes we've made to the SDK and [migration guide](https://github.com/getsentry/sentry-javascript/blob/7.x/MIGRATION.md).

Thank you!

[2022-05-09 08:59] lforst commented on #5050
Hi @jondot, thanks for raising this issue. I've backlogged this to look into it.

[2022-05-09 08:59] smeubank commented on #2707
Hi all!

We've recently shipped our [first beta for the V7 release](https://github.com/getsentry/sentry-javascript/releases/tag/7.0.0-beta.0)! We would love to get your feedback on the changes we've made to the SDK and [migration guide](https://github.com/getsentry/sentry-javascript/blob/7.x/MIGRATION.md).

Thank you!

[2022-05-09 09:18] mrkosima commented on #4871
@smeubank, the bot made the issue `Stale`. Could you please share your thoughts about the feature request?

[2022-05-09 10:07] dgpgdev commented on #3009
i'm looking forward this sdk release

[2022-05-09 11:01] danecando commented on #4894
I took the one in there and added the express tracing on top of it so it picks up that transaction. Then in my loader I pick up __sentry_transaction off of context and add it to data so I can include it in the meta tags on my page. I've managed to get it so that pageloads are tied to the server transaction and vise versa doing that. The only thing I'm missing I think is more comprehensive browser

[2022-05-09 15:25] mrleblanc101 opened #5056 "Missing sourceFile key when using ReportingObserver"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Self-hosted/on-premise

### Which package are you using?

@sentry/browser

[2022-05-09 16:07] lforst commented on #5056
Hi @mrleblanc101, thanks for reporting this! It seems there is an error happening inside the SDK when trying to serialize the data of the `ReportingObserver` event. Normally the `sourceFile` key should be included in the event - it's not in your example because of that error.

We adjusted the serialization procedure in a newer version of the SDK. Can you update to the SDK (for example to 6.19.7) a

[2022-05-09 16:49] mrleblanc101 commented on #5056
Well, that's great ! Thanks for you swift reply.
I thought I was using the latest version because `yarn outdated` did not list Sentry.
But I'm using `@nuxtjs/sentry` package in a `Nuxt 2 (Vue.js 2)`  application which list Sentry as its dependancy.
I just ran `yarn upgrade` and now we should be good.
We'll need to push this to production so it might take a while before when get another hit for thi

[2022-05-09 16:49] #5056 closed

[2022-05-09 19:00] stavalfi commented on #3865
Very disappointing... Still same error with `"@sentry/nextjs": "7.0.0-beta.0"`

[code]

My nextjs project does not even run locally on development mode.

[2022-05-09 19:55] mrleblanc101 commented on #5056
I can confirm that it work now, thanks !
![Uploading Capture d’écran, le 2022-05-09 à 15.54.26.png…]()
[code]

[2022-05-09 20:15] lobsterkatie commented on #5036
Two pieces of feedback here:

- It feels like we've kinda outgrown the name `hint`, and putting attachments in there doesn't make that better. In JS it's just a positional argument, so we can technically call it anything we want without breaking users, but I'm guessing there are languages where it's actually a named property, so I recognize that I'm probably just editorializing here. That said...

[2022-05-09 23:15] yousefa00 commented on #4371
Any idea why this might not be working for me? I have the following Sentry configuration:

[code]

[2022-05-10 00:40] joshstrange commented on #2957
Well I just hit this on a second project. I attempted to lock the sentry versions to the versions in the first project (thinking the problem had gotten worse in a newer version) but no dice. It blows up the console with errors coming from the sentry code the overrides the console. I even tried removing the `CaptureConsole` plugin but it's still causing the page to lock up.

Honestly I'm at a compl

[2022-05-10 06:01] panghaoyuan commented on #4835
I have the same bug. But I checked the source code and couldn't find the cause of the bug

[code]

Maybe this bug is caused here But I don't know why
[code]

[2022-05-10 06:04] mfb commented on #1489
What I'd like to see is a method in the SDKs (for Javascript as well as various server-side languages) to generate the URL(s) that the report dialog is loaded from and submitted to, e.g. Dsn::getEmbedErrorPageApiEndpointUrl() - with which I could automatically populate the required script-src-elem and connect-src rules in my Content Security Policy.

For sentry.io, it appears that the script is lo

[2022-05-10 06:21] rchl commented on #2957
Use the latest version and if that still reproduces then provide reproduction. How else do you expect that devs would figure out your problem and fix it?

[2022-05-10 08:47] rsereir opened #5061 "Impossible to configure auth for sentry-cli on sentry for nextjs"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/nextjs

[2022-05-10 09:02] smeubank commented on #5061
Is your issue possibly related or same as this issue we are working on at the moment? https://github.com/getsentry/sentry-javascript/issues/3865

[2022-05-10 09:03] smeubank commented on #3865
@stavalfi hmm yes disappointing :(  this is not the same as issue as how this issue started. You are blocked entirely vs just having all the bloat from CLI in prod bundle

[2022-05-10 09:11] rsereir commented on #5061
@smeubank Hey, thanks for your answer

It's maybe related to #3865 because if sentry-cli is moved to dev dependencies, it's solve my issue. But in #3865 nothing about authentication error on production

[2022-05-10 09:15] smeubank commented on #5061
someone from the team can have a look at it, I don't know for sure, but I would hope if removing cli from build this would become a non-top

Could you try out the beta release for V7 and let me know if that works, we want to make sure we get the right fix out

[2022-05-10 09:17] smeubank commented on #2957
My fault I let this one slip through. Slamming it on our Jira board and we will keep posted with our analysis and progress

[2022-05-10 09:21] kamilogorek commented on #3865
@stavalfi you need to provide project name for your cli config, as the error states - https://docs.sentry.io/platforms/javascript/guides/nextjs/manual-setup/#use-configuration-files
Not sure why you don't have this automatically set, as I don't know the context, but this will fix it.

[2022-05-10 10:48] timfish commented on #5036
I agree with Katie that it feels like everything should be in the event object.

[Here](https://github.com/getsentry/sentry-javascript/issues/4996#issuecomment-1111226607) @philipphofmann said:

Is there any specific reason for this?

While it's convenient that `event` can currently be serialised straight into the event envelope, that probably shouldn't be a concern of users of the API.

The only

[2022-05-10 12:05] joshstrange commented on #2957
So this is a very unhelpful comment.

First, the issue has been identified, it’s a problem with their walk function. It doesn’t detect circular references and will keep walking until the browser runs out of memory.

Second, reproduction steps have been provided: use a router guard that redirects to a different page and the error that it throws will cause this issue. Though I expect this can be rep

[2022-05-10 12:06] philipphofmann commented on #5036
I think that is the reason itself. Maybe @bruno-garcia or @marandaneto, can you elaborate?

[2022-05-10 12:18] rsereir commented on #5061
@smeubank Same error with 7.0 beta 0

[2022-05-10 13:08] Lms24 commented on #4882
Hi @mlmmn
Our main goals for v7 were to refactor and restructure multiple aspects of our SDK to reduce bundle size, increase tree shaking support and prepare it for upcoming features. The changes are outlined in our [updated v7 roadmap](https://github.com/getsentry/sentry-javascript/issues/4240#issuecomment-1035323682). It should be noted that we decided to cut scope from the original release plan

[2022-05-10 14:30] slaesh opened #5063 "startTransaction creates a transaction, but getActiveTransaction returns undefined: leads to no sentry-trace header"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/angular

[2022-05-11 06:13] panghaoyuan opened #5072 "urlPrefix not woking in upload sourcemap"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Self-hosted/on-premise

### Which package are you using?

@sentry/nextjs

[2022-05-11 06:14] panghaoyuan commented on #5072
I have the same bug. But I checked the source code and couldn't find the cause of the bug

[source code url](https://github.com/getsentry/sentry-javascript/blob/master/packages/nextjs/src/config/webpack.ts#L292)

Maybe this bug is caused here But I don't know why
[code]

[2022-05-11 06:45] panghaoyuan commented on #5072
here has the same bug [4835](https://github.com/getsentry/sentry-javascript/issues/4835)

[2022-05-11 09:06] Lms24 commented on #5063
Hi @slaesh, thanks for writing in. I remember coming across a similar problem some time ago so let's see if we can find something here. Just as a heads-up, we're currently actively working on v7 of our JS SDKs (see #4882) which means that it might take a little longer than usual to get to the bottom of this. I just have a few questions:
* Did you also install `@sentry/tracing` alongside `@sentry/a

[2022-05-11 09:09] lforst commented on #5072
Hi @panghaoyuan, we do not recommend overriding the `urlPrefix` option in the next SDK ([see here](https://docs.sentry.io/platforms/javascript/guides/nextjs/manual-setup/#:~:text=overriding%20them%20is%20not%0A%20%20//%20recommended)). Can you share with us what you are trying to achieve?

Also, can you check if next's [basePath](https://nextjs.org/docs/api-reference/next.config.js/basepath) optio

[2022-05-11 09:19] lforst commented on #5061
Hi, this is a known issue we want to fix very very soon. Blocking people's `next build` is not ok.

For now, please set the following environment variables in your CI:
- SENTRY_ORG
- SENTRY_PROJECT
- SENTRY_AUTH_TOKEN (You can find the token [here](https://sentry.io/settings/account/api/auth-tokens/) - make sure it has the `project:releases` scope)

More information on those settings: https://docs

[2022-05-11 10:30] slaesh commented on #5063
thanks @Lms24, that's fine. thanks for your quick reply though! it does not block us currently, but would make our lives easier to have this distributed tracing (automatically, not by hand)..

so, yeah both packages are installed.

imports are used from the angular package:
`import { getActiveTransaction, startTransaction } from '@sentry/angular';`

angular 13.3.4 is used

some more insights: I de

[2022-05-11 11:16] slaesh commented on #5063
with the v7 its not working either.. only request where it works is the `op: 'pageload'`.. so in "general" it somehow works.. but the key is the "active transaction".. why would `startTransaction` no be an "active one"? =)

[2022-05-11 16:32] dmvvilela commented on #3036
This is absurd.. Just trying out Sentry and it didn't even work once because of this...

[2022-05-11 17:43] lforst commented on #3036
Hi, generally I think having a size limit is reasonable.

One thing that comes to mind to resolve your issues would be to either set [`normalizeDepth`](https://docs.sentry.io/platforms/javascript/configuration/options/#normalize-depth), or [`normalizeMaxBreadth`](https://docs.sentry.io/platforms/javascript/configuration/options/#normalize-max-breadth) in the init options. Of course, when using eit

[2022-05-11 18:37] yousefa00 opened #5080 "Attachment API isn't working as expected"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/node

#

[2022-05-11 21:14] mhkhansahab commented on #4098
Yeah @JamesXiaoFF, I have found the solution.
I have used RavenJS for error logging of Service Worker, RavenJS is a Javascript SDK for Sentry. If you want to add Sentry on Service Worker(Background.js) use below snippet:

[code]

  In Content Script and PopupJS I used @sentry/browser, you can use below snippet:

[code]

[2022-05-11 22:03] dmvvilela commented on #3036
So dropping errors silently altogether is reasonable huh? Ok then

[2022-05-11 22:26] JVMartin commented on #4731
I'm on 6.18.7 and still have this issue, the result is undefined unless I import `@sentry/tracing`.

[2022-05-12 07:43] smeubank commented on #5080
hi @yousefa00

there is an existing issue requesting proper Attachments API support, and this PR which should be merged relatively soon in a V7 beta release https://github.com/getsentry/sentry-javascript/pull/5004. I might be best to look for that unless you need it right away.

[2022-05-12 07:46] smeubank commented on #5061
thanks for helping out @lforst ! 🌮

@msafi your issue is resolved then?

[2022-05-12 07:51] hhrong2312 opened #5099 "window.console.log Breadcrumb can't run in "Chrome Webview 81.0.4044.145""
### Environment

[self-hosted (https://browser.sentry-cdn.com/6.19.7/bundle.min.js)

### Version

6.19.6

_No response_

### Steps to Reproduce

[code]

### Expected Result

# expect

## error

[code]

## breadcrumbs

[code]

### Actual Result

# expect

## error

[code]

## breadcrumbs

[code]

[2022-05-12 09:41] lforst commented on #4731
@JVMartin We thought we fixed this in https://github.com/getsentry/sentry-javascript/pull/4955. Can you double check if you have version 6.19.7 in your node_modules (or simply post the output of `npm ls @sentry/core`)? If yes, we should investigate further.

[2022-05-12 09:41] kjarri commented on #4995
I see this was closed,  but the issue is still there. To get around this for now, I added the current hashes for the scripts, but that will break if the scripts change in the future.

Is there anything else I can do (except for 'unsafe-inline' in script-src-elem. I won't do that.)

[2022-05-12 11:44] msafi commented on #5061
@smeubank as far as i can tell. yes!

[2022-05-12 14:15] gpichot commented on #4103
Just adding a quick message I stumbled on this error with using nx, sentry and next. I read to quickly [the documentation](https://docs.sentry.io/platforms/javascript/guides/nextjs/manual-setup/) and missed this part :

If `withSentryConfig` is not the last function to applied, tracing will not work :

[code]

[2022-05-12 17:21] rsereir commented on #5061
Perfect for me too ! Thanks @lforst  :)

[2022-05-12 17:21] #5061 closed

[2022-05-12 18:59] #4660 closed

[2022-05-12 19:00] AbhiPrasad commented on #3961
Done with https://github.com/getsentry/sentry-javascript/tree/master/packages/node-integration-tests/suites/tracing/auto-instrument

[2022-05-12 19:00] #3961 closed

[2022-05-12 19:00] #4208 closed

[2022-05-12 20:18] AbhiPrasad commented on #4417
This is done with v7. See the new transport API: https://github.com/getsentry/sentry-javascript/blob/7.x/MIGRATION.md#transport-changes

[2022-05-12 20:18] #4417 closed

[2022-05-12 20:18] #2605 closed

[2022-05-12 23:08] JVMartin commented on #4731
@lforst Yes, 100% sure. Here's the breakdown of what happened...

We were working great in production, then we shipped this upgrade:
[code]

Production went down because `startTransaction` started to return `undefined`.

We updated the file that calls `startTransaction` with:
[code]

And then production recovered.

Here is the full file with the patch included:
[code]

^ this file was working fine

[2022-05-13 02:31] panghaoyuan commented on #5072
@lforst

I think i set bastPath is not good.
my siteUrl is  `www.xxx.com` if i set `basePath`. my siteUrl will be change.
sach as
`www.xxx.com` => `www.xxx.com/[basePath]`
`www.xxx.com/homePage` => `www.xxx.com/[basePath]/homePage`

if i am not set urlPrefix.   sentry ARTIFACT is `~/_next/server/chunks/1082.js`
my sourcemap is useless in sentry.

i want my sentry ARTIFACT is `~/yuyang.m/_next/serv

[2022-05-13 03:30] svict4 commented on #4684
Hey @calix can you share your patch, however ugly?

[2022-05-13 04:00] webPlayer7 commented on #4684
That error disappear when I build in Linux. It occurs when only windows OS

[2022-05-13 05:31] yoyoys opened #5098 "showReportDialog needs extra"
### Problem Statement

Currently `showReportDialog` only send default system information, if we want inject extra information like application status is hard, now days the only way is add breadcrumb by console, but it's hard to query that.

### Solution Brainstorm

Adds extra option to `showReportDialog` API.

example:
[code]

[2022-05-13 07:12] lforst commented on #5099
Hi @hhrong2312, can you try the [`CaptureConsole`](https://docs.sentry.io/platforms/javascript/configuration/integrations/plugin/#captureconsole) integration and report back whether that fits your use case?

[2022-05-13 07:27] lforst commented on #4995
Hi, I just merged in https://github.com/getsentry/sentry-javascript/pull/5089 which will export a field `injectedScriptHashes` from the package. It holds an array of hashes of all injected script tags, so you should be able to use it in CSP headers/meta tags.

We currently froze development on version 6 of the SDK to prepare for version 7. This means that this change will be included earliest in t

[2022-05-13 07:39] lforst commented on #4862
Hi everyone, we just merged https://github.com/getsentry/sentry-javascript/pull/5090 which will hopefully get rid of this problem entirely.

The SDK should not throw anymore when transmitting errors to Sentry fails. In case of an error, the SDK will simply log the error (if you set `debug: true` in the `Sentry.init()` options). This change also made the `ignoreSentryErrors` option redundant so we

[2022-05-13 07:40] lforst commented on #4809
We just merged https://github.com/getsentry/sentry-javascript/pull/5090 which will hopefully get rid of this problem entirely.

The SDK should not throw anymore when transmitting errors to Sentry fails. In case of an error, the SDK will simply log the error (if you set `debug: true` in the `Sentry.init()` options).

We are currently amidst preparing for the v7 release of the SDK - meaning this cha

[2022-05-13 10:10] Lms24 commented on #5063
Hi @slaesh , thanks for getting back to me with the information.

I think I know what might be causing `getActiveTransaction` to return `undefined` here. According to the docs regarding [custom instrumentation](https://docs.sentry.io/platforms/javascript/performance/instrumentation/custom-instrumentation/), you should add the following line after calling `startTransaction` to set the returned tran

[2022-05-13 13:11] lforst commented on #2957
@joshstrange We are currently investigating this. Can we get some more information on your setup? What versions of the Sentry sdk and vue are you using? What packages are you using? The Sentry vue integration or the standalone sentry vue package? Thanks!

[2022-05-13 13:25] Zajozor commented on #2957
@lforst I believe my original report contains a link to a minimal (70 lines of code for the whole app) reproduction example.

Is there anything specific I can do to help provide more information?

Thanks!

[2022-05-13 13:30] lforst commented on #2957
@Zajozor the repro you provided was already very useful! We want to reproduce this issue with more recent versions of the SDK, because the vue integration (which is used in your example) will soon be discontinued in the upcoming major version of the SDK, which is why we want to direct our fixing efforts to the standalone package. It is unlikely that we will fix this issue retroactively for older v

[2022-05-13 14:07] joshstrange commented on #2957
@lforst I am using `@sentry/vue` (6.16.1, but I tried the newest version as well):

[code]

Those are my sentry-specific packages. I'm using Quasar as my overall framework which is using `vue` 2.6.14.

Is `@sentry/vue` what is being discontinued or something else? It looks like the [docs](https://docs.sentry.io/platforms/javascript/guides/vue/) still recommend using it but maybe you all haven't fu

[2022-05-13 15:05] lforst commented on #4731
@JVMartin just checked back with the rest of the team. In short: The way you've set up things right now is the intended and correct way. We have updated [the docs](https://docs.sentry.io/platforms/node/#configure) to list `import '@sentry/tracing';` as a required import statement.

For anyone stumbling onto this issue, please import as follows for tracing to work:

[code]

[2022-05-13 15:05] #4731 closed

[2022-05-13 15:22] lforst commented on #2957
@joshstrange We will discontinue the Vue integration that lives in `@sentry/integrations` - the docs shouldn't reference it anymore but the original repro example still uses it (I guess this issue is already quite old 😬). `@sentry/vue` will live on :)

`@sentry/vue` is also what we would like to find a fix for. It would be extremely helpful if you could provide just a minimal reproduction using an

[2022-05-13 15:25] AbhiPrasad opened #5103 "Add Playwright integration tests for React, Vue components"
### Problem Statement

Playwright now allows you to test mounting components: https://playwright.dev/docs/test-components

We should take advantage of this.

### Solution Brainstorm

React tests
- [ ] ErrorBoundary
- [ ] `withProfiler` HOC

Vue tests
- [ ] Performance monitoring

[2022-05-13 16:22] joshstrange commented on #2957
@lforst Ok, I've been trying to reproduce in a single html file but I'm not having any luck. However even while using `@sentry/vue` in my app I can reproduce easily. I'm going to have to spin up a full project to replicate this better but I'm working on it.

[2022-05-13 17:02] #5063 closed

[2022-05-13 17:59] bscaspar commented on #2707
@smeubank thanks for the update! A quick analysis using `@next/bundle-analyzer`, switching from `v6.17.4` to `v7.0.0-beta.1` shows a gzipped client-side package reduction from 26.93kb to 23.53kb. I appreciate the work that went into this and the small savings!

We use Sentry very simply - on the client side = `captureException`, `captureMessage`, `flush` , and on the server =  `withSentry`. (plus

[2022-05-13 18:12] joshstrange commented on #2957
@lforst Ok, I thought I had done this on my main project to no avail but I attempted to pair down the integrations I used to be minimal and I found that `ExtraErrorData` is what is causing this for me.

I have a repo here: https://github.com/joshstrange/sentry-bug (You'll have to put in a DSN in `src/boot/sentry.ts`) and it reproduces the issue I had. The console will blow up and the page will fre

[2022-05-15 20:32] zachwe opened #5107 "Server side rendering fails on Netlify with Sentry + NextJS + Yarn PnP"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/nextjs

[2022-05-16 07:09] jmfrancois opened #5108 "build folder is missing in 7.0 beta"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/browser

[2022-05-16 07:16] lobsterkatie commented on #5108
Hi, @jmfrancois.

Thanks for writing in. To my knowledge, use of our SDK through CDNs other than our own has never been a supported use case. The SDK is available on our own CDN, and on npm. More information can be found [here](https://docs.sentry.io/platforms/javascript/install/).

[2022-05-16 09:11] berkelmas opened #5109 "ansi-regex needs to be updated due to vulnerability"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/nextjs

[2022-05-16 09:50] cristianlivella opened #5110 "allowDuplicates is no longer available? How can I send the same message multiple time?"
### Is there an existing issue for this?

- [x] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/react

[2022-05-16 10:27] belgattitude commented on #3865
@smeubank Here's some quick tests with `@sentry/nextjs@7.0.0-beta.1`

## On the server side

sentry-cli is well removed :100:, congrats ! Tested on vercel (lambdas) with latest nextjs 12.1.6

![image](https://user-images.githubusercontent.com/259798/168571767-2c134446-540f-4310-81fd-879419252e72.png)

Unrelated to this issue, but worth to share:

## Throttling

When uploading sourcemaps the reques

[2022-05-16 10:39] belgattitude commented on #4882
Worth to mention: https://github.com/getsentry/sentry-javascript/issues/3865#issuecomment-1127497194

[2022-05-16 14:30] lforst commented on #2957
@joshstrange awesome, thank you very much! We will look into it.

[2022-05-16 16:01] AbhiPrasad commented on #3865
@belgattitude - https://docs.sentry.io/platforms/javascript/guides/nextjs/configuration/tree-shaking/ should give you even more savings! Thanks for the feedback, this is something we'll keep improving on!

[2022-05-16 16:11] AbhiPrasad commented on #2707
@bscaspar thanks for the feedback, great to see some savings there. If you want to do even more, you can tree-shake out debug logic as well as any of the [default integrations](https://docs.sentry.io/platforms/javascript/configuration/integrations/default/) we use: https://sentry-docs-git-lms-treeshake-def-integrations.sentry.dev/platforms/javascript/configuration/tree-shaking/.

Maybe https://git

[2022-05-16 16:51] lforst commented on #5110
Hi, the `allowDuplicates` option was indeed removed. The mechanism responsible for deduplicating requests is the `Dedupe` integration - it is enabled by default. You can remove it with the following code:

[code]

More on integrations: https://docs.sentry.io/platforms/javascript/configuration/integrations/

[2022-05-17 11:50] lforst commented on #2957
@joshstrange I took a look at your reproduction case. Thanks again for providing it! I believe the slowdown happens here because the `ExtraErrorData` integration attaches data about the matched routes. This data happens to be huge and non-circular, resulting in _a ton_ of computation when serializing it. Additionally, vue doesn't seem to like it when we try to access certain fields of this data, a

[2022-05-17 12:54] belgattitude commented on #3865
I guess `@sentry/nextjs:7.0.0-beta.1` does already the job.

Attempt here https://github.com/belgattitude/nextjs-monorepo-example/pull/1863, but haven't seen any significant difference (58kb vs 59kb for sentry ). Tested with `swcMinify: true`. Not tested with terser.

Always open to ideas, I'll keep giving some feedbacks along the beta's, let me know if you want to try out things.

Keep up shining

[2022-05-17 13:12] simmons-kyle opened #5116 "Unable to initialize Sentry SDK - "utils_1.PromiseBuffer is not a constructor""
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/node

#

[2022-05-17 14:17] joshstrange commented on #2957
That makes perfect sense given what you found and I really appreciate you all digging into this more. I'm not 100% sure where the `depth: 20` came from originally (I want to say the docs but it might have been from some blog/tutorial I found) but I'm glad that we can re-add this integration safely.

I tested `7.0.0-beta.1` and set my depth to 4 and I was unable to reproduce. When `7.0.0` (stable)

[2022-05-17 18:12] SujayPrabhu96 commented on #4956
Strapi version 4.11.1 upgraded to latest Sentry version. This fixed the issue. So, closing this

[2022-05-17 18:12] #4956 closed

[2022-05-17 18:19] AbhiPrasad commented on #5109
Hey, thanks for writing in! We'll backlog this to fix. In the meantime, you can ping package resolutions to get around this!

[2022-05-17 19:56] berkelmas commented on #5109
Sure I will use npm overrides for now probably 👍

[2022-05-18 07:43] cristianlivella commented on #5110
Got it, thanks!

[2022-05-18 07:43] #5110 closed

[2022-05-18 07:51] thienna-beincomm opened #5130 "Init with environment config not working"
### Environment

SaaS (https://sentry.io/)

### Version

_No response_

### Steps to Reproduce

My project using NextJS and deploy it with Vercel, I am integrating with Sentry and I want to filter environment to like dev, staging, production.
I have followed the instruction to pass the config environment to the Sentry init, but it doesn't work, any idea?

sentry.client.config.js
[code]

sentry.ser

[2022-05-18 09:39] simmons-kyle commented on #5116
Hey @Lms24 - here's the options object we pass to our `Sentry.init` call:

[code]
Is there anything there that could cause any red flags? We've verified that the values stored within the config object (SENTRY_DSN, APP_BUILD, APP_ENV) are present and correct too.

[2022-05-18 12:51] Lms24 commented on #5116
So, I took a look at the error stack and it seems weird to me that the SDK apparently tries to call constructors that aren't there. So I suspect that you might have some version mismatches in your Sentry packages. For example, the `DSN` class was removed in #4325 a while ago. Can you check if the versions of your Sentry packages are all the same?

As an example, `@sentry/node` depends on other Sen

[2022-05-18 12:55] simmons-kyle commented on #5116
Thanks @Lms24 - yeah we had matching versions for each of our sentry packages, however I believe we have a fix now and it's along the lines of what you suspect. What managed to fix it was removing the node_modules folder entirely and then running yarn (or npm install) again.

We had some back and forth on our repo with the versions changing and there must have been some dependencies which were out

[2022-05-18 12:55] #5116 closed

[2022-05-18 14:38] dnguyentien-lmi opened #5127 "Breadcrumb should allow string values for timestamp"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/node

#

[2022-05-19 00:26] #4945 closed

[2022-05-19 07:12] lforst commented on #5127
Hi @dnguyentien-lmi, thanks for writing in. You're right, the `timestamp` field currently only allows a `number` type. For now, please provide a timestamp as a number (seconds since unix epoch) if you need to overwrite the timestamp that is automatically inserted.

The specific docs [you linked](https://develop.sentry.dev/sdk/event-payloads/breadcrumbs/) are the DEV docs which document how to deve

[2022-05-19 07:26] smeubank commented on #4206
Sharing input from another channel here

![image](https://user-images.githubusercontent.com/47563310/169236388-869fdbf8-fd3c-4183-8b58-896f9a06a502.png)

https://nextjs.org/docs/api-reference/edge-runtime

[2022-05-19 07:31] lforst commented on #5107
Hi @zachwe, thanks for raising this issue. The error you're describing seems a bit weird to me and I have a suspicion the issue lies with netlify doing some magic with dependencies.

While trying to investigate this I stumbled on https://answers.netlify.com/t/error-cannot-find-module-netlify-functions-using-nextjs/36058 which looks very similar and affects another library - which might indicate th

[2022-05-19 07:32] smeubank opened #5129 "Sentry+Next.js example is broken"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/nextjs

[2022-05-19 07:57] lforst commented on #5130
Hi, I do not see anything wrong with your configuration. Are you using the [Sentry Vercel integration](https://docs.sentry.io/product/integrations/deployment/vercel/)? There you might be able to set the `SENTRY_ENVIRONMENT` env variable. [More info](https://docs.sentry.io/platforms/javascript/guides/nextjs/configuration/options/#environment).

Also, are you sending errors to sentry using the `cust

[2022-05-19 08:21] smeubank opened #5131 "What to report when throwing an non-error value"
### Problem Statement

Stemming from a discussion in discord and subsequent conversations with Vercel:

<img width="950" alt="image" src="https://user-images.githubusercontent.com/47563310/169242694-d09592b2-1bdd-4c90-a4f0-317c4d06b49b.png">

### Solution Brainstorm

Vercel has fixed to remove the unhelpful error in the example repo already
https://github.com/vercel/next.js/pull/36902

we could do

[2022-05-19 09:34] #3143 closed

[2022-05-19 09:36] smeubank commented on #4118
this is shipped in [betas for V7](https://github.com/getsentry/sentry-javascript/releases)! 🚀

we will close this request and would love to get any feedback on the usage!

[2022-05-19 09:36] #4118 closed

[2022-05-19 11:18] eric-burel commented on #4458
Hi, I think I am hitting a similar issue with sentry Next, but only during test in Cypress.
I feel like Next is handling that at build time, but not Cypress out of the box.

[code]

[2022-05-19 11:51] smeubank commented on #3865
closing this issue now that the fix is shipped and folks are reporting success 😄

for issues around how to better take advantage of the bundle size reductions in V7, including tree shaking, we might be better off moving those talks here https://github.com/getsentry/sentry-javascript/issues/4240 to include more folks

many thanks for your support and feedback @belgattitude! :)  it's been a long roa

[2022-05-19 11:51] #3865 closed

[2022-05-19 12:48] dnguyentien-lmi commented on #5127
Hi, thanks for the quick response :). Yes, for the time being will use number.

[2022-05-19 14:18] kamilogorek commented on #5129
This is a valid behavior, which is mentioned in the readme - https://github.com/vercel/next.js/tree/canary/examples/with-sentry

Updated docs to be more explicit - https://github.com/vercel/next.js/pull/37039

[2022-05-19 14:18] #5129 closed

[2022-05-19 16:42] schoonc commented on #4743
I don't know, but it's possible to pass an externally created ref into an application is a forbidden technique. And that's exactly what I was doing:
![image](https://user-images.githubusercontent.com/4659633/169352023-e19a180d-b689-48d7-b81f-aa961d73cda6.png)

It's probably better to emit an event from a component and pass in the event arguments the necessary data. In my case, I actually needed a

[2022-05-19 20:37] ydennisy commented on #3169
@kamilogorek this is still an active issue - please could you re-open and provide a workaround for Vue?

[2022-05-20 00:08] pfcodes commented on #4383
Docs should be updated to reflect this

[2022-05-20 10:15] gre commented on #2470
Thanks @wen-kai for your comment, we are having the same problem. Unfortunately Sentry logic isn't very protective and not preventing infinite loop in objects. an object that have nested inside some reference of a parent will **infinitely make dropUndefinedKeys loop** https://github.com/getsentry/sentry-javascript/blob/master/packages/utils/src/object.ts#L197

There is nothing "wrong" with the use

[2022-05-20 14:15] kamilogorek commented on #2470
@gre yes, please create a new one so that team can triage it, thanks!

[2022-05-20 14:15] kamilogorek commented on #3169
@ydennisy please open a new issue so that team can triage it, thanks!

[2022-05-21 21:32] wojtekelvis commented on #1762
Hello,

trying to understand if what I have found is a next memory leak, but it seems so.

After upgrading our @sentry/node from 5.19.1 to the newest one, version 6.19.7 discovered that inside  SessionFlusher constructor there is an assignment with setInterval function, but as far as I was testing it, I have never really caught any close function invocation meant for clearing initial setInterval f

[2022-05-21 21:44] wojtekelvis commented on #1762
Just as a side note, but as far as I can see also, after our upgrades (even with AutoSessionTracking set to false  ) our CPU is around 35% more loaded with work, is this the desired behavior? our current node.js version is 16.15.0 running on ubuntu 18, aws ec2 t3 micro.

[2022-05-22 01:43] pkaminski commented on #4371
I have a similar problem to @yousefa00.  I adapted @kldavis4's code above and get a `201 Created` when uploading the attachment, but nothing shows up in Sentry on the attachments tab.  One difference is that I grab the event ID from the return value of `Sentry.captureException` rather than in `beforeSend` or an event processor, but I don't imagine that ought to matter.

Can any from Sentry specula

[2022-05-23 07:07] lforst commented on #1762
Hi @wojtekelvis, the interval in the session flusher should only be created once and it should be cleaned up when the sentry client is closed. Do you happen to call `Sentry.Handlers.requestHandler()` continuously in your application? Can you share your stack and Sentry setup? Thanks!

[2022-05-23 10:11] nasonlee28 commented on #4098
Hi, @mhkhansahab I am working on Chrome extension MV3 and trying to integrate `raven-js` to send error logs to sentry in the background service worker. I tried the code you provided, but I got an `Illegal invocation` error in the `install` function.

<img width="819" alt="image" src="https://user-images.githubusercontent.com/40780828/169796415-10b30201-ecfc-4480-af25-6946c6b3c423.png">

Did you en

[2022-05-23 15:33] kylemh opened #5150 "[Next.js Plugin] Sentry Outages Cause Builds To Fail"
### Problem Statement

When Sentry has an outage and I am using the Next.js plugin, my builds all fail due to a Sentry 503 response.

### Solution Brainstorm

I'm not sure if this is the correct default behavior, but - if it is - I'd appreciate the caught error showing me ways that I can bypass the build-time error which is preventing me from shipping. This may obviously yield a build without sour

[2022-05-23 15:50] lforst commented on #5150
Hi, this is a known issue we want to fix very very soon. Blocking people's `next build` is not ok.

For now, can you try to use the [errorHandler](https://github.com/getsentry/sentry-webpack-plugin#:~:text=errorHandler) option in the webpack plugin and report back whether that worked?

[2022-05-23 17:26] lobsterkatie opened #5151 "[stacktrace parsing] Regex incorrectly truncating filenames with colons"
A customer reports that they have filenames with times in them (like `/releases/2022-05-16T11:27:37.760Z/app.js`), which are getting truncated at the first colon. Our regex [here](https://github.com/getsentry/sentry-javascript/blob/c518955b774e5bbc36e7f1a22410703469911a2a/packages/node/src/stack-parser.ts#L39) likely just needs to be updated to handle this case.

This is showing up in `@sentry/nod

[2022-05-23 23:51] kldavis4 commented on #4371
I did open a support ticket for this and asked

"Are attachments in nodejs sdk planned? What's the recommended solution/workaround for this? It doesn't really make intuitive sense that this would work in the javascript sdk but not the nodejs sdk."

and the reply was:

"I don't have any specific roadmap info for attachments to be added for the Node SDK, and unfortunately, there isn't an available w

[2022-05-24 00:22] pkaminski commented on #4371
Arrgh.  That's frustrating, but at least now I know we need to build our own workaround and there's no point in upgrading to Sentry's "Performance" tier.  Thanks!

[2022-05-24 03:35] pawlarius commented on #5130
I have the same issue. I've tried with Sentry Vercel integration and adding SENTRY_ENVIRONMENT as "staging".

And sentry somehow ignores that and set it as "production" 😭

I've tried without Sentry Vercel integration too, manually calling Sentry.init and setting the environment not working, seems like Sentry is reading from another env, probably NODE_ENV.

I read the sentry guide, it only said eit

[2022-05-24 03:49] pawlarius commented on #5130
Ok, i think i've got it working.

So first I'm connecting my project with [Sentry Vercel Integration](https://docs.sentry.io/product/integrations/deployment/vercel/), which will add some SENTRY environments to my Vercel.
For some reason, the env only available for Vercel production env, I change those for Vercel production,preview & development.

Then I follow instructions mentioned here [Sentry N

[2022-05-24 05:01] flex-jonghyen commented on #2957
I have same problem on React, I saw the PR to fix this problem. But can i use this fix on 6.x version?

[2022-05-24 09:27] signorbusi commented on #4534
I ran into this exact problem. Some warning in the documentation about this would have saved me a few hours of debugging and confusion.

[2022-05-24 11:25] SoftMemes opened #5158 "Support changing the header used for Sentry tracing across network hops"
### Problem Statement

I have an existing setup where backend services have tracing enabled via OpenTelemetry, and is not using Sentry for tracing. I'm now looking to add Sentry to a browser UI that will interact with these services, and would like to be able to have the Sentry client traces play nice with the existing backend trace setup.

I appreciate that this setup will allow only partial visi

[2022-05-24 11:38] lforst commented on #2957
Closing this as fix #5147 will be released in upcoming version.

[2022-05-24 11:38] #2957 closed

[2022-05-24 12:00] Lms24 commented on #5158
Hey @SoftMemes thanks for writing in. So what you're looking for would be a possibility to dynamically change the header name of `sentry-trace` (content stays the same), right? E.g. by adding a property in the `Sentry.init()` options?

I'll bring this suggestion up with the team. While I think it's worth considering, I can't make any promises on if (when) we're going to implement it. If you happen

[2022-05-24 13:16] lforst commented on #4371
Hi, we're adding support for attachments in v7 of the SDK (https://github.com/getsentry/sentry-javascript/pull/5004). We're providing a release candidate for that version in the upcoming days. Feel free to try it out and report back whether it fits your needs.

[2022-05-24 13:24] lforst commented on #4098
Hi, Raven.js is a very old version of our Sentry SDK and using it is discouraged! I just merged a PR that should fix this issue. We will have a release candidate for our upcoming v7 version soon. Please try it out and report back whether the fix resolved your issue!

[2022-05-24 13:44] vladanpaunovic commented on #5130
@pawlarius, you are right! 🎉

This is by Next.js's design. It is stripping environment variables exposed to the browser for security reasons. You can read more about it here - [Next.js: Exposing Environment Variables to the Browser](https://nextjs.org/docs/basic-features/environment-variables#exposing-environment-variables-to-the-browser), but essentially it boils down to this:

@thienna-beincomm,

[2022-05-24 14:04] kylemh commented on #5150
I tried:
[code]

but now my builds are failing regardless of a Sentry outage

[2022-05-25 00:26] #4947 closed

[2022-05-25 06:03] AlejandroAkbal commented on #4719
Having the same error pop up in my Sentry, what can I do?

[2022-05-25 08:17] lforst commented on #5150
Yeah, I see. Currently It's a bit difficult to define, when to ignore the error, and when to propagate. For now, the best bet for you would probably be to either always ignore errors, or to always keep them. Ignoring errors based on the message may work, but it may also be flakey and inconsistent across `sentry-webpack-plugin` releases.

I cannot make any promises but in the future, we will probab

[2022-05-25 08:41] kylemh commented on #5150
False alarm actually. It was an unrelated mistake. I'm going to reintroduce that code and hope for the best.

[2022-05-25 08:56] ibc commented on #1661
Our Node app sets a `process.on('uncaughtException')` listener that avoids process termination when an uncaught error happens. Then we enable Sentry and Sentry decides that the process should terminate on uncaught exception ¯\_(ツ)_/¯

Within the `uncaughtException` listener that Sentry installs, it could count the number of event listeners for `uncaughtException` and if >1 then do NOT exit the pro

[2022-05-25 10:06] jacklovett opened #5186 "Sourcemaps not showing correct file names in stack trace"
### Version

22.3.0

### Steps to Reproduce

I have a typescript (`4.1.2`), react (`17.0.2`) web application using webpack (`5.24.3`). I have been following provided instructions to get source maps to work but have had no luck.

Our application uses a basename in our urls which i suspect is the complication here. We use the version (`v1.0.4` for example) of the application like this:
`http://local

[2022-05-25 11:14] vladanpaunovic opened #5164 "Missing sentry-trace in XHR requests (.NET 6 with Razor Pages)"
### Discussed in https://github.com/getsentry/sentry-javascript/discussions/5152

<div type='discussions-op-text'>

<sup>Originally posted by **wpaprot** May 20, 2022</sup>
Hi,
I'm trying to set up distributed tracing in my app and I run into the issue with missing sentry-trace header in requests that originates in my frontend. Even simplest case/page does not work.

My setup looks as follows:

Ba

[2022-05-25 11:20] vladanpaunovic commented on #5164
@wpaprot is your .NET backend on the same origin as your frontend?

In case it differs, you may need to add `tracingOrigins` option to your `Sentry.init()`. Here is the [documentation](https://docs.sentry.io/platforms/javascript/guides/react/performance/instrumentation/automatic-instrumentation/#tracingorigins).

[2022-05-25 14:38] wpaprot commented on #5164
[vladanpaunovic](https://github.com/vladanpaunovic) It's on localhost (the same port) with local Sentry

[2022-05-26 22:24] DerZyklop commented on #5043
Can not test it right now. Not at work. But to satisfy your curiosity: Angular version is the latest v12.

[2022-05-27 09:01] qm88888888 opened #5170 "if my origin is abc://xxxxxx and schema is abc sentry is not work"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/nextjs

[2022-05-27 09:03] lforst commented on #5170
Hi @qm88888888 what is the exact network error that occurs?

[2022-05-27 09:47] qm88888888 commented on #5170
console show  network is error  but my other https request is ok

[2022-05-27 09:49] qm88888888 commented on #5170
I want know sentry is support url custom schema.

[2022-05-27 09:50] qm88888888 commented on #5170
I want know sentry is support url custom protocol.

[2022-05-27 10:29] lforst commented on #5170
Could you share a bit more information about the error? What does it look like? Where does it occur? Is it serverside or clientside? How can we reproduce it?

[2022-05-27 11:06] gre opened #5172 "React Navigation routing performance tracking: 'Maximum call stack size exceeded' in the /utils library"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/react

[2022-05-27 12:10] karlvd commented on #4829
I experienced the same problem and could narrow it down to v 6.17.0
Running ~6.16.0 works and will output a log during build like
`

██░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░  16.35KB/543.17KB (1s)

With ~6.17.0 and above there is no output at all with SENTRY_LOG_LEVEL=debug

A temporary solution is to downgrade to ~6.16.0

[2022-05-27 12:20] erikjalevik commented on #3939
I'm seeing a slightly different version of this error in an Electron app using the `@sentry/electron` npm package.

I'm doing a vanilla init with just:

[code]

Since I already have a `window.onerror` handler registered, I added a `Sentry.captureException(error)` in there, otherwise Sentry would not pick up the error.

Thereafter I am seeing the following in the console:

[code]

However, the erro

[2022-05-27 12:50] lforst commented on #5172
Hi @gre, thanks for raising this issue. I saw your comment in https://github.com/getsentry/sentry-javascript/issues/2470#issuecomment-1132730854.

We are currently working on a fix for the SDK to be more defensive when being passed objects with circular references.

You can track progress in:
- https://github.com/getsentry/sentry-javascript/pull/5163 (This one fixes the infinite recursion and is a

[2022-05-27 13:31] gre commented on #5172
@lforst awesome to hear. thanks

[2022-05-27 20:15] seahindeniz commented on #2732
Hey @artaommahe, have you tried the following way?

[code]

[2022-05-29 10:00] ZerdoX-x opened #5174 "ReportingObserver doesn't filter issues with `denyUrls`"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/browser

[2022-05-29 10:22] ZerdoX-x commented on #5174
My workaround:

[code]

[2022-05-29 11:03] ZerdoX-x commented on #4719
@lobsterkatie in which release is this fixed? still facing this in 6.19.7
Also can't find your PR in CHANGELOG.md

[2022-05-29 23:31] AlastairTaft commented on #4582
I have to agree having an error reporting package that can bring down your application is incredibly scary. I added a lambda wrapper feeling confident it would sit there silently and not interrupt the actual logic.

If you're building an error reporting tool, you absolutely cannot do stuff like this. Test more scenarios.

[2022-05-30 07:13] fpoppinga commented on #4809
We are observing the following problem, which seems to be related to this issue:

When our sentry subscription runs out of transactions (i.e. we reach for example 100k transactions included in the minimum price business subscription), our functions start to hang all the time. There is a perfect correlation in our metrics between cloud functions hanging and sentry transactions running out.

I suspe

[2022-05-30 08:14] AbhiPrasad commented on #1661
We could also expose an option here for full backwards compatibility. Re-opening and adding to the backlog. PRs welcome!

[2022-05-30 08:16] fpoppinga commented on #4809
Downgrading `@sentry/serverless` and `@sentry/tracing` to `6.10.7` fixes the issue I described above. I did not try any intermediate versions between `6.10.7` and `6.19.7` though.

[2022-05-30 08:19] lforst commented on #1661
Not sure if that would work but we could also check for any listeners using [`process.listeners('uncaughtException')`](https://nodejs.org/docs/latest-v8.x/api/events.html#events_emitter_listeners_eventname) and adjust the SDK's behaviour based on that. (i.e. exit process if no other listeners, don't exit if there are other handlers)

[2022-05-30 08:31] fpoppinga commented on #4809
@lforst Thanks for getting back to me, alright, I'll look into upgrading to 7 ASAP then :)

[2022-05-30 09:43] ibc commented on #1661
PR here https://github.com/getsentry/sentry-javascript/pull/5176

[2022-05-30 11:08] lforst commented on #4974
Hi, sorry for not getting back to you sooner. Could you resolve the issue?

If not, here's what I would check. For sentry to pick up your source maps, the comment at the bottom of your minified file (e.g. `//# sourceMappingURL=foobar.js.map`) needs to match the path of the uploaded artifacts in the sentry interface (e.g. `~/foobar.js.map`). Both the minified file, and the source map need to be upl

[2022-05-30 11:09] #3067 closed

[2022-05-30 11:10] AbhiPrasad commented on #4996
The initial version of the attachments API is available with the v7 release candidate, so closing this issue. We can open new issues as we iterate on in further.

[2022-05-30 11:10] #4996 closed

[2022-05-30 11:12] AbhiPrasad commented on #2738
This should be done with v7. See https://github.com/getsentry/sentry-javascript/blob/7.x/MIGRATION.md#explicit-client-options for more details.

[2022-05-30 11:12] #2738 closed

[2022-05-30 11:36] smeubank commented on #5150
do we still have a known issue but not related to this specific issue? Asking if we should close this issue & reference or create another issue.

[2022-05-30 12:08] #4240 closed

[2022-05-30 12:08] #4882 closed

[2022-05-30 12:35] AbhiPrasad commented on #4882
v7 has been released! Please reach out if you have any feedback!

https://github.com/getsentry/sentry-javascript/releases/tag/7.0.0

https://www.npmjs.com/package/@sentry/browser/v/7.0.0

https://www.npmjs.com/package/@sentry/node/v/7.0.0

[2022-05-30 12:36] AbhiPrasad commented on #4240
v7 has been released! Please reach out if you have any feedback!

https://github.com/getsentry/sentry-javascript/releases/tag/7.0.0

https://www.npmjs.com/package/@sentry/browser/v/7.0.0

https://www.npmjs.com/package/@sentry/node/v/7.0.0

[2022-05-30 12:53] philipphofmann commented on #4996
@AbhiPrasad, it would be nice to link the related PR(s).

[2022-05-30 13:07] AbhiPrasad commented on #4996
PRs linked in description @philipphofmann

[2022-05-30 13:17] lforst commented on #5150
@smeubank We had https://github.com/getsentry/sentry-javascript/issues/5061 but it's closed.

I suggest we close this issue and open a new one which suggests to change the behaviour of the webpack plugin not to throw on failed source map upload. Probably best to open that issue over at https://github.com/getsentry/sentry-webpack-plugin.

[2022-05-30 13:19] AbhiPrasad commented on #4722
Closing this for now since we've released v7: https://github.com/getsentry/sentry-javascript/releases/tag/7.0.0

[2022-05-30 13:19] #4722 closed

[2022-05-30 13:20] #2539 closed

[2022-05-30 15:16] #5043 closed

[2022-05-30 17:12] belgattitude commented on #4722
@AbhiPrasad congrats it works perfect :100:  Thanks a lot

PS: Note for others, simply add this in next.config.js

[code]

[2022-05-30 17:59] markivancho opened #5179 "Dev console errors are thrown to sentry"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/react

[2022-05-30 18:30] belgattitude commented on #4882
Congrats for the amazing 7 :100:

[2022-05-30 23:09] apswak commented on #2732
Hi @kamilogorek has this been dropped from v7 support? I've upgraded to v7 and am still getting the same issue (no breadcrumbs coming through)

@seahindeniz unfortunately specifying it in Integrations explicitly like your example didn't help either.

[2022-05-30 23:57] apswak opened #5181 "Sentry V7 - Breadcrumbs (& other Integrations) not sending from BrowserClient or Hub"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry SAAS (sentry.io)

### Which package are you using?

@sentry/react

[2022-05-31 06:41] jelhan opened #5182 "Different installation instructions in documentation for Ember and readme for @sentry/ember package"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Self-hosted/on-premise

### Which package are you using?

@sentry/ember

#

[2022-05-31 06:57] whyour opened #5183 "shouldCreateSpanForRequest cannot filter resource"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/react

[2022-05-31 07:30] qm88888888 commented on #5170
Sorry for being too busy lately.  This question is sent on the client side.  When opening a URL with a custom protocol, such as wk://xxx, this requires the upper layer (app) to intercept the protocol and specify the wk protocol as the https protocol. But the allowed hosts I configured are *.  I suspect that the problem is caused by cross-domain custom protocols, so I want to know whether sentry's

[2022-05-31 07:38] Lms24 commented on #5181
Hi @apswak and thanks for reporting!

To start the triaging process, I wanted to ask if your `integrations` variable contains the `Breadcrumbs` integration?
I'm asking because in v7, we refactored the options you pass to the `BrowserClient` constructor to the [`BrowserClientOptions`](https://github.com/getsentry/sentry-javascript/blob/8f2a216db8e4a2dfd2bb5f16850c9f4304be37f6/packages/browser/src/c

[2022-05-31 08:11] Lms24 commented on #5183
Hi @whyour and thanks for writing in!
I just wanted to ask for clarification before investigating: What you would like to achieve is to not create a span for outgoing _resource_ requests, correct?

Can you show me your `shouldCreateSpanForResource` function? Is it even called for the resource request?

Also, we just released v7.0.0 of the Sentry SDK so we strongly encourage updating to the new maj

[2022-05-31 08:12] apswak commented on #5181
Hi @Lms24 thanks for the quick response!

Yes I can confirm that breadcrumbs were explicitly listed in my integrations variable, I had it as follows:

[code]

The reason I'm specifying breadcrumbs and http (formally known as user agent?) is because they weren't coming through so wanted to be sure they are in there.

I've also retried just setting it to `defaultIntegrations` as you suggested and I'

[2022-05-31 08:39] Lms24 commented on #5181
Thanks for clarifying!

Yes, exactly. The `UserAgent` integration was renamed to `HttpContext` (because it's doing more than just collecting user-agent information)

I brought your issue up to the team and we have some more ideas.

In your code it doesn't seem like you're using the `Hub` class. You could try creating hubs for your clients as described in [our docs here](https://docs.sentry.io/plat

[2022-05-31 09:31] alexgibson opened #5184 "Sentry v7 - Error in IE11 even after transpiling with babel"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/browser

[2022-05-31 11:09] Lms24 commented on #5182
Hi @jelhan and thanks for reporting! You're right of course, our documentation should be consistent and up to date everywhere.

Since my knowledge on Ember is rather limited you think that the instructions on the setup in the `README.md` file are more accurate, right? I'll add this to our backlog to consolidate the two versions.

Maybe @k-fish, you could take a quick look and confirm with which ve

[2022-05-31 11:19] Lms24 commented on #5179
Hi @markivancho and thanks for reporting! I was able to reproduce this in the SDK version 7.0.0 with Chrome 102, too. I'll bring it up with the team and we'll look into it.

[2022-05-31 11:21] markivancho commented on #5179
@Lms24 thanks for the follow-up! Looking forward for the fix, either from chromium or you :)

[2022-05-31 11:22] AbhiPrasad opened #5185 "Introduce Multiplexing Transport"
### Problem Statement

Usage of multiple hubs/clients has been a long standing issue within the SDK. https://github.com/getsentry/sentry-javascript/issues?q=is%3Aopen+is%3Aissue+label%3A%22Feature%3A+Multiple+hubs%2Fclients%22

A big use case for using multi-hub is to send Sentry event's to different projects. By introducing an optional transport multiplexer, we can allow users to route envelopes

[2022-05-31 11:30] AbhiPrasad commented on #5184
Hey, thanks for writing in! This is strange 🤔. The code that appears to be problematic here is a a IIFE we use in `@sentry/utils` in `time.ts`.

We just tested this and couldn't reproduce.

![image](https://user-images.githubusercontent.com/18689448/171163059-c7038fd6-b869-4112-a858-d2d79783184c.png)

(used https://es6console.com/ + https://unpkg.com/@sentry/utils@7.0.0/esm/time.js )

Could you pr

[2022-05-31 11:41] jelhan commented on #5182
I used the instructions provided in readme of NPM package successfully. I haven't tried the others.

In general the instructions in the readme seem to better align with established patterns in Ember ecosystem. Especially in regards to configuring an addon through `config/environment.js` or a custom file in `config`.

I only have very limited time for open source currently. I fear I can't help with

[2022-05-31 11:42] alexgibson commented on #5184
Here's a link to our compiled output: https://www-demo1.allizom.org/media/js/sentry.js

[2022-05-31 11:59] Lms24 commented on #5179
Hi @markivancho, we found the problem why these errors are suddenly thrown. It's Chromium related starting with 102 (as you reported) and was possibly [introduced here](https://chromium-review.googlesource.com/c/v8/v8/+/3557234/). It was [fixed](https://chromium-review.googlesource.com/c/v8/v8/+/3660253) a few days later but the fix isn't yet in a stable chromium version which is why we're gonna g

[2022-05-31 13:06] lforst commented on #5170
Hi, I still don't quite understand what the error is you're getting. Can you provide a reproduction example?

Few things to try regardless:
- Whilelist `*.sentry.io/api*` for your intranet/proxy
- Maybe https://docs.sentry.io/platforms/node/configuration/options/#http-proxy works for you?

[2022-05-31 14:43] chadwhitacre commented on #5186
Bumping this over to sentry-javascript repo as this seems to have more to do with sourcemaps than with self-hosted (could be wrong).

[2022-05-31 15:11] k-fish commented on #5182
Thanks for mentioning it to us. The README is the old version before we made some changes to make the Ember sdk more consistent with the rest of our sdks, but more importantly the way Ember initializers work makes it harder to have consistent config when solely providing it through the environment file so we had to make use of Ember macros, which we ran into trouble with when using newer versions

[2022-05-31 15:53] apswak commented on #5181
Thanks for the suggestions @Lms24.

As for your `client.setupIntegrations()` tip I tried doing the following:

[code]

and also adding it before the exception ie:

[code]

neither of which worked unfortunately.

This led me onto trying out the `Hub` setup, I changed my `createClient` mentioned in OP to:

[code]

then changed all the calls to use `createHub` instead of `createClient`. Now when call

[2022-05-31 15:56] lforst commented on #5186
Hi @jacklovett, can you try using `sentry-cli sourcemaps explain --help` with the newest version of the Sentry CLI to troubleshoot your issue?

[2022-05-31 16:09] AbhiPrasad commented on #4118
[v7 has been officially released](https://github.com/getsentry/sentry-javascript/releases/tag/7.0.0)! Please see our full set of docs for using this integration: https://docs.sentry.io/platforms/javascript/guides/react/configuration/integrations/react-router/#react-router-v6

[2022-05-31 19:09] bwittenberg commented on #3408
Any plans to update the `useProfiler` hook? I'd prefer to use it instead of the HOC.

[2022-05-31 20:53] kylemh commented on #5150
I'll go ahead and unsubscribe and presume you'll close it when the issue is made. 🙏🏼

[2022-05-31 23:28] ihmpavel opened #5188 "Sentry v7 Attachments API unable to add to one event"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/browser

[2022-06-01 05:59] jacklovett commented on #5186
Hi @lforst, I am using the SentryWebpackPlugin instead of the sentry-cli. I don't see an option for `explain -- help`. Maybe you can explain more how i can achieve this? Thanks!

[2022-06-01 10:11] Lms24 commented on #5179
Hey @markivancho (and everyone else who's getting these errors),

we're still discussing how to best filter such browser-caused errors in the future automatically. In the meantime, you have a couple of options on how to filter these events out manually:

### Using `beforeSend`

You can add a filter criterion for `beforeSend` in `Sentry.init`. Something along these lines:

1. Filter out all events

[2022-06-01 10:50] ihmpavel commented on #5188
Hi, I am still not sure I get it right.

With `hint` I though I will be able to do `captureMessage('name', { options }, { attachments })`

If you can check the `captureException` function, it only accepts two parameters (not the `hint`) https://github.com/getsentry/sentry-javascript/blob/master/packages/hub/src/exports.ts#L45-L55

Function in `hub` accepts the hint. https://github.com/getsentry/se

[2022-06-01 11:02] jacklovett commented on #5186
Sorry, i need more information than this. I am not using sentry-cli and i do not know what `sentry-cli sourcemaps explain` is or how to use it for my use case.

[2022-06-01 11:07] kamilogorek commented on #5186
Oh ok, let me be more explicit then. `sentry-cli` is our automated tool to work with source maps, debug symbols, and the Sentry itself. You can find installation and configuration guides here https://docs.sentry.io/product/cli/

Once you have it installed (or as mentioned above, you can use `npx` to not install it permanently, but rather use it ad-hoc), and configured with your authentication toke

[2022-06-01 11:14] markivancho commented on #5179
@Lms24 thanks for providing possible solutions, very much appreciated

[2022-06-01 12:22] jacklovett commented on #5186
hmm...every event i try cannot be retrieved giving 404 error. I am using the following command:
`npx @sentry/cli sourcemaps explain d9205b144eb54e1783a3ce954cf4d1e6`
The event id is taken from the place that you showed in your screenshot.
Error:
[code]

[2022-06-01 12:28] kamilogorek commented on #5186
It looks like you are using on-premise instance? (base on `https://sentry.org-name.com` listed above).
In case you do, you need to update `SENTRY_URL` as well - https://docs.sentry.io/product/cli/configuration/#configuration-file
Otherwise it's querying sentry.io

[2022-06-01 12:33] jacklovett commented on #5186
I have updated the url in my .sentryclirc file to use the correct on-premise instance.

[2022-06-01 12:38] lforst commented on #4809
Closing this because we released v7 - feel free to ping me if there are any outstanding issues!

[2022-06-01 12:38] #4809 closed

[2022-06-01 12:59] lforst commented on #4371
Happy to announce that we released the Attachments API with v7! Please see https://docs.sentry.io/platforms/javascript/enriching-events/attachments/ on how to use it.

Closing this for now. Feel free to ping me here if there are any questions!

[2022-06-01 12:59] #4371 closed

[2022-06-01 15:15] lforst commented on #5150
Let's track this in https://github.com/getsentry/sentry-webpack-plugin/issues/379

[2022-06-01 15:15] #5150 closed

[2022-06-01 18:38] ZerdoX-x commented on #5174
Thanks for attention to this issue.

I would like to provide a PR but don't really understand how I can retreive `denyUrls` option inside [reportingobserver.ts](https://github.com/getsentry/sentry-javascript/blob/master/packages/integrations/src/reportingobserver.ts)

This seems like pretty easy to implement but at the same time it's really important change which requires updating docs and maybe w

[2022-06-01 20:56] jamding opened #5189 "Ie11 syntax error"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/react

[2022-06-01 23:18] timfish commented on #5188
There are 2 ways to add attachments to a single event.

`withScope` temporarily modifies the scope:
[code]

Or you can pass a scope modifying function:
[code]

[2022-06-02 08:41] piotr-cz commented on #1307
I'd like to filter out specific console warnings.
For that I've prepared `beforeBreadcrumb` hook which for some reason doesn't apply and breadcrumb is still shown in panel:

[code]

I wonder what I'm doing wrong, since from [docs](https://develop.sentry.dev/sdk/event-payloads/breadcrumbs/#breadcrumb-types) I'd say that type should be `debug`:

[2022-06-02 08:45] ihmpavel commented on #5188
Hi,
I do not want to use global scope, that means I tried passing multiple modifyers, but without success.

Like
[code]

I like `ScopeContext` object more that using `Scope` modifier, but if it is working, I do not have any preferences. Unfortunately I am still something missing...

[2022-06-02 08:58] kamilogorek commented on #1307
Correct. It's shown as a `debug` in the UI due to special handling of `console` category, which is then distinguished using `level` setting. You need to use `breadcrumb.level` instead: https://github.com/getsentry/sentry-javascript/blob/f49c5098002f2c57d58f23a763c0f310e9950f46/packages/utils/src/instrument.ts#L113-L128

[2022-06-02 09:00] lforst commented on #5189
Hi, thanks for writing in. From version 7.x onwards we compile the SDK's code to es6 per default which means we're dropping out of the box support for IE11. If you still want to support users on IE11 with the Sentry SDK there are two options:
- You can use our [ES5 CDN bundles](https://docs.sentry.io/platforms/javascript/install/cdn/#:~:text=zIB3u/7u3/HELkBnpKilXkWwo4Dhn2PFO2mK7CxkZZLQ2knuYtqc7qf8

[2022-06-02 09:07] piotr-cz commented on #1307
@kamilogorek
Would help if I'd change the `breadcrumb.type` to *default*?
I'd rather not filter by the level/ Severity as this specific message is it's being output by 3p package as warning

[code]

[2022-06-02 09:09] kamilogorek commented on #1307
We dont set `type`, its optional within SDK, and its set to this value by server processing. You can use the same level/category/message combo to filter a specific message only.

[2022-06-02 09:13] piotr-cz commented on #1307
@kamilogorek
ok, thanks, I'll leave just *category* and *message* then.

However from the [docs](https://docs.sentry.io/product/issues/issue-details/breadcrumbs/#breadcrumbs-display) I had impression that `type` is always set:

[2022-06-02 09:14] kamilogorek commented on #1307
It is always set, for the processed event, thus it's available in the UI.
It is not always set though for the SDK payload - https://develop.sentry.dev/sdk/event-payloads/breadcrumbs/#breadcrumb-types (`type *(optional)*`

[2022-06-02 09:19] piotr-cz commented on #1307
True, got it.

[2022-06-02 11:18] lforst commented on #5174
In order to access options in an integration, you can take inspiration from the [`InboundFilters` integration](https://github.com/getsentry/sentry-javascript/blob/ed2f9be2fcf79aaee0201b64ba32b95beb0690ea/packages/core/src/integrations/inboundfilters.ts#L42) for example. Essentially it's calling `getCurrentHub().getClient().getOptions()` - bit messy but get's the job done. We will generally help ou

[2022-06-02 15:27] AbhiPrasad opened #5194 "JS SDK v8 Deprecations List"
This PR contains the list of deprecated items that will be removed in the upcoming v8 major version of the SDK.

[code]

[code]

[2022-06-02 16:19] yordis commented on #5185
// TODO: Adjust matcher function type based on UX needs
  [dsn: string]: (type: string, envelopeItemBody: unknown, envelopeItem: BaseEnvelopeItem) => boolean;
}

Something that I wish happens moving into this architecture is that the `DSN` is a configuration of the transporter instead of the Hub since it feels that is where it suppose to be.

Obviously, this will introduce some concerns about wiri

[2022-06-02 17:57] lobsterkatie commented on #5185
Yeah, something like this, except that I think having individual transports adds another layer of complication beyond what we're talking about here, which at least for now is simply, "I want to use a single transport, except that I want to be able to choose the destination for each event/session/etc that transport handles rather than having everything sent to a single place." For the vast majority

[2022-06-02 18:13] lobsterkatie opened #5195 "Consider adding integration tests for build code"
We have a good deal of code which concerns the creation of build artifacts, but none of it is tested in an end-to-end way.

(Right now I'm thinking about all of our rollup config code and the `withSentryConfig` code in the nextjs SDK, which modifies the user's webpack config in order to change what's in their bundles, but there may be other places as well. The latter does have unit tests, but no i

[2022-06-02 20:00] rhyek opened #5196 "TypeScript and source maps not working for releases with multiple projects (monorepo)"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/node

#

[2022-06-02 20:10] rhyek commented on #5196
After hours of trying different configurations, I finally got it to work. Source maps will be matched by having this setup:

release artifacts (as above screenshot)
- `~/backend/app.controller.js`
- `~/backend/app.controller.js.map`

frame filename:
- `app:///backend/app.controller.js` NOT `~/backend/app.controller.js`

[2022-06-02 20:10] #5196 closed

[2022-06-02 23:26] thmclellan opened #5198 "Sentry Angular: 1 error triggering 3 separate issues (Chrome, Safari, Firefox)"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/angular

[2022-06-03 06:33] smirowstanitzok opened #5199 "Usage of TextEncoderCommon causes compiler error in a setup without DOM Library"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/node

#

[2022-06-03 07:34] lforst commented on #5199
Hi @smirowstanitzok, thanks for reporting this. Yup, I see the problem. We'll try to get it fixed soon.

For now, until we fix this, Instead of adding the dom library, you could try adding a global declaration looking like
[code]

[2022-06-03 09:37] #4015 closed

[2022-06-03 10:41] Arinono opened #5204 "$options missing in vm when catching exceptions in Vue components"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/vue

##

[2022-06-03 12:27] kopax-polyconseil opened #5206 "v7 does not respect @sentry/react-native types"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Self-hosted/on-premise

### Which package are you using?

@sentry/react

#

[2022-06-03 12:31] AbhiPrasad commented on #5206
Hey, thanks for writing in! Currently `@sentry/react-native` does not support v7 SDK. Work is being done in https://github.com/getsentry/sentry-react-native/pull/2250 to add support.

Please keep an eye on the React Native SDK releases to see when v7 support will come: https://github.com/getsentry/sentry-react-native/releases

In the mean time, please use the versions pinned to the React Native SD

[2022-06-03 12:31] #5206 closed

[2022-06-03 12:37] thinkdj commented on #2859
True.
Adding config `{ tracingOrigins: ["*"] }` for BrowserTracing solved it for me

[code]

[2022-06-03 13:26] kopax-polyconseil commented on #5206
@AbhiPrasad  also, it seems the entrypoint is still using `dist` for react-native:

[code]

Is this related to `@sentry/react-native` or `@sentry/types` `package.json` ?

[2022-06-06 14:12] jmfrancois commented on #5108
@lobsterkatie unpkg.com is just exposing the content from npm so the one you publish.
I just want to be sure you will continue as before to publish on npm the UMD which is not the case with latest 7.0 betas

[2022-06-06 18:26] Meemaw opened #5210 "Source maps not uploaded with @sentry/nextjs"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/nextjs

[2022-06-07 06:47] antonpirker opened #5211 "Changing DSN breaks current AWS Lambda integration"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/serverl

[2022-06-07 07:15] lforst commented on #5108
From version 7 onwards we stopped publishing CDN bundles on npm. Only cjs and esm code will live there. We recommend using the [Sentry CDN](https://docs.sentry.io/platforms/javascript/install/cdn/) or building the bundles yourself.

[2022-06-07 08:17] haohongyang1 opened #5213 "My visual panel presentation is different from that in the document"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/react

[2022-06-07 08:26] haohongyang1 commented on #5213
Picture filling error

[2022-06-07 08:36] MarcoGlauser opened #5215 "Angular 14 Support"
### Problem Statement

Hi,

Angular 14 has been released last week. Can you please update the package?
[code]

Thank you
Marco

PS: congratulations for getting v7 out :tada:

### Solution Brainstorm

Update tests and package.json versioning

[2022-06-07 09:47] smeubank commented on #5215
Hi @MarcoGlauser

thanks for the heads up.

And many thanks for the V7 congrats 😄 🚀 🎉

[2022-06-07 10:58] abhishek1234321 opened #5216 "AngularJS bundle throws 403 for 7.0.0"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/browser

[2022-06-07 11:05] lforst commented on #5216
Hi, thanks for writing in! We discontinued the angular integration with v7. Please use the [`@sentry/angular` standalone package](https://docs.sentry.io/platforms/javascript/guides/angular/) and see the [migration guide](https://github.com/getsentry/sentry-javascript/blob/master/MIGRATION.md#removal-of-old-platform-integrations-from-sentryintegrations-package) for more information.

[2022-06-07 11:14] abhishek1234321 commented on #5216
ah ok, but the [@sentry/angular standalone](https://docs.sentry.io/platforms/javascript/guides/angular/) is for Angular 2+ and we are on AngularJS 1.8.x, does this mean we cannot upgrade Sentry to the latest versions anymore?

[2022-06-07 11:16] abhishek1234321 commented on #5216
This doc mentions to use it like what I was doing https://docs.sentry.io/platforms/javascript/guides/angular/angular1/ , that needs to be fixed as well I guess?

[2022-06-07 12:16] lforst commented on #5216
Correct, if you're on AngularJS 1.x you need to stick with version 6.x of the SDK. We officially dropped support in v7. Thanks for giving us a heads up about the docs - we're on it!

Sidenote: If you happen to downgrade to v6 now, please keep in mind that all sentry dependencies need to be on the same version. Meaning `@sentry/integrations` and `@sentry/browser` must both be pinned to version 6.

[2022-06-07 13:01] #5216 closed

[2022-06-07 13:19] #4552 closed

[2022-06-07 14:51] lobsterkatie commented on #5108
Yes, I understand, and I apologize, I should have been clearer. I know that it has worked in the past, and how, but it was never an officially-supported way of getting the SDK, and not one we're maintaining in v7.

[2022-06-07 14:53] lobsterkatie commented on #5108
I'm going to close this, as the SDK is working as it should, but please feel free to let us know if you're having trouble using the Sentry CDN or our npm packages.

[2022-06-07 14:53] #5108 closed

[2022-06-07 15:36] #5211 closed

[2022-06-07 16:01] silent1mezzo commented on #5213
Hey @haohongyang1, just to confirm are you using sentry.io or self-hosted sentry? If you're on an older version of self-hosted there may be some flags you need to turn on.

[2022-06-07 16:53] lobsterkatie commented on #5185
I was thinking something in the middle in terms of complexity:

[code]

Those are all valid use cases, but also probably at most the 5% of the 5% who would be using any version of this feature in the first place. I hear you about breaking changes, but I also think there's real danger in having too many levers, however well documented. (Not that we're anywhere close yet, but webpack is a great exam

[2022-06-07 17:59] kapso opened #5222 "Compilation error after upgrading to @sentry/react 7.1.0"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/react

[2022-06-07 18:37] AbhiPrasad commented on #5222
Hey folks, thanks for writing in! We're investigating the issue and we'll update as soon as we can!

[2022-06-07 18:46] AbhiPrasad commented on #5222
It seems like https://github.com/getsentry/sentry-javascript/pull/5190 added node.js imports, which don't exist in a browser context. I'm surprised though that our Playwright integration tests didn't catch these.

For the time being, we're going to revert the above PR and cut a release to unblock you folks.

[2022-06-07 18:51] yordis commented on #5185
I like your idea to use `tags` and let the user do whatever they want

[2022-06-07 20:31] raid5 commented on #2592
I upgraded from `@sentry/react-native` 1.2.0 to 3.4.3 and the issue went away.

[2022-06-08 02:21] haohongyang1 commented on #5213
Hello, this is how I use it.
How do I add some flags?

![image](https://user-images.githubusercontent.com/41784724/172517339-66dee0d8-6bca-46b1-936d-c75688b852a3.png)

[2022-06-08 05:33] jahusa02 opened #5227 "Can't compile angular project after upgrading to sentry 7.1.0 from 6.19.7"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Self-hosted/on-premise

### Which package are you using?

@sentry/angular

[2022-06-08 06:10] lforst commented on #5227
Hi, thank you for writing in! We are already aware of this issue, which got introduced in 7.1.0. We will release version 7.1.1 today which aims to fix this.

Closing this because duplicate of https://github.com/getsentry/sentry-javascript/issues/5222

[2022-06-08 06:10] #5227 closed

[2022-06-08 06:14] tomlarkworthy opened #5228 "@sentry/browser ES6 module broke for 7.1.0"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/browser

[2022-06-08 06:15] tomlarkworthy commented on #5228
I am using skypack which perhaps could be the issue

[2022-06-08 06:18] tomlarkworthy commented on #5228
And I have jsut noticed you released 7.1.1 which fixed the issue which I can repo in the above notebook!

[2022-06-08 06:18] #5228 closed

[2022-06-08 06:18] vladanpaunovic commented on #5222
Hey folks, we released a fix in [7.1.1](https://github.com/getsentry/sentry-javascript/releases/tag/7.1.1).

Thanks, @AbhiPrasad and @lobsterkatie for fixing this!

[2022-06-08 06:18] #5222 closed

[2022-06-08 06:51] mitsuhiko commented on #4475
It's fine to deprecate, but please work with @smeubank to follow the deprecation process we have.

[2022-06-08 06:56] vladanpaunovic commented on #4470
I am closing this issue as the follow up is in #4579. Whoever is interested, feel free to subscribe to that issue.

[2022-06-08 06:56] #4470 closed

[2022-06-08 07:47] lforst opened #5229 "Problem with attachments API (getAttachments)"
After upgrading sentry to v7 getting below error. I am using sentry with node express project

[code]

_Originally posted by @pnutmath in https://github.com/getsentry/sentry-javascript/issues/5004#issuecomment-1149504330_

[2022-06-08 07:48] lforst commented on #5229
@pnutmath Could you share what your setup looks like to get this error?

[2022-06-08 08:35] vladanpaunovic commented on #4407
Closing as a duplicate of #2049

[2022-06-08 08:35] #4407 closed

[2022-06-08 08:41] kopax-polyconseil opened #5230 "POST 400 ping request"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Self-hosted/on-premise

### Which package are you using?

@sentry/react

#

[2022-06-08 09:26] PiR1 opened #5232 "Define maxSpans"
### Problem Statement

I want to define the max number of spans for the node package.
I saw this option is available on the tracing package on the init function.

### Solution Brainstorm

[code]

[2022-06-08 09:45] vladanpaunovic commented on #4206
Given that middleware in Next.js is still in beta and under rapid development, I will close this issue until their API is stable.

[2022-06-08 10:02] pnutmath commented on #5229
One more point here is I am using `winston-sentry-log` package also to capture error level logs in sentry.

And setup I followed is exactly same as mentioned in guide: https://docs.sentry.io/platforms/node/guides/express/ along with sentry tracer.

I have downgraded sentry packages and it working fine as earlier.
[code]

[2022-06-08 11:34] rdas6313 opened #5234 "Failed to compile"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/react

[2022-06-08 12:47] vladanpaunovic commented on #4179
It seems like this was resolved in #4253. @AbhiPrasad, do we still need this issue?

[2022-06-08 12:58] enapupe opened #5237 "Serverless errors outside of handler function are never reported"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Self-hosted/on-premise

### Which package are you using?

@sentry/serverle

[2022-06-08 13:09] vladanpaunovic commented on #4772
@dennisja, there have been lots of changes since this error was initially published. I would recommend you try upgrading to the newest version (atm, it is [7.1.1](https://github.com/getsentry/sentry-javascript/releases/tag/7.1.1)).

We didn't intentionally try to solve this problem, but it could have been a nice side effect of various changes we did. Solving this properly is on our long term roadm

[2022-06-08 13:27] #4185 closed

[2022-06-08 13:36] vladanpaunovic commented on #4138
@kamilogorek could you help us here? Is this something that the Stacktrace team can pick up?

[2022-06-08 13:44] rafaelnogueira1 commented on #3852
I use this config and the messages at the console stop but still does not log the errors in Sentry Dashboard. I change the withSentry hoc in my api for `Sentry.captureException(error)` and it works. Just need to create a personal hoc to avoid writing this every time.
I don't know if it's the best approach but for now it's all i got.

[2022-06-08 13:44] #3970 closed

[2022-06-08 13:58] vladanpaunovic commented on #3782
Instead of adopting our SDK, I suggest we treat this a combination of `@sentry/node` + `@sentry/react` or `@sentry/nextjs`. It could be sufficient to update our docs to describe this use case.

This will probably give up on some (small) functionality using a custom server which should be fine as a custom server itself reduces the functionality of nextjs.

[2022-06-08 14:20] wildone commented on #2670
For me this worked:

[code]

[2022-06-08 15:21] AbhiPrasad commented on #4179
Yeah we can close.

[2022-06-08 15:21] #4179 closed

[2022-06-08 19:35] ifbarrera opened #5238 "captureException with tags as captureContext doesn't update the tags in Sentry dashboard for the event"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/react

[2022-06-09 00:24] #5036 closed

[2022-06-09 00:24] #3036 closed

[2022-06-09 01:08] pitAlex opened #5239 "createTransport method not working as the way custom transport used to work in @sentry/browser 6.x"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/browser

[2022-06-09 07:00] lforst commented on #5239
Hi, we should definitely write some documentation for this.

For now you can take inspiration from the default fetch transport: https://github.com/getsentry/sentry-javascript/blob/838dcfb8808b9b2a851b08dd4e942e48cbb40e50/packages/browser/src/transports/fetch.ts#L10

It makes use of the "base" transport: https://github.com/getsentry/sentry-javascript/blob/838dcfb8808b9b2a851b08dd4e942e48cbb40e50/pa

[2022-06-09 07:13] lforst commented on #5238
Hi, thanks for writing in. I just tried this and couldn't reproduce it myself. Would you be able to provide some reproduction setup for us to try and debug this?

One thing I would check regardless is, whether the error is actually caught in the ErrorBoundary. You most likely know this but just to make sure: Errors in event handlers aren't propagated to the error boundary. You must throw in the re

[2022-06-09 09:03] vladanpaunovic commented on #5234
Hey @rdas6313, did you also add `Sentry.init()`, like described [here](https://docs.sentry.io/platforms/javascript/guides/react/#configure)?

[2022-06-09 09:27] darxx commented on #5215
When can we expect angular 14 to be supported?

[2022-06-09 10:07] onurtemizkan commented on #4133
Hi @jasonadkison,

I was able to reproduce the error in the project you provided, and deleting and recreating `package-lock.json` using `npm@8.11.0` fixed it for me. Also, removing `package-lock.json` and using `yarn` instead worked well both locally and on Vercel.

The issue [seems originated from](https://github.com/mozilla/source-map/issues/432) the dependency resolution of `source-map` package

[2022-06-09 10:07] #4133 closed

[2022-06-09 11:16] GlebErmolinskii opened #5246 "How to add Sentry to Aurelia project?"
### Problem Statement

Should I use Sentry for JavaScript? I tried it as it written in this guide [https://docs.sentry.io/platforms/javascript/]() but it doesn`t work correctly at all.

### Solution Brainstorm

_No response_

[2022-06-09 12:19] vladanpaunovic commented on #5241
Transfering this to the javascript repository so we in @getsentry/team-web-sdk-frontend can get our 👀 on this

[2022-06-09 13:45] lforst commented on #5237
Hi @enapupe , thanks for writing in. We could not reproduce this. Would you be able to share relevant parts of your code or even a reproduction setup so we can investigate this further? Thanks!

[2022-06-09 14:39] enapupe commented on #5237
Hey, I'm running it with AWS Lambda, the code was reduced to just:

[code]

In my actual/prod scenario the error is thrown within a required file.

[2022-06-09 15:23] antonpirker commented on #5237
Hey @enapupe !
One question: You followed the manual guide [1] and you did NOT install Sentry's Lambda Layer [2], right?

1: https://docs.sentry.io/platforms/node/guides/aws-lambda/
2: https://docs.sentry.io/product/integrations/cloud-monitoring/aws-lambda/

[2022-06-09 15:26] enapupe commented on #5237
1: I suppose the reduced case above should answer that, or else I'm not 100% sure what you are asking.
2: Correct! I have my own application layer that includes sentry.

[2022-06-09 15:27] antonpirker commented on #5237
One thing, code that is outside the main handler function is run in Lambdas `INIT` phase. According to this blog post [1] the Node version used by AWS Lambda does not support the top-level `await` feature and maybe this prevents Sentry from sending Errors outside of the main handler. @lforst can you check how the data is sent to Sentry? If it is done asynchronously, then we know that it does not w

[2022-06-09 16:57] exortech opened #5243 "No longer publishing minified bundle to npm in 7.x?"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/browser

[2022-06-09 17:52] vladanpaunovic commented on #5243
@exortech, yes, [this changed](https://github.com/getsentry/sentry-javascript/blob/master/MIGRATION.md#restructuring-of-package-content) as of v7 release. [Here](https://github.com/getsentry/sentry-javascript/issues/5108#issuecomment-1148285144) is what you can do it.

Closing this as a duplicate of #5108

[2022-06-09 17:58] vladanpaunovic commented on #4051
@lobsterkatie, this is now documented in https://github.com/getsentry/sentry-docs/pull/5129. Closing this one.

[2022-06-09 17:58] #4051 closed

[2022-06-09 18:01] vladanpaunovic commented on #4119
@kamilogorek could you help and give some context on how this works and whether this is intended or not?

[2022-06-09 18:29] lobsterkatie commented on #5234
My guess is it's the `...` that's it's stuck on.

I had the same problem when I tried to run the parser [here](https://github.com/getsentry/sentry-javascript/blob/838dcfb8808b9b2a851b08dd4e942e48cbb40e50/rollup/plugins/extractPolyfillsPlugin.js#L67). The fix for me was making sure the parser was set to use the latest version of JS. I would guess that you're not interacting with the parser directly

[2022-06-09 18:54] lobsterkatie commented on #4119
I've worked on this issue in the past. The problem is, Apple doesn't provide (and I couldn't find anywhere deep in Safari's internals or open-sourced online) all of its strings in various languages, such that we could translate as part of our ingest process the [way we do with IE and Edge errors](https://blog.sentry.io/2018/02/28/internet-explorer-translations). If anyone knows of such a dataset,

[2022-06-09 19:01] lobsterkatie commented on #4119
Closing because there's not much we can do here. Also, I'm going to move this to the sentry repo, as it's actually an ingest problem.

[2022-06-09 19:01] #4119 closed

[2022-06-10 02:04] haohongyang1 commented on #5213
@silent1mezzo How do I add some flags?

[2022-06-10 04:34] lobsterkatie commented on #5213
@haohongyang1 The code in your screenshot initializes the SDK. @silent1mezzo was asking about your sentry _server_. Do you host your own open source/on-prem/self-hosted version, or do you use the SAAS product? Put another way, where do you go to sign into Sentry - your own domain, or sentry.io? The flags to which he's referring only apply if you're using self-hosted Sentry.

[2022-06-10 04:47] Hasnain-4 opened #5245 "Integration working on localhost but having issues during build && export"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Self-hosted/on-premise

### Which package are you using?

@sentry/nextjs

[2022-06-10 05:04] Aashish095 commented on #5245
I also have the same issue  @Hasnain-4

[2022-06-10 05:58] rdas6313 commented on #5234
Yes i did.

[2022-06-10 06:00] rdas6313 commented on #5234
I am using node version 16.15.1 and using react version 16.4.1.By the way i am new to node and react so don't know much about it.

[2022-06-10 06:09] lobsterkatie commented on #5234
It's not a version problem, then. Sounds like you probably need to use something like Babel to down-compile the code. Here's a tutorial for using Babel with Webpack (https://www.robinwieruch.de/webpack-babel-setup-tutorial/) and you can find lots of others online, too.

I'm going to close this, as the SDK is working as designed, but please feel free to open another issue if you run into other prob

[2022-06-10 06:09] #5234 closed

[2022-06-10 06:22] haohongyang1 commented on #5213
@lobsterkatie  I hosted my own open source version is Sentry 21.8.0 ,is my own domain ,and how do I add some flags?
![image](https://user-images.githubusercontent.com/41784724/173003283-28730fe2-33fe-4366-889c-252d9e5ea347.png)

[2022-06-10 06:49] vladanpaunovic commented on #5232
Hey @PiR1, currently `_experiments.maxSpans` is an experimental feature which has limited support.

Our teams are currently discussing promoting this feature into a first-level citizen of sentry options.

This will take some time so if you want to spread this up, PRs are always welcome! :)

Until then, I will backlog this.

[2022-06-10 06:53] vladanpaunovic commented on #5245
@Hasnain-4 or @Aashish095 can you please make a small reproduction repo so our teams can get on this faster?

[2022-06-10 07:11] #4098 closed

[2022-06-10 07:12] vladanpaunovic commented on #4606
Closing as a duplicate of #3865

[2022-06-10 07:12] #4606 closed

[2022-06-10 07:30] lforst opened #5248 "Pass SDK options down as `readonly`"
As discussed with @timfish in https://github.com/getsentry/sentry-javascript/pull/5203#issuecomment-1145759085, we were contemplating whether it would be a good idea for the SDK to pass options down as readonly. In that particular case it would have caught a bug, and might also do so in the future.

This is non-trivial of course, so we can just use this issue as grounds for discussion before actua

[2022-06-10 08:05] lforst commented on #5241
Hi, considering this issue is pretty old and the link in question got stale, I assume this is resolved. Feel free to ping me or re open if this is not the case!

[2022-06-10 08:05] #5241 closed

[2022-06-10 08:18] lforst commented on #5189
Closing because we assume this is working as designed

[2022-06-10 08:18] #5189 closed

[2022-06-10 09:07] #5240 closed

[2022-06-10 09:20] #3774 closed

[2022-06-10 09:42] MrRhodes commented on #4582
I would love to know if a meeting has taken place to decide if `ignoreSentryErrors` should be on or off as default. I wonder how many people have hit this issue due to hitting sentry transaction limits to then quickly pay Sentry more money to upgrade their plan....

- a disappointed customer

[2022-06-10 10:53] pepf opened #5250 "inputBaggageString.split is not a function"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/nextjs

[2022-06-10 11:54] #3946 closed

[2022-06-10 11:59] Hasnain-4 commented on #5245
Hey @vladanpaunovic ,

Please find the demo project url with same sentry setup.

[Github Url](https://github.com/Hasnain-4/nextjs-with-sentry)

[2022-06-10 12:07] lforst commented on #5250
Hi, we're looking into this. Sadly we're having difficulties pinpointing where the issue comes from.

If you're able to reproduce this locally, could you try and log the error right before you're rethrowing it? That would be extremely helpful. It would also be helpful to see logs of the sdk right before the error. You can enable logging by setting `debug: true` in the init function. In order to re

[2022-06-10 12:32] #5172 closed

[2022-06-10 12:54] pepf commented on #5250
Hey!
I have a stack trace from when it happened on our remote servers which gives you a good idea of where this happens (the rest of the response structure is graphql format).

<img width="472" alt="stacktrace masked" src="https://user-images.githubusercontent.com/1265435/173067998-58855897-40bd-4659-9d13-01b95fe12feb.png">

For now to counter this we have actually disabled tracing on the backend

[2022-06-10 13:20] lforst commented on #5250
Thank you @pepf that actually helps a lot, and confirms my suspicions. We have a bad type cast here: https://github.com/getsentry/sentry-javascript/blob/afe100009abcee883a8175a9de4880b9a04d483e/packages/node/src/integrations/http.ts#L126

`requestOptions.headers.baggage` is probably not a string in your case and that's why we're getting an error down the line.

It would be good to know what data t

[2022-06-10 14:36] leerobert commented on #3852
We ever fixing this or what? Annoying to have logs spammed.

[2022-06-10 14:52] leerobert commented on #3852
Ok I made a quick little hack around until this issue is resolved... it's not the cleanest but at the end of each `api/endpoint.ts` file I put the following:

[code]

Annoying but works. `next.config.js` gets overwritten by `withSentryConfig` so you gotta do this to each route.

[2022-06-10 15:38] denis-haskin-elemental opened #5251 "TypeError: Cannot read properties of undefined (reading 'setHttpStatus')"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/node

#

[2022-06-10 16:01] onurtemizkan commented on #5251
Hi @denis-haskin-elemental,

It looks like there is an `undefined` transaction, which can be due to an unused `@sentry/tracing` import.

Could you try either  uncommenting line `// new Tracing.Integrations.Express({ server }),`, or use an unnamed import (`import '@sentry/tracing'`) if you're not going to use the Tracing object?

[2022-06-10 17:11] lobsterkatie commented on #5213
Got it, thanks. @chadwhitacre - should this move to the open source repo, or should I just move it to the sentry repo?

@silent1mezzo - can you advise re: flags? That's outside my area of expertise.

[2022-06-10 17:24] lobsterkatie commented on #3939
@johnnywang - That's a fair point, and something I've actually noticed and wanted to fix as well. I'll shove this into my mental backlog (it's already on our team backlog), and take a look at it if I get a chance. In the meantime, though, PRs on that score quite welcome!

[2022-06-10 17:26] lobsterkatie commented on #3939
@erikjalevik - Thanks for that. Would you mind please just copying and pasting your comment as a new issue in https://github.com/getsentry/sentry-electron, and reference this issue? That way it will be seen by the electron team.

[2022-06-10 20:32] michaelwclark opened #5252 "Maximum call stack size exceeded"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/serverl

[2022-06-11 00:24] #5098 closed

[2022-06-11 00:24] #5099 closed

[2022-06-11 00:24] #5072 closed

[2022-06-11 00:37] Lms24 commented on #5215
Hey @MarcoGlauser, @darxx and everyone else. I just opened #5253 to get Angular 14 supported. Should be merged in pretty quickly and we'll make a release in a couple of days.

[2022-06-11 02:16] pitAlex commented on #5239
Thanks @lforst I will give it a try.

[2022-06-12 12:18] eyal-confetti commented on #2877
You can close this issue

[2022-06-12 18:21] boennemann commented on #4206
@vladanpaunovic Is there a way to disable just the server part of `@sentry/nextjs`? Because while I understand that you don't want to support beta/middleware this also blocking any adoption of https://nextjs.org/docs/advanced-features/react-18/switchable-runtime now.

[2022-06-13 02:39] wukang0718 commented on #3334
@sentry/vue@5.30.0

[2022-06-13 02:39] wukang0718 commented on #3334
Where can I view the document?
`@sentry/vue@5.30.0`

[2022-06-13 05:26] vladanpaunovic commented on #4206
@boennemann, you can't disable the server part in `@sentry/nextjs` at the moment, but what you can do is use [@sentry/react](https://docs.sentry.io/platforms/javascript/guides/react/) in the meantime.

[2022-06-13 09:56] dennisja commented on #4772
Hello @vladanpaunovic
Thanks for the reply. I updated one of the apps to the latest version (7.1.1) and haven't noticed any changes in either release health or performance metrics.

Are there any expected changes to any of the metrics after the upgrade?

[2022-06-13 11:16] pepf commented on #5250
I've tried reproducing it locally, but so far no luck.

Locally I'm running the services in docker, but in production, things are running in a k8s cloud with some Nginx things in front of it. Given that these "baggage" headers[ seem to be a standard](https://www.w3.org/TR/baggage/), would it be possible for elements in the production chain.. (some global NAT, then Nginx, then express.js) to somewh

[2022-06-13 11:33] lforst commented on #5250
Thank you very much for the effort!

That header is indeed a standard and we're using to propagate trace state. My current suspicion is that there are two different `baggage` headers on the incoming request, causing `requestOptions.headers.baggage` to be an array instead of a string.

I don't believe this is something we account for yet, as it kinda is an edge case (or rather specification violati

[2022-06-13 11:36] lforst commented on #5252
Hi, thanks for writing in!

This looks bad and we should fix it. Could you please share your SDK configuration so we can better figure out what is going wrong? Some info about how you use the SDK and any method calls in the SDK would also be really useful!

[2022-06-13 12:31] denis-haskin-elemental commented on #5251
Actually, it turned out just that I need to define my route under test *after* the `connect`.  Not a bug.

[2022-06-13 12:31] #5251 closed

[2022-06-13 12:49] denis-haskin-elemental opened #5255 "Spying on Sentry in a jest test in a Node.js project"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/node

#

[2022-06-13 12:50] denis-haskin-elemental commented on #5255
I would add a Type: Question label if I could...

[2022-06-13 13:46] lforst commented on #5255
Hi, spying on the Sentry SDK API like that probably won't work in most cases. When an error is thrown, we usually don't directly call the `captureException` method that is exposed by the SDK - instead we have an internal flow of execution which is not exposed.

One thing you can try: Instead of spying on the API, you could use a library like `nock` to listen for outgoing requests to Sentry.

[2022-06-13 13:56] lobsterkatie commented on #2877
Hi, all. I believe this was fixed in https://github.com/getsentry/sentry-javascript/pull/3508, which was included in `v6.3.6`. I'm going to close this, but please feel free to comment if you're still having trouble and we can reopen it if necessary.

[2022-06-13 15:21] wpaprot commented on #5164
Thanks [aholthagerty](https://github.com/aholthagerty) for the suggestion.
Unfortunately it didn't help.
I also tried to use full URL in outgoing XHR requests.

[2022-06-13 16:13] kamilogorek commented on #4138
@vladanpaunovic the original issue has been already addressed here - https://github.com/getsentry/sentry-javascript/pull/4153
It just needs to be rebased on top of v7 changes and merged in.

[2022-06-13 18:38] michaelwclark commented on #5252
I use a hand rolled injection method for all of my serverless handlers. These functions get passed in as dependancies to each lambda handler that is invoked for use.

[code]

I wrap my handlers with a generic error handler like this which relies on the capture exception:

[code]

The only config i have set is here:
[code]

[2022-06-13 19:33] ifbarrera commented on #5238
@lforst Hi there! Thanks so much for the quick response. I'm not totally understanding your comment about the error boundary - we're not using Sentry's error boundary, we built our own but capture exceptions and send them to sentry using `componentDidCatch`. I know the error is getting caught and sent to Sentry correctly because i see them in the Sentry dashboard - what I _don't_ see in Sentry is

[2022-06-14 00:45] rafaelnogueira1 commented on #3852
This is the way that is in the Sentry docs. But for me it doesn't show anything at Sentry dashboard :/.

[2022-06-14 07:29] Lms24 commented on #5239
Hi @pitAlex, additionally, take a look at our [Migration Guide](https://github.com/getsentry/sentry-javascript/blob/master/MIGRATION.md#custom-transports) which talks a little about the Transport changes and what to do with custom transports.

[2022-06-14 08:10] #5215 closed

[2022-06-14 10:22] zspitzer opened #5258 "'Object.setPrototypeOf' is not a function"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/browser

[2022-06-14 12:59] Lms24 commented on #5258
Hi @zspitzer and thanks for reporting!
This sounds interesting (haven't yet seen a similar error or reports). Would you mind sharing your Sentry setup? For example your Sentry.init, options and - if you have any - custom/advanced modifications (e.g. custom transport, etc). Thanks!

[2022-06-14 15:19] shankie-aa commented on #4731
FWIW, none of these solutions above helped me until I upgraded all my Sentry packages to `7.1.1`

[2022-06-14 16:24] AbhiPrasad commented on #4894
After we have the SDK in a good place, let's make sure we dogfood with https://github.com/getsentry/vanguard - I've updated the PR checklist accordingly.

[2022-06-14 16:52] sacummings91 opened #5261 "Context not being reliably set in withScope. Potential v7 regression."
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/react

[2022-06-15 00:56] wjxalexander commented on #1887
Hey @yacinehmito  I have same problem here, Do you resolve the problem? thanks

[2022-06-15 06:03] lobsterkatie commented on #5258
Yeah, I'll admit that for the sake of expediency I explained it in that PR description as an ES6 change, but the truth is I pulled it from all bundles because
a) according to the [MDN compatibility chart](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/setPrototypeOf#browser_compatibility), the last browser to add support for it (Safari) did so in mid-2015 (

[2022-06-15 08:46] zspitzer commented on #5258
@lobsterkatie Thanks! quota isn't an issue for us, it's more spam/noise than anything else. this is all basically noise from bots I believe.

It's hard to repo as the linked issue and other entries I have found have mostly zero context beyond the sentry stack

@Lms24  Our Sentry init, is pretty basic, we just add a path to the entry title to provide context

[code]

[2022-06-15 15:02] Lms24 commented on #5258
I think adding this to the ignoreErrors list is probably the better way to go (considering bundle size vs. value). Seems like these errors only produce noise and add little to no value.

[2022-06-15 15:05] Lms24 commented on #5250
Hi @pepf I have a couple more questions about this issue.

Can you describe the call chain a little more? If I understand you correctly, you're using Next.js (with `@sentry/nextjs@7.1.1`) and then on another Node (Express) service, you're using `@sentry/node@7.0.0`? (You were mentioning "nextjs/javascript@7.0.0" and "sentry/javascript using 7.0.0", can I assume that you meant `@sentry/node@7.0.0`?

[2022-06-15 15:44] Lms24 commented on #5261
Hi @sacummings91 and thanks for writing in!
Could you clarify what you mean by the context not being "reliably sent"? Do you mean, sometimes it is sent and sometimes not? If that is the case can you confirm that is in fact happening in the exact same situations (e.g. the context is sometimes (not) sent during the same page load)?

The reason I'm asking is because it _could_ have something to do wi

[2022-06-15 17:01] sacummings91 commented on #5261
Hey @Lms24, thanks for getting to this. Yeah, to clarify, if we send the context every time it only makes it to sentry.io like 1/5 of the times. It is the same situations. I have been testing it to be sure. This is also something that only started happening when we upgraded to v7. The weirdest part to me is that the latter 2 code snippets I posted work 100% of the time. The PR you posted definitel

[2022-06-15 17:02] aspala commented on #4371
Hello @lforst

This seems to still be missing/not functioning in the **node** implementation (7.1.1).

Adding attachments via
[code]
will add the corresponding entry within the `hint`. (this can be verified by adding a `addGlobalEventProcessor` and inspecting the `hint`).
Attachments "uploaded" this way will not show up in the sentry-UI.

Strangely: using the approach @yousefa00 used will yield a

[2022-06-15 17:11] Lms24 commented on #5250
A couple of things I found out while trying to reproduce it:

When a request has multiple `baggage` headers, Express seems to stitch them together into one header (at least with Express 4)

I was able to get the same error when the content of the baggage header is an array rather than a string

e.g. when doing something like

[code]

This seems wrong to me but apparently, Express and http are fine

[2022-06-15 18:18] AbhiPrasad commented on #5261
Hey, thanks for writing in! I made a quick reproduction of your setup, but I was always able to see context attached to events: https://codesandbox.io/s/withscope-context-v7-97eegl?file=/src/index.js

A couple of things to note:

1. Why are you calling `this._stringifyContext`? `setContext` takes an object as per:

https://github.com/getsentry/sentry-javascript/blob/3a938aae57edf475eed42e2b64cc294

[2022-06-15 18:33] AbhiPrasad commented on #4371
[code]

With the following example I was able to get attachments on all my events.

![image](https://user-images.githubusercontent.com/18689448/173899635-aa6eacd3-4b09-4fad-8440-86f78b837eb3.png)

Could you open up a new GH issue with some kind of reproduction or details of you `Sentry.init` so we can further investigate @aspala?

[2022-06-15 18:48] barisyild opened #5265 "I cannot prevent the NotAllowedError error from being sent."
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/browser

[2022-06-15 19:29] AbhiPrasad commented on #5265
Hey, thanks for writing in! I made a quick reproduction of trying to ignore `NotAllowedErrors` and could not reproduce your result: https://codesandbox.io/s/notallowederror-test-mnmwku?file=/src/index.js

#### Example from Safari

![image](https://user-images.githubusercontent.com/18689448/173908669-6c031c68-269e-459b-9d58-76092bacee3d.png)

Could you provide a link to your Sentry error or give so

[2022-06-15 20:24] lobsterkatie commented on #2809
Hi, all. This should be fixed in 7.1.0. If it ever crops up again, though, please let us know!

[2022-06-15 20:29] barisyild commented on #5265
https://codesandbox.io/s/notallowederror-test-forked-stx784?file=/src/index.js

Windows Chrome Output:

message: NotAllowedError: Permission denied

iOS Safari Output:

message: undefined

[2022-06-15 20:37] AbhiPrasad commented on #5265
if you uncomment the `ignoreErrors` option, you'll see the errors get ignored (Sentry logger in the console). This works on Chrome, Safari, Firefox.

message is undefined on purpose here since we are capturing an error using `Sentry.captureException`, not a message with `Sentry.captureMessage`.

See the inbound filters code that uses `ignoreErrors`: https://github.com/getsentry/sentry-javascript/b

[2022-06-16 00:23] #4511 closed

[2022-06-16 00:23] #4308 closed

[2022-06-16 00:23] #4184 closed

[2022-06-16 08:36] csvn commented on #5194
From: https://github.com/getsentry/sentry-javascript/pull/5253#issuecomment-1154834677

I've seen many packages have a notice at the top of the `README.md`, showing what version to install when used with older versions of another library. Maybe it makes sense to have `7.x.x` support Angular v10+, and `8.x.x` supports only Ivy releases and onwards? Important features could still be backported to be

[2022-06-16 09:40] pepf commented on #5250
Correct :) So I spoke with a colleague and the reason we didn't upgrade sentry/node to the latest version is t[his problem started happening right away for all of our clients](https://sentry.io/organizations/anyfin/issues/3124828235/events/7c0e67c851ce4773a05e0ed2b027ec34/?project=237018&statsPeriod=14d) (some web, some mobile, and some internal services that also have sentry tracing enabled). So

[2022-06-16 13:53] BojanKogoj opened #5268 "Enable partial Ivy format for Angular"
### Problem Statement

Angular 13+ will remind you of any library, that isn't compiled in partial Ivy and requires using ngcc.

[code]

Any chance to go Ivy way? I know some users might not be using Ivy yet, but I'd like to get rid of ngcc as soon as possible.

### Solution Brainstorm

In [tsconfig](https://github.com/getsentry/sentry-javascript/blob/master/packages/angular/tsconfig.ngc.json) remo

[2022-06-16 14:15] michaelwclark commented on #5252
Do you need more info on this or will this suffice?

[2022-06-16 16:33] lobsterkatie commented on #5258
Decided Relay was a better place for this - saves us needing to add the string to our bundle.

@zspitzer - Once the PR linked above is released, you'll be able to go to your project settings and turn on the filter here:

![image](https://user-images.githubusercontent.com/14812505/174118256-b24c62a8-6dd7-4c49-bba8-a4d04fe468a6.png)

Unfortunately, we just missed a release, and they only happen once

[2022-06-16 18:09] frdwhite24 commented on #4167
@aviadbourla not sure if you ever solved this, but i just ran into this issue again and the above "duplicate" was related but didn't offer a solution. I had recently changed from using `@sentry/browser` and `@sentry/node` to `@sentry/nextjs` and [this comment](https://github.com/getsentry/sentry-javascript/issues/3739#issuecomment-886895295) was the key thing to fix this issue! hope that helps fut

[2022-06-16 21:05] sacummings91 commented on #5261
Hey @AbhiPrasad I'm testing some events with `debug: true` &  a `console.log(event)` in `beforeSend` hook. I'm not seeing anything out of the ordinary. Is there anything I can share here that will help you? Here's a link to an event with the debug changes on: https://sentry.io/organizations/ternary/issues/3191835938/?environment=test&project=5634786&query=is%3Aunresolved

[2022-06-16 21:31] sacummings91 commented on #5261
Ok I just did some logging in the Sentry source code and can confirm that `context` exists and is stripped in `[sentry-javascript/packages/core/src/baseclient.ts](https://github.com/getsentry/sentry-javascript/blob/3a938aae57edf475eed42e2b64cc2941cea9a50a/packages/core/src/baseclient.ts#L507-L508)`

[2022-06-16 22:26] davidlee0602 opened #5270 "429 Error - Existing Issue: "ignoreSentryErrors" option not available for latest release (version 7.1.1)"
### Problem Statement

Following a previous issue raised by other members: https://github.com/getsentry/sentry-javascript/issues/4582

**Summary:**
429 errors (hard cap on rate limit in sentry config / settings) would prevent the AWS lambda function from running successfully, even though the error is a sentry internal error and not an error that generated from the logic of the AWS lambda function

[2022-06-17 01:41] AbhiPrasad commented on #5261
Good catch! We'll be fixing this ASAP and cutting a release very soon.

[2022-06-17 02:04] mmahalwy opened #5271 "getTransaction and getSpan return undefined right after startTransaction"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/node

#

[2022-06-17 06:02] repolevedavaj commented on #5215
@Lms24 is there already a planned release date for this?

[2022-06-17 07:22] lforst commented on #5270
Hi @davidlee0602, thanks for writing in. We generally don't want the SDK to throw ever, so we fixed the underlying issue, namely errors bubbling up while sending error events to Sentry in #5090. This change made the `ignoreSentryErrors` options redundant so we removed it.

Please see corresponding entries in our [changelog](https://github.com/getsentry/sentry-javascript/blob/f4e3cf42d89a80aea4672d

[2022-06-17 07:22] #5270 closed

[2022-06-17 07:22] Lms24 commented on #5271
Hi @mmahalwy

For custom instrumentation to work, you have to put the transaction onto the scope first:

[code]

Hope this helps!

[2022-06-17 07:27] lforst commented on #5252
Hi, sorry for the delayed response. We will look into this today and in the upcoming days. The information you provided should suffice for now - thank you!

[2022-06-17 07:31] #5271 closed

[2022-06-17 07:58] vladanpaunovic commented on #5215
@repolevedavaj, we are going to release this today! 🎉

[2022-06-17 09:17] lforst commented on #5238
Hi @ifbarrera, sorry for the delayed response. Just looked into this again. I tried your repro-setup: When running react in dev mode, I got 3 events in sentry for a single error - one of them had the desired tag, the others didn't. When I tried your setup in production mode, only one error was reported to Sentry and it had the `priority` tag.

This may sound weird, but everything is working as int

[2022-06-17 09:24] lforst commented on #5245
Hi, I have a feeling that this has little to do with the Sentry SDK. Can you try to remove the SDK from your project and report back whether the issue persists?

[2022-06-17 11:12] lforst commented on #4028
Hi, `BrowserTracing` is now exported individually for proper treeshakability. We also improved tree shaking in many other regards as part of v7 for the SDK. Some more info in docs: https://docs.sentry.io/platforms/javascript/configuration/tree-shaking/

Closing this as resolved. If there is still an issue with this, feel free to ping us here :)

[2022-06-17 11:12] #4028 closed

[2022-06-17 11:49] lforst commented on #5252
Actually, could you share one example of how you're wrapping a handler? Thank you!

[2022-06-17 12:14] #5245 closed

[2022-06-17 14:12] AbhiPrasad commented on #5261
This should be fixed by `7.2.0`: https://github.com/getsentry/sentry-javascript/releases/tag/7.2.0

[2022-06-17 14:12] #5261 closed

[2022-06-17 14:30] Arinono opened #5277 "vm.$options is undefined when attaching props from Vue component"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/vue

##

[2022-06-17 17:56] lobsterkatie opened #5278 "[mongodb] Filter out spans from `findOne`'s internal calls to `find`"
We instrument both the `find` and `findOne` methods in our mongodb integration. Because [`findOne` internally calls `find`](https://github.com/mongodb/node-mongodb-native/blob/6cae4b4f9b37ca760377b3ef08421d12d88d4617/src/collection.ts#L739), this means that users end up with span trees which look like this:

![image](https://user-images.githubusercontent.com/14812505/174352282-8939a420-3c8e-458a-9

[2022-06-17 18:03] AbhiPrasad commented on #5278
Dup of https://github.com/getsentry/sentry-javascript/issues/4495 - addressed possibly by https://github.com/getsentry/sentry-javascript/pull/4563

[2022-06-17 19:03] #5278 closed

[2022-06-18 16:03] Kellercai opened #5280 "Page crash monitoring, such as page memory overflow"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Self-hosted/on-premise

### Which package are you using?

@sentry/vue

###

[2022-06-19 18:33] AuHau commented on #4679
Is this then resolved since v7 is out?

[2022-06-20 07:18] smeubank commented on #4206
Feedback from Vercel:

reopoening issue. @lforst & @vladanpaunovic let's continue our conversation around E2E tests, canary releases, and how/if it could help us with such features

[2022-06-20 07:22] smeubank opened #5281 "[nextjs] Log drains support log source selection"
### Problem Statement

Recent changes in the NextJs framework from Vercel allow to select the log source selection.

Vercel Changelog: [Log Drains now support log source selection](https://vercel.com/changelog/log-drains-now-support-log-source-selection)

### Solution Brainstorm

We should check if the NextJs SDK can be improved by this functionality, enriching events sent to Sentry

[2022-06-20 07:43] smeubank commented on #5281
@AbhiPrasad

[2022-06-20 08:14] lforst commented on #5277
Thank you for reporting this! We will take a look at the PR you opened.

[2022-06-20 09:14] #4114 closed

[2022-06-20 09:17] simllll opened #5282 "Sentry.Handlers.requestHandler migration steps required?"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Self-hosted/on-premise

### Which package are you using?

@sentry/node

##

[2022-06-20 09:24] vladanpaunovic commented on #4372
Hey @danechitoaie, it seems like @dwd provided a good answer here (Thanks @dwd !). Did you give it a try? Is this resolving the error for you?

[2022-06-20 09:43] vladanpaunovic commented on #3871
This is blocked by a typescript version, documented in #3873 & #3980. Closing this issue.

[2022-06-20 09:43] #3871 closed

[2022-06-20 09:44] #5080 closed

[2022-06-20 09:53] vladanpaunovic commented on #3893
@namoscato, we released Apollo support in our SDK. Our docs are still pending a release but in the meantime, you can [check the docs here](https://sentry-docs-git-fork-onurtemizkan-graphql-apollo-integra-5485d5.sentry.dev/platforms/node/performance/database/opt-in/#apollo-server-integration).

Let us know if this is not resolving the issue you are experiencing so we can reopen this issue.

[2022-06-20 09:53] #3893 closed

[2022-06-20 09:59] Vadorequest commented on #4098
I see v7.2 has been released 3 days ago, does that mean this fix has been released too?

Is there an up-to-date example on how to add Sentry for Chrome extension? I understand the main issue lies with the service worker (e.g: background.js), while the rest should work just fine.

[2022-06-20 11:37] lforst commented on #4098
Yes, this should be fixed with v7.

We do not yet have an up-to-date example on how to set up Sentry with Chrome extensions. For transparency reasons I should also mention that chrome extensions are currently not really on our radar. We try to keep the SDK compatible with extensions, but it's not something we explicitly test for. Most of the time the `@sentry/browser` extension should work fine fo

[2022-06-20 11:50] Vadorequest commented on #4098
Thanks for the feedback, I believe a "safe" example dedicated to extensions should come to light then, especially since it's not straightforward to configure it properly.

[2022-06-20 12:52] #5277 closed

[2022-06-20 13:47] Lms24 opened #5284 "Database integrations are auto-loaded from @sentry/tracing when testing frontend projects"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/angular

[2022-06-20 13:53] lobsterkatie commented on #5282
Shoot. You're totally right - apologies. I thought I'd handled backwards compatibility but I missed this bit of it. Will have a fix out shortly.

[2022-06-20 16:13] lobsterkatie opened #5285 "[tracing] Separate span creation from header propagation"
_Note: This description has been rewritten to reflect changes since it was first created. The original version is included below for context._

**Background:**

Faced with an outgoing HTTP request, our SDKs have to make two decisions when tracing is enabled:

- Should a span be created to track this request? and
- Should `sentry-trace` and `baggage` headers be added to it?

Right now, we have thre

[2022-06-20 17:39] bruno-garcia commented on #4843
Links back to Jira: https://getsentry.atlassian.net/jira/software/c/projects/ISSUE/boards/25?modal=detail&selectedIssue=ISSUE-1450

[2022-06-20 17:47] xmunoz commented on #2809
I'm experiencing this again after the new release.

[2022-06-20 18:37] michaelwclark commented on #5252
Hopefully this makes sense. It's a hand rolled dependancy injection using higher order functions. We wrap all of our lambda handlers in this HOF that sets up the logger and other items. We inject the logger for use manually, but usally just rely on the external try catch.

Let me know if you need more detail.

Our createLambdaHandler exports a higher order function that wraps the initiated logger

[2022-06-20 18:39] AbhiPrasad commented on #2809
@xmunoz could you provide a link to the Sentry event so we could take a look? Thanks!

[2022-06-20 19:01] xmunoz commented on #2809
I have since downgraded Sentry, but here is the issue:
event id: 08b310ccbd0544aa9fc7468213cffb98
project id: 5816405

[2022-06-20 19:26] xmunoz commented on #2809
Downgrading to 7.1.1 fixed it for me.

[2022-06-20 19:44] ifbarrera commented on #5238
@lforst aha! After building our app in production mode and triggering the error, I now see it show up in Sentry with the `priority` tag! I went back and looked through all the dev errors in Sentry, and none of them had the `priority` tag, so that part doesn't match up with what you were seeing, but no matter. As long as it works in production, that's good enough for me. Thanks for your help!!

[2022-06-20 19:44] #5238 closed

[2022-06-20 21:11] snoozbuster opened #5288 "Sentry picks up errors triggered from Chrome console"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/vue

##

[2022-06-20 23:02] FilipaBarroso commented on #4118
Is there a way to use this integration with `useRoutes`, or any plans to support it in the future?

[2022-06-21 06:49] Vadorequest commented on #4098
Well, it's still not working at all when importing `@sentry/browser` from a service worker file (e.g: background.js).

[code]

[code]

[code]

It crashes at the import level, because @sentry/browser relies on the `document` which doesn't exist in the context of a background script.

[2022-06-21 07:28] Lms24 commented on #5288
Hi @snoozbuster, thanks for reporting! This behaviour has already been reported in #5179 (although with a slightly different error). Seems like ever since Chromium 102, console errors are sent to `window.onerror` which Sentry hooks onto. An additional error in Chromium 102 and 103 is that console input is eagerly evaluated while typing and if the evaluation throws an error that error is also sent

[2022-06-21 07:28] #5288 closed

[2022-06-21 07:42] Vadorequest commented on #2170
It's not easy to test because Sentry has high delay before showing the errors (I'm experiencing a 10-20mn delay), so for a while I thought it didn't work without the wrap, and after adding it I noticed that maybe some of the errors that got thrown without it got logged. But I'm unsure.

[2022-06-21 08:01] lforst opened #5289 "@sentry/browser not working in chrome extensions"
When importing `@sentry/browser` from a service worker file (e.g: background.js) like

[code]

we get

[code]

[code]

It crashes at the import level, because @sentry/browser relies on the `document` which doesn't exist in the context of a background script.

---

Edit: That's because I was loading `BrowserTracing`, when removing it it doesn't crash!

_Originally posted by @Vadorequest in https://

[2022-06-21 08:04] lforst commented on #5289
When tackling this issue we should set up an example chrome extension to properly test our fix.

I think it also might be a good idea to rethink how we make use of `getGlobalObject()` in the SDK. Right now it basically acts as a type cast and is very error-prone.

[2022-06-21 08:06] lforst commented on #4098
@Vadorequest sorry about that. I created a follow-up issue with the bug you described instead of reopening this one, because the bug is a different one.

For the time being, I recommend chrome extension authors not to use the tracing package.

[2022-06-21 08:22] #5131 closed

[2022-06-21 10:48] Lms24 opened #5290 "[DSC] include tracesSampleRate in Dynamic Sampling Context"
We want to include the sample rate with which an event was sampled in the dynamic sampling context (DSC) which we send to Relay in the `trace` envelope header and propagate to downstream SDKs via the `baggage` header.

Problem:
As customer adopt DS with in product Sentry server side traces and transaction sample rate rules, then they _should_ change the sample rate in their applications. In the si

[2022-06-21 11:07] adzza24 commented on #3169
Was there a new ticket for this one? Still seeing this issue, even when I manually create an open transaction before the XHR request and don't close it until the response is received. Even with `tracesSampleRate` set to `1.0` I still only ever get `sentry-trace` and `baggage` headers added on the first 2 requests which run whilst the page is loading.

[2022-06-21 11:36] TooColline commented on #3223
This is still happening for @sentry/tracing 7.2.0. I'm using @sentry/vue and typescript is complaining of the same cc @kamilogorek

[2022-06-21 11:52] lforst commented on #3223
@TooColline can you share the exact error you're getting?

[2022-06-21 13:15] smeubank commented on #5290
magic sample rate
- any BE calls will be upgrade to 100%
- if the SDK does not forward properly then it will not know the origin SDK
- so we should not recommend upgrading unless all your BE services are upgraded to a proper SDK version which propagates and forwards the new header context data correctly
- why would BE go to 100%
- because client has set 1

JS SDK status
- need sampleRate and publi

[2022-06-21 13:46] GorlikItsMe commented on #4684
I meet the same problem, during build sentry want create new folder but with weird path
`D:\\MyProjects\\next-app\\.next\\standalone\\.next\\server\\pages\\C:\\Users\\USER\\AppData\\Local\\Temp\\sentry-zVQYAF`
You see it try connect 2 paths. Error occurs on windows.

[2022-06-21 13:46] TooColline commented on #3223
@lforst I'm getting `TS2322: Type 'BrowserTracing' is not assignable to type 'Integration'`

And my initialization looks like this:
`Sentry.init({
    Vue,
    dsn: 'dsn here',
    integrations: [
      new BrowserTracing({
        tracingOrigins: ['some trace origin'],
      }),
    ],
    tracingOptions: {
      trackComponents: true,
    },
    tracesSampleRate: 1.0,
  })`

With both @sentry/vu

[2022-06-21 14:16] smeubank commented on #5290
We'll include public key and transaction in one PR for this issue, user, and usersegment

[2022-06-21 14:51] lforst commented on #3223
@TooColline I can't reproduce the error you're getting. Can you share your package-lock.json or yarn.lock? It might be some other library that has a dependency on an older sentry version.

One thing I can recommend regardless is to delete your node_modules and reinstall them. Also, if you're getting this error in your editor I would try restarting the TS language server.

[2022-06-21 16:15] simllll commented on #5282
Thanks for the PR, just out of curiosity, is there a "new"/better way to provide the flags? As I've seen you check for "include" property, if it's there you use the new one, otherwise the old handler. does that mean there is a "new"/preferred way of passing the params. if so, is there any migration guide to find out how to set these four parameters: (user, request, serverName and version). I guess

[2022-06-21 20:36] chadwhitacre commented on #5213
Sorry, late to this party. 🥳

Here's our [docs on feature flags](https://develop.sentry.dev/feature-flags/), but generally we advise against turning on feature flags in self-hosted as there is a reason we hide features behind flags—they are not ready for general consumption yet. Your best bet is to upgrade your self-hosted installation to the latest version to pick up the new features. Good luck!

[2022-06-21 20:36] #5213 closed

[2022-06-22 00:27] #5130 closed

[2022-06-22 08:13] lforst commented on #3223
@TooColline glad to hear. Thanks for letting us know!

[2022-06-22 14:27] #5282 closed

[2022-06-22 15:53] Lms24 commented on #5290
To be more precise, we will include public key and sample rate, as well as transaction, user id and user segment in one PR (#5292)

[2022-06-22 16:28] aspala opened #5294 "Attachments in @sentry/node@7.2.0 do not appear in Saas UI"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/node

#

[2022-06-22 16:53] aspala commented on #4371
@AbhiPrasad i opened an [issue](https://github.com/getsentry/sentry-javascript/issues/5294) and provided reproduction steps
I identified two variables which may be the cause of the issue.
a) i am using module syntax (business-requirement, nothing i can change easily)
b) our sentry account is the bare-minimum tier (Small plan, 100K errors)

Are there requirements regarding the account (tiers, or fe

[2022-06-22 20:04] zeckdude opened #5295 "Getting `TypeError: utils.getGlobalSingleton is not a function` error"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/nextjs

[2022-06-22 20:25] AbhiPrasad commented on #5294
@aspala Thank you for the detailed write up.

The fact that the docs are not available for node is something we can fix, thanks for pointing it out! Opened https://github.com/getsentry/sentry-docs/issues/5195 to track this!

You've been sending attachments to Sentry correctly, but they've been dropped. You can confirm this by checking the stats page here: https://sentry.io/orgredirect/organization

[2022-06-22 20:25] #5294 closed

[2022-06-22 20:29] AbhiPrasad commented on #5295
Hi @zeckdude, thanks for opening an issue! Do you mind if you could provide some of the info that was asked in https://github.com/getsentry/sentry-javascript/pull/4860#issuecomment-1163546404:

1. the output of `npm ls @sentry/utils` and `npm ls @sentry/nextjs` (if you're using yarn, `yarn why @sentry/utils` and `yarn why @sentry/nextjs` works just as well!)
2. what version of the SDK you are inst

[2022-06-22 20:58] AbhiPrasad commented on #5295
I'm unable to reproduce the error you've got. Here's the steps I took:

1. I ran `yarn create next-app` to install a fresh NextJS installation with NextJS v12 and Webpack 5
2. I went into the next app directory and ran `yarn add @sentry/nextjs` which installed Sentry NextJS SDK v7.2.0
3. I used the wizard to install Sentry, running `npx @sentry/wizard -i nextjs`, and changed the SENTRY_DSN to use

[2022-06-22 21:16] zeckdude commented on #5295
@AbhiPrasad I really appreciate your prompt attention. I'm not sure why that error appeared but after I downgraded to version 6 and then added the latest again, it worked fine now. I'll close the issue.

[2022-06-22 21:16] #5295 closed

[2022-06-22 21:26] AbhiPrasad commented on #5281
It's important to note, we would require server-side Sentry changes to support becoming a logging sync.

Sentry is not a logging platform though, and users will lose a lot of the value from Sentry (as mentioned above - tags/contexts/stacktrace), if they just rely on incoming logs for errors. There's also probably a delay from Vercel -> Log Drain -> Sentry -> Sentry processing logs into Sentry even

[2022-06-23 08:08] apswak commented on #5181
Bump...

[2022-06-23 08:31] sinankeskin opened #5296 "@sentry/ember package has some missing addon files"
### Is there an existing issue for this?

- [X] I have checked for existing issues https://github.com/getsentry/sentry-javascript/issues
- [X] I have reviewed the documentation https://docs.sentry.io/
- [X] I am using the latest SDK release https://github.com/getsentry/sentry-javascript/releases

### How do you use Sentry?

Sentry Saas (sentry.io)

### Which package are you using?

@sentry/ember

[2022-06-23 09:44] Lms24 opened #5297 "[Baggage] Do not propagate incoming 3rd party baggage + Cleanup"
As discussed in our planning meeting on June 20, we will not continue to propagate incoming 3rd party baggage in the outgoing requests we instrument. Instead, we will:

On incoming requests:
* Only store `sentry-` values from the `baggage` header (if there is one) on the transaction

On outgoing requests:
* Append our `sentry-` values to an already existing `baggage` header
* Or add a `baggage` he