[2017-09-28 11:39] #812 closed

[2017-09-28 11:40] kamilogorek commented on #751
@leroydev does this resolve your issue?

[2017-09-28 11:47] kamilogorek commented on #634
To setup Raven for Electron applications right now, you can use:

- `raven-node` for main process
- `raven-js` for renderer process
- https://github.com/40thieves/webpack-sentry-plugin to setup source maps

In order to use source maps correctly, it's required now to manually update filepaths, as @arusakov already mentioned.

[code]

I'll work on fixing this directly in `raven`, so we won't need an

[2017-09-28 11:47] #634 closed

[2017-09-28 11:54] #991 closed

[2017-09-28 11:54] kamilogorek commented on #991
Please feel free to reopen if this is still the case.

[2017-09-28 11:55] kamilogorek commented on #1012
Please feel free to reopen if this is still the case.

[2017-09-28 11:55] #1012 closed

[2017-09-28 12:05] kamilogorek commented on #1009
Ref https://github.com/getsentry/raven-js/issues/1009

[2017-09-28 12:05] kamilogorek commented on #952
Let's move discussion to https://github.com/getsentry/raven-js/issues/1009

[2017-09-28 12:05] #952 closed

[2017-09-28 12:06] #943 closed

[2017-09-28 12:08] ismay commented on #1009
See here for an explanation why: https://stackoverflow.com/a/43804340

[2017-09-28 12:09] kamilogorek commented on #926
Closing due to good explanation above.

[2017-09-28 12:10] #936 closed

[2017-09-28 12:12] kamilogorek commented on #897
TS Definitions are already available now.

[2017-09-28 12:12] #897 closed

[2017-09-28 12:14] kamilogorek commented on #910
Fixed `.config` call docs. Thanks!

[2017-09-28 12:14] #910 closed

[2017-09-28 12:16] kamilogorek commented on #909
It's a code error, not SDK's. Closing this one.

[2017-09-28 12:16] #909 closed

[2017-09-28 12:18] kamilogorek commented on #882
Closing due to inactivity.

[2017-09-28 12:18] #882 closed

[2017-09-28 12:19] kamilogorek commented on #870
Closing due to inactivity. Please feel free to reopen and provide a PR if it's something you'd still like to use.

[2017-09-28 12:19] #870 closed

[2017-09-28 12:21] kamilogorek commented on #864
We already pass

[2017-09-28 12:21] #864 closed

[2017-09-28 12:22] kamilogorek commented on #845
React-native plugin will be soon deprecated. Please use https://github.com/getsentry/react-native-sentry from now on.

[2017-09-28 12:22] #845 closed

[2017-09-28 12:24] kamilogorek commented on #757
This issue has been closed due inactivity. Please feel free to reopen it if this is still relevant. Thanks.

[2017-09-28 12:24] #757 closed

[2017-09-28 12:27] kamilogorek commented on #423
Already implemented

[2017-09-28 12:28] kamilogorek commented on #477
Already fixed

[2017-09-28 12:28] #477 closed

[2017-09-28 12:31] kamilogorek commented on #519
Original issue has been already fixed

[2017-09-28 12:31] #519 closed

[2017-09-28 12:35] kamilogorek commented on #589
ping @d6u. still interested in sending a PR?

[2017-09-28 12:37] kamilogorek commented on #434
I believe this should be done in the dashboard? @getsentry/javascript

[2017-09-28 12:38] mitsuhiko commented on #434
Yeah. We should close this here and do this in UI/processing.

[2017-09-28 12:38] kamilogorek commented on #690
Duplicate of https://github.com/getsentry/raven-js/issues/911

[2017-09-28 12:38] #690 closed

[2017-09-28 12:43] d6u commented on #589
Sorry. I currently don't have the capacity.

On Sep 28, 2017, 5:35 AM -0700, Kamil Ogórek <notifications@github.com>, wrote:

[2017-09-28 13:01] kamilogorek commented on #589
No worries, thanks!

[2017-09-28 13:10] kamilogorek commented on #679
Sampling is already a thing now. MaxEvents is discussed here https://github.com/getsentry/raven-js/pull/767

[2017-09-28 13:10] #679 closed

[2017-09-28 14:35] #982 closed

[2017-09-28 14:35] #984 closed

[2017-09-28 14:35] #483 closed

[2017-09-28 14:42] #1007 closed

[2017-09-28 14:42] kamilogorek commented on #1005
Fixed.

[2017-09-28 14:42] #1005 closed

[2017-09-28 14:45] kamilogorek commented on #395
We don't support PhantomJS

[2017-09-28 14:45] #395 closed

[2017-09-28 14:46] kamilogorek commented on #355
There's discussion going on about the same issue here https://github.com/getsentry/raven-js/pull/927

[2017-09-28 14:46] #355 closed

[2017-09-28 14:47] kamilogorek commented on #415
We already discussed this, and we'll go with a separate releases for every plugin.

[2017-09-28 14:47] #415 closed

[2017-09-28 14:50] kamilogorek commented on #424
It looks like the original issue has been already resolved

[2017-09-28 14:50] #424 closed

[2017-09-28 14:52] kamilogorek commented on #427
Docs are rather clear now https://docs.sentry.io/clients/javascript/integrations/angularjs/ (all examples show correct order), and there's also this line which should be sufficient:

[2017-09-28 14:52] #427 closed

[2017-09-28 14:53] #539 closed

[2017-09-28 14:56] kamilogorek commented on #807
We can get back to this discussion once Sentry will support this. Closing for now.

[2017-09-28 14:56] #807 closed

[2017-09-28 14:58] kamilogorek commented on #600
Closing this one in favour of this issue https://github.com/getsentry/raven-js/pull/670

[2017-09-28 14:58] #600 closed

[2017-09-28 19:33] dts opened #1061 "Vue Plugin Errors"
Right now, this code can cause problems:

[code]

If vm is null (which happens on occasion for me), or if propsData contain cyclic data structures, it throws an exception during the error handler, which is unfortunate, as both errors don't get reported properly.  This is my proposed change:

[code]

[2017-09-28 21:45] marcelgoya opened #1062 "Ionic 3.7.0 - Client init generates never ending error loop"
I've just upgraded from Ionic 3.6.1 to 3.7.0 and the raven client generates the following error loop:

[code]
I am using 3.1.7.0 and the problem appears also in the Ionic starter templates.

[2017-09-28 23:19] teleclimber opened #1063 "Part of the stack trace can go missing in Electron on Windows"
**bug**

Electron 1.7.8 (Chrome 58)
Windows 7
raven-js 3.17
Hosted Sentry

**What is the current behavior?**

Part of the stack trace is missing

**What is the expected behavior?**

The whole stack trace should be sent to Sentry.

The source of the problem is that the [regex](https://github.com/getsentry/raven-js/blob/a023305d227aa4aa401a54c7a6b7b9d84a7f3700/vendor/TraceKit/tracekit.js#L371) in `t

[2017-09-29 06:03] joelnotified commented on #1058
Updated to the newly released zone.js `0.8.18`, but I still get the same behaviour unfortunately..

[2017-09-29 07:38] eMerzh commented on #926
@kamilogorek  , not sure i understood this correctly, but @goodmike  used strings in the ignoreUrls array, and suggest to use `/my.pattern/` instead ?

but it seems that it was already what i did in my initial message no ?

[code]

[2017-09-29 08:34] jesusbotella commented on #1062
I have just found that it is not a Raven error, but a Zone.js error. You can solve it by using zone.js 0.8.18.

You can read more about it here: https://github.com/angular/zone.js/issues/886

[2017-09-29 08:56] tgensol commented on #1062
Same here, I also tried to use Zonejs 0.8.18, but it is not working as well

[2017-09-29 08:59] marcelgoya commented on #1062
I've also tried zone.js 0.8.18 but it's still not working for me

[2017-09-29 10:39] kamilogorek commented on #926
You're right @eMerzh, however I verified your version and it works just fine for me.

This is the code that gets run in Raven, which you can copy/paste into devtools:

[code]

If it still doesn't work, can you use `dataCallback` and paste it one of the requests that has been sent but shouldn't?

[code]

[2017-09-29 10:41] kamilogorek commented on #1063
Hey @teleclimber, would you mind providing a test case and PR with updated regexp?

[2017-09-29 11:02] kamilogorek opened #1064 "Raven.js XHR wrapped state change handlers causing recursive calls (aka Zone.js infinite loops)"
It's cumulative issue regarding recent infinite loops reports when using Raven.js with Zone.js.

Ref:
- https://github.com/getsentry/raven-js/issues/1062
- https://github.com/getsentry/raven-js/issues/1058
- https://github.com/getsentry/raven-js/issues/1052
- https://github.com/getsentry/raven-js/issues/1027
- https://github.com/getsentry/raven-js/issues/1016

Potential ref:
- https://github.com/g

[2017-09-29 11:02] kamilogorek commented on #1062
Investigation. Closing this one in favour of one cumulative issue https://github.com/getsentry/raven-js/issues/1064

[2017-09-29 11:02] #1062 closed

[2017-09-29 11:02] kamilogorek commented on #1058
Investigation. Closing this one in favour of one cumulative issue https://github.com/getsentry/raven-js/issues/1064

[2017-09-29 11:02] #1058 closed

[2017-09-29 12:52] josketres commented on #1008
We are also having this problem. I have can share some data from the last 10 days (22k events of this type, 13k users). I hope it helps you to reproduce it.
![image](https://user-images.githubusercontent.com/772593/31016583-98fe13ce-a525-11e7-805c-459f011912da.png)

![image](https://user-images.githubusercontent.com/772593/31016626-b48d2d14-a525-11e7-8e4f-c4b10096b059.png)

![image](https://user-i

[2017-09-29 13:11] kamilogorek commented on #1064
I just verified everything using latest `angular-cli` and wasn't able to reproduce this issue.

repository: https://github.com/kamilogorek/angular-cli-raven-example

[2017-09-29 13:24] marcelgoya commented on #1064
Could it be because you're using zone.js 0.8.14 in your package.json?

[2017-09-29 13:36] kamilogorek commented on #1064
@marcelgoya, no, it installs `0.8.18` as it should:

![screen shot 2017-09-29 at 15 32 06](https://user-images.githubusercontent.com/1523305/31018249-9c970fe4-a52b-11e7-8d88-1fccb8ea374b.png)

I also though that it may be due to error being thrown from within a template as @joelnotified mentioned here https://github.com/getsentry/raven-js/issues/1058 but I also couldn't reproduce it.

Added this c

[2017-09-29 14:16] marcelgoya commented on #1064
hmm, strange! I'm throwing a test error from inside an injectable static class and that's already enough to generate the loop. it's actually a good way to freeze your browser :-)

[2017-09-29 14:17] marcelgoya commented on #1064
Btw, I'd suggest you try one of the Ionic starter templates instead of the NG one...

[2017-09-29 14:21] kamilogorek commented on #1064
@joelnotified I was able to fix your repro case by removing strict lock from `@angular/core` and `zone.js` and using `"@angular/core": "^4.2.4"` and `"zone.js": "^0.8.14"` instead (it'll bump them to 4.4.4 and 0.8.18).

@marcelgoya one step at the time :)

[2017-09-29 14:22] marcelgoya commented on #1064
@kamilogorek No worries :)

[2017-09-29 14:29] kamilogorek commented on #1064
@marcelgoya can you try to use `zone.js 0.8.18` and `angular/core 4.4.4` in your `package.json`, remove `package-lock.json`/`yarn.lock` and reinstall all `node_modules` again? (I've seen that you already did that with zone.js, but wanted to double check, as I see they update their changelog to reflect that https://github.com/ionic-team/ionic/blob/master/CHANGELOG.md)

[2017-09-29 14:31] marcelgoya commented on #1064
@kamilogorek Sure, I'm gonna try it in a sec

[2017-09-29 14:41] marcelgoya commented on #1064
@kamilogorek Just did the upgrade and reinstalled all node modules like you said but the error is still there :(

[2017-09-30 15:45] teleclimber opened #1065 "Contrib docs say to run "grunt test". It fails because 'Task "test" not found.'"
I am trying to fix a bug I found in raven js so I can contribute it back.

I am following the instructions in Contributing.md

I forked the project and cloned it and ran npm install. I also updated my installation of Grunt-cli to 1.2.0.

However when I run `grunt test` in the raven-js repo I get this error:

[code]

If I look at the grunt file I see a number of tasks related to testing. I don't kn

[2017-10-01 14:24] wvds commented on #1065
@teleclimber You can use the `npm run test` command to run the tests. The `grunt run:test` command is also still available when you want to run the tests and view the output in the browser.

I've made a PR to fix the docs.

[2017-10-01 17:33] teleclimber commented on #1063
Ok so I have made a change in my fork that fixes the problem, and added tests. Everything passes.

However it looks like your pre-commit linter made hundreds of changes in one of the files.

I can PR it or you can tell me how you want to handle this?

https://github.com/getsentry/raven-js/compare/master...teleclimber:master

[2017-10-01 19:05] mruzekw commented on #717
@nicksp @benvinegar I might take this up. We use both in my work project, so it would be of value to us.

[2017-10-01 22:41] mruzekw commented on #717
Added types to flow-typed based on the existing Typescript defs.

https://github.com/flowtype/flow-typed/pull/1297

[2017-10-02 00:10] benvinegar commented on #717
Sweet – appreciate you doing this.

[2017-10-02 09:14] kamilogorek commented on #717
Thanks @mruzekw!

[2017-10-02 09:14] #717 closed

[2017-10-02 09:25] kamilogorek commented on #1063
Thanks. Yes, precommit passed the file through prettier, and because it wasn't edited in a long time,  it has been updated to up-to-date code style.
It's totally fine the way it is, but could you just split those changes and yours into two separate commits? It'll be easier to distinguish them later.

[2017-10-02 09:28] #1065 closed

[2017-10-02 09:29] kamilogorek commented on #1065
Totally missed that, sorry @teleclimber and thanks @wvds!

[2017-10-02 11:26] javinor opened #1067 "minor update to 3.18 breaks build due to incompatible node version"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
when running `yarn install` I get the following error message
[code]

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar.
[code]

**What is the expected behavior?**
`yarn install` / `yarn add` should

[2017-10-02 11:54] kamilogorek commented on #1067
I'm on it

[2017-10-02 12:08] kamilogorek commented on #1067
[code]

Sorry for the inconvenience, it was broken here https://github.com/getsentry/raven-js/commit/38e853a71cf36fe6c2be583a9c79f14c3664cd6d#diff-b9cfc7f2cdf78a7f4b91a753d10865a2 because of small npm issue during their minor release. All fixed now :)

[2017-10-02 12:11] #1067 closed

[2017-10-02 15:10] kamilogorek commented on #1061
Can you provide a test example for this? Data is stringified using https://github.com/isaacs/json-stringify-safe which handles cyclic data structures as well.

[2017-10-02 21:20] dts commented on #1061
Not sure I can at the moment (NDAs and such), but I was passing things that inherited from Vue around as props, if that is helpful.  It was reporting that something didn't response to toJSON().

[2017-10-03 08:56] #1063 closed

[2017-10-03 11:16] masimplo commented on #1064
I have blocked localhost events in sentry and requests get 403 before infinite loop begins. Maybe it is related and can help in reproducing the issue?

[2017-10-03 13:08] HKskn opened #1070 "Global promise catch"
https://docs.sentry.io/clients/javascript/usage/#promises

Would be nice to have a global promise catch for sentry.

[2017-10-03 13:12] HKskn opened #1071 "I can't receive every error to my slack account"
I see every error on sentry panel. But Sentry don't send every error to my slack account.

[2017-10-03 13:13] kamilogorek commented on #1070
What's wrong with setting it up using?:

[code]

[2017-10-03 13:14] kamilogorek commented on #1071
For integration issues, please contact us here https://forum.sentry.io/

[2017-10-03 13:14] #1071 closed

[2017-10-03 20:58] benvinegar commented on #1070
@kamilogorek raven-node has an option to do it; we should probably do the same. `evt.reason` is often not accurate (or actually an error), so if we could do some smoothing out in our integration that could be ideal.

I think we should table it.

[2017-10-03 21:18] benvinegar commented on #395
Well, that's not necessarily true. Some users use Raven.js + PhantomJS in part of their automated testing. But I think for this issue, which is 2 years old, has no actionable information, and no one else has surfaced, we can safely close.

[2017-10-03 21:29] benvinegar commented on #434
Why? Users will get "Script error" basically forever because of extensions. I'd rather surface it in developer tools console, because it is likely not to be extensions if it is the developer's own browser.

[2017-10-03 21:30] benvinegar commented on #423
It is? I think we have an example implementation in the docs (tips and tricks), but there's nothing in the `/plugins` folder.

[2017-10-03 21:32] mitsuhiko commented on #434
@benvinegar i thought script errors are still sent to sentry just that they have basically no info?

[2017-10-03 21:34] benvinegar commented on #434
No, they're suppressed client-side by default.

[2017-10-03 21:35] mitsuhiko commented on #434
I wonder if it would make sense to have an API where you can send configure failures to sentry so they can surface in your UI (like we already do with symbol processing errors). Because I don't think anyone is going to notice them in the developer console.

[2017-10-03 21:44] HKskn commented on #1070
@kamilogorek @benvinegar I need it for ES6 for javascript (browser based).
I want to catch errors in 'catch' function to send Sentry. If I send errors with `Raven.captureException()` method. I have to write the function into all Promise's catch functions.
It sounds terrifying.

`Promise.then(() => { // a syntax error or called reject() method   }).catch(err => { // handled error })`

Could you sug

[2017-10-04 05:23] jaydp17 commented on #1059
There are 2 ways we can do this.
1) Allow `globalOptions.ignoreErrors` to take regex/string as well as functions
2) Add something like `globalOptions.shouldIgnoreError` which takes a function and returns a boolean

I'd prefer the 1st option but would like to know your opinion.

[2017-10-04 08:33] kamilogorek commented on #1070
Ah, it's raven-js, not raven-node... I jump between those too often, sorry.
I'll take a look into this soon.

[2017-10-04 09:23] kamilogorek commented on #1059
Agree that 1st option is more optimal. Please keep this comment in mind though https://github.com/getsentry/raven-js/pull/1057#issuecomment-332503372

[2017-10-04 09:26] kamilogorek commented on #434
There's discussion going on about similar issue here as well – https://github.com/getsentry/raven-js/pull/927

[2017-10-04 09:29] kamilogorek commented on #423
By XHR failures you meant literally reporting errors during request itself? I understood it as instrumentation, which we have for XHR.
In that case you're right that we don't have it as a plugin. We should most likely also support `fetch` then.

[2017-10-04 11:40] jazzzz commented on #1030
@kamilogorek sorry, I tried to isolate a reproducible example but could not. I only reproduce it in a huge app I cannot provide.

[2017-10-04 12:01] kamilogorek commented on #1030
I'm sorry, but I cannot help without a repro-case. I tried to do it myself as well and wasn't able to brake it in the same way you mention in the original post.

Please feel free to reopen if you somehow manage to achieve it.

[2017-10-04 12:01] #1030 closed

[2017-10-04 23:45] staticshock opened #1075 ""Script error." stopped getting filtered correctly"
As of #1057, `"Script error."` errors no longer filters out, because the error type gets prefixed to the string being tested. In Chrome, this results in a `testString` value of `": Script error."` now (the `type` comes in as undefined.)

Here are the relevant bits of code:

https://github.com/getsentry/raven-js/blob/70b9dd6921b74ef06c3f7bfd43fb01d09f8711e8/src/raven.js#L139-L145

https://github.co

[2017-10-05 04:37] benvinegar commented on #1075
@kamilogorek I think we should only append the `:` if there is a valid error type, such that we never test on smoething like `: <message>`.

[2017-10-05 06:22] meltuhamy commented on #1064
I am also getting this bug on the occasional XHR request. Unfortunately, I ended up uninstalling raven-js (it was at 3.18.1).

My dependencies are listed below:
[code]

[2017-10-05 09:53] kamilogorek commented on #1064
It'd be great if someone could help me by providing reproducible code base. I'm not able to break it anymore using `@angular/core: 4.4.4` and `zone.js: 0.8.18`, and it's very hard to track the issue without being able to see it.

[2017-10-06 07:22] doender commented on #1064
I have the same issue. My dependencies are:

[code]

@kamilogorek Does your test repo work with these?

[2017-10-06 10:06] kamilogorek commented on #1064
@doender Yes, it works just fine. You can try it yourself using this repo https://github.com/kamilogorek/angular-cli-raven-example and replacing it's dependencies with your list.

[2017-10-06 10:25] doender commented on #1064
Thanks. It seems the issue is only with Ionic then?
If I can find the time next week, I'll try to prepare an Ionic starter template: https://github.com/ionic-team/ionic2-app-base

[2017-10-06 11:12] tgensol commented on #1064
Same here with latest Ionic 3.7.1 and zone js 0.8.18 : everything looks to work 👍  ! The issue was only with 0.8.17

[2017-10-06 12:35] HeroProtagonist commented on #1059
Hi,

Happy Hacktober! I will take a stab at this. PR to come in the next day or two.

Cheers!

[2017-10-06 12:42] kamilogorek commented on #1059
Hey @HeroProtagonist! This issue is already in-progress – https://github.com/getsentry/raven-js/pull/1072 :)

However, we more things to choose from:
- https://github.com/getsentry/raven-js/issues/774
- https://github.com/getsentry/raven-js/issues/1011
- https://github.com/getsentry/raven-js/issues/1036
- https://github.com/getsentry/raven-js/issues/1033
- https://github.com/getsentry/raven-js/iss

[2017-10-06 18:51] benvinegar commented on #434
Based on feedback, support issues, etc., I believe many folks have their console open when they're first setting up Sentry. For example, I've spoken to people who've attempted to (erroneously) trigger errors from the console – unaware that Chrome will purposely suppress those from reaching `onerror`, so they're never picked up by Raven.

[2017-10-08 15:05] HeroProtagonist commented on #1059
@kamilogorek , Got it! I made a PR for #774 https://github.com/getsentry/raven-js/pull/1080. Hopefully it's good :crossed_fingers:

[2017-10-09 03:17] andrewschreiber opened #1081 "Error: Uncaught [ReferenceError: Raven is not defined] during react-snapshot test"
**What is the current behavior?**
After adding Raven to my `React` project via the [instructions](https://docs.sentry.io/clients/javascript/integrations/react/), I can no longer deploy due to [react-snapshot](https://github.com/geelen/react-snapshot) failing. I can still run the React app locally and Sentry successfully catches errors.

Here is my integration code in `index.html`
[code]

and the e

[2017-10-09 08:14] kamilogorek commented on #1081
https://github.com/geelen/react-snapshot#the-implementation

Solution:

Either use npm version of Raven and bundle it with your code, or check for it's presence before installing

[code]

Cheers!

[2017-10-09 08:14] #1081 closed

[2017-10-09 09:47] kamilogorek commented on #434
I didn't know that! : O

[2017-10-09 13:18] kamilogorek commented on #890
@graingert is this something that's still relevant for you and you can provide an example mentioned above?

[2017-10-09 13:22] kamilogorek commented on #930
It won't fail anymore, but it also won't use `fetch` – https://github.com/getsentry/raven-js/blob/master/src/raven.js#L1805
I believe we can add `fetch` transport if it's available for that case, but it'll also mean handling it in all the places (promises vs. callbacks)

[2017-10-09 13:38] graingert commented on #890
I'm moving to react, so no not really :p

On 9 Oct 2017 14:18, "Kamil Ogórek" <notifications@github.com> wrote:

[2017-10-09 13:42] rodolfo3 opened #1082 "Hiding error with Sentry + New Relic"
**What is the current behavior?**

While using both, Sentry and New Relic, the stack trace is not shown, and the error is a `[object Object]`:

https://screenshots.firefoxusercontent.com/images/cb39589d-0ea0-4200-9568-5af533c62781.png

**What is the expected behavior?**

Is possible to get the full stack even while using New Relic to monitor browser performance?
Is this something that should be fi

[2017-10-09 13:51] #890 closed

[2017-10-09 18:51] andrewschreiber commented on #1081
Worked great, thanks!

[2017-10-10 08:30] #1075 closed

[2017-10-10 08:32] #774 closed

[2017-10-10 10:34] kamilogorek commented on #1082
I don't use New Relic on daily basis, therefore could you please provide a reproducible test case which I could use for debugging this issue?

[2017-10-10 12:45] #439 closed

[2017-10-10 13:00] kamilogorek commented on #200
Tested it and it appears to be fixed now. Wrapped functions return their `culprit` correctly. Closing.

[2017-10-10 13:00] #200 closed

[2017-10-10 13:09] kamilogorek commented on #324
There's a great post on how to achieve it: https://coderwall.com/p/m3-cqw/subclassing-error-in-javascript-is-harder-than-it-seems

I don't think we will add this to our docs anytime soon, so closing it for now.

[2017-10-10 13:09] #324 closed

[2017-10-10 17:57] benvinegar commented on #1011
See, my concern here is that people will call these methods in such a way that they'll blow their quota and be mad the sample rate didn't help them, even if they disabled it using this option. I'm not convinced you should be able to disable it.

Let's keep this issue open for a while to see if other users find this problematic before rushing to a solution.

[2017-10-10 17:59] benvinegar commented on #1013
We should clarify in docs that strings are partial matches, and that you can use regexes to achieve explicit pattern matching. That should be sufficient; it's not clear to me that one set of behavior is more expected than the other.

[2017-10-10 18:23] nawlbergs opened #1086 "3.18.1 raven-js/dist/raven.min.js is not minified :("
**What is the current behavior?**
Not minified.

**What is the expected behavior?**
Minified.

[2017-10-10 20:11] kblestarge commented on #1016
Ride on, upgrading zone.js to 0.8.18 worked for my Angular v.4+ app.

[2017-10-10 22:47] deiga commented on #1045
I'm, looking at this

[2017-10-11 07:24] rafinskipg commented on #1008
We have 2 millions errors of this type.

[2017-10-11 10:10] mxman06 commented on #1016
@kblestarge

Are you sure ? I just upgraded zone.js to 0.8.18 and still have the loop error :(

[2017-10-11 10:15] LukasKlement commented on #1016
@mxman06 it works for me with zone.js 0.8.18 - perhaps there is another culprit?

[2017-10-11 10:47] kamilogorek commented on #1086
Not sure why this happened really. I'll fix this with the next release and make sure that it's minified. Thanks for pointing that out.

[2017-10-11 11:27] kamilogorek commented on #1011
On the other side, I can definitely see a scenario, where global handlers should be set to let's say 20% sample rate, as one may have a pretty crowded site, but they'd want to make sure that `captureException` from on their payment component will always reach our servers. Right now there's no way to achieve that.

[2017-10-11 12:27] #941 closed

[2017-10-12 03:37] mathagician commented on #1036
@kamilogorek I would like to work on this issue. Since I am new to this, I would seek your help and guidance for this. Please help how to get started.

[2017-10-12 09:51] #1013 closed

[2017-10-12 10:24] kamilogorek commented on #1036
Hey @mathagician!

Things that need to be done:
- add profixes code to the lib
- add tests covering this change
- update docs

Tests and docs can be based on existing options, which should be (hopefully) readable enough to be reused.

When it comes to code, we need to:
- pass a `prefixes` option, which will be an array of strings – see prefixes section here https://docs.sentry.io/clients/php/confi

[2017-10-12 20:53] HKskn commented on #1070
Hello again, Is there any progress about it? :) @kamilogorek

[2017-10-12 23:23] benvinegar commented on #1011
I mean, there is (you could implement your own rate limiting in `shouldSendCallback`), but it's tricky.

FWIW, I can think of a ton of contrived scenarios Raven.js doesn't handle well. We wait until there's enough momentum/feedback before implementing them, or Raven.js will not remain manageable nor be capable of staying under 10kb.

[2017-10-12 23:23] benvinegar commented on #1086
@kamilogorek I would cut a new patch release with the minified code restored; we shouldn't wait for actual code changes to make this right.

[2017-10-12 23:45] MaxBittker commented on #1011
my 2c is doing this in shouldSendCallback is a pretty clean workaround for now

[2017-10-13 08:33] kamilogorek commented on #1045
Done.

[2017-10-13 08:33] #1045 closed

[2017-10-13 08:42] kamilogorek commented on #1032
Done.

[2017-10-13 08:42] #1032 closed

[2017-10-13 21:15] shcallaway commented on #1008
I found the issue. `ErrorEvent` is not being treated as an error by the `isError` util function, which can be found [here](https://github.com/getsentry/raven-js/blob/master/src/utils.js#L12). For convenience, I'll paste the function definition also:

[code]

I did a quick test in my console to see whether or not this function would return true for an `ErrorEvent`, and it did not:

![image](https:/

[2017-10-13 21:24] shcallaway commented on #1008
I'm submitting a PR in a few minutes.

[2017-10-13 21:25] benvinegar commented on #1008
Yes. Because it's not actually a descendent from `Error`. It doesn't have a `stack` property, for example (AFAICT, playing around in the console). Which means it may not actually get processed correctly.

It would be great to see an example of how this error is generated live, so that we can figure how best to process it.

[2017-10-13 21:27] shcallaway commented on #1008
The constructor for `ErrorEvent` takes an `Error`, so you could easily handle them like so:

[code]

[2017-10-13 21:31] shcallaway commented on #1008
You can see the construction definition [here](https://html.spec.whatwg.org/multipage/webappapis.html#the-errorevent-interface). In particular, look at the `ErrorEventInit` hash. It's an optional parameter, so I guess the solution I posted above doesn't handle the case an `ErrorEvent.error` is undefined.

[2017-10-13 21:31] benvinegar commented on #1008
Sure, I believe this can be solved – I just meant that it is not as simple as just augmenting `isError` to return `true`.

[2017-10-13 21:32] shcallaway commented on #1008
I understand. I'll put up a PR in a few minutes.

[2017-10-16 15:33] HeroProtagonist commented on #1033
@benvinegar I'm looking at this issue. On the linked PR you mentioned

The unmerged PR seems like it accomplishes the timeout. I do not see the new event system merged into the project. Would it be sufficient if the timeout triggers `self._triggerEvent('failure')` as i see done in `Raven._sendProcessedPayload`?

[2017-10-17 09:07] #588 closed

[2017-10-17 09:50] kamilogorek commented on #1033
Per this comment, I believe it should be fine. Although we don't document event system anywhere now, and I'm sure if we will anytime soon.

[2017-10-17 12:59] kamilogorek commented on #1086
Fixed in `3.19.1`.

[2017-10-17 12:59] #1086 closed

[2017-10-17 13:00] kamilogorek commented on #1008
Fixed in `3.19`

[2017-10-17 13:13] ankurk91 commented on #1061
This has been fixed in vue 2.5.0

[2017-10-17 13:14] kamilogorek commented on #1061
Thanks for letting us know @ankurk91! Cheers! :)

[2017-10-17 13:14] #1061 closed

[2017-10-17 17:16] MaxBittker commented on #530
https://github.com/getsentry/raven-js/pull/861

[2017-10-17 17:16] #530 closed

[2017-10-17 21:26] sgoel commented on #1008
Thanks @shcallaway! 👍

[2017-10-18 18:22] davidfurlong commented on #339
With redux sentry middleware our entire redux state gets submitted. Now we're getting this. Any idea of a current estimate on max size?

[2017-10-19 09:23] kamilogorek commented on #339
It's currently 100kB. You can use `dataCallback` to strip something that's unnecessarily big and you know you can skip it.

[2017-10-19 09:29] #940 closed

[2017-10-19 09:43] davidfurlong commented on #339
Yeah thanks I found the relevant docs. isn't `dataCallback` a config option, and not for individual raven `_send`s? Is the best practice to set the config and then unset it for an individual request? Additionally I feel that the best policy is to report the error to sentry without the heavy `extra` payload (or breadcrumbs or stack) rather than simply failing on the client... As many errors which c

[2017-10-19 11:32] kamilogorek commented on #339
It is indeed a global callback, which will be called for every event.

It's not that easy to do. We cannot simply calculate the size of the request and strip something if it's too large. We have to be performant and low in size. Adding something like this would require serialization of a whole payload, calculating the size and recursively trying to get it down to "sendable" size, which can be just

[2017-10-19 13:09] davidfurlong commented on #339
Yeah I see that that is an issue - I looked at doing this myself. But Im
not suggesting trying to prune dynamic parts of the data - Im suggesting
only sending the parts that are truly essential and which cannot
collectively be too big. My suggestion would be: on a '413 Request entity
too large' sentry retries the same request, but this time without sending
`extra`, `breadcrumbs` and `stack` (and a

[2017-10-19 15:50] fungilation commented on #623
Disagree. Chrome is doing it in improved console.log since 60/61, it can be "safe".

[2017-10-20 15:08] colbygk commented on #423
Quick question about best practices here in hopes that I can contribute a PR to address this issue:

What are the expectations of a plugin of this sort w.r.t. modifying the prototype for XMLHttpRequest or any other plugin for raven-js? Should prototype modification be avoided and only executed on a passed object to the plugin?

e.g. a plugin outline:

[code]

Or, should it modify the prototype of

[2017-10-21 15:30] mahmoudHosny opened #1102 "Report Dialog Translation"
Hi
I want to translate Raven  Report Dialog (Raven.showReportDialog)
So is there any localization option

[2017-10-23 09:47] kamilogorek commented on #423
Hey @colbygk,

It should modify prototype by default, but allow for passing users implementation, as it's done in `console` plugin right now https://github.com/getsentry/raven-js/blob/master/plugins/console.js

Also see:
https://github.com/getsentry/raven-js/blob/master/src/raven.js#L1131-L1153

[2017-10-23 09:48] kamilogorek commented on #1102
Hey, unfortunately as of now, there's no way to do this.

Duplicate: https://github.com/getsentry/raven-js/issues/702

[2017-10-23 09:48] #1102 closed

[2017-10-24 19:43] avesus commented on #424
@kamilogorek @benvinegar have you implemented the config option? It took a year, isn't it?

[2017-10-25 07:11] PhilippSpo commented on #1008
Seems like we are still getting this issue on `3.19.1` 🤔
![image](https://user-images.githubusercontent.com/8394418/31985173-76c56db8-b964-11e7-8113-ca975d1a62e4.png)
![image](https://user-images.githubusercontent.com/8394418/31985179-7ba412da-b964-11e7-9b63-b26ed9bc0553.png)

[2017-10-25 08:19] kamilogorek commented on #1008
@PhilippSpo which browser is this event coming from? `ErrorEvent` is not supported in some old mobile browsers and IE so we had to fallback to regular solution.

[2017-10-25 08:41] PhilippSpo commented on #1008
@kamilogorek Chrome 61.0.3163

[2017-10-25 13:00] benvinegar commented on #1033
+1 that it triggers `failure` and more-or-less remains backwards compatible.

[2017-10-25 14:06] danhart commented on #779
@benvinegar if it's not recommended to use it today, maybe `autoBreadcrumbs` shouldn't be `true` by default? Or are you trying to avoid breaking changes to the libs API?

[2017-10-25 14:14] benvinegar commented on #779
The `console` plugin turns every console message into a Sentry event. It isis separate from the breadcrumbs functionality, and must be activated manually (read: not enabled by default).

[2017-10-25 14:56] shcallaway commented on #1008
I'm seeing it on Chrome 61 also. 😕 I'll try to look into it soon.

[2017-10-25 21:27] jleider opened #1104 "Raven interferes with ckeditor5"
Adding raven-js to a page with ckeditor5 causes a `TypeError: emitter.on is not a function` error from ckeditor5 during initialization. There is a more detailed account of this same thing happening with zone.js: https://github.com/ckeditor/ckeditor5/issues/413 the issue stemmed from altering native prototypes: https://github.com/ckeditor/ckeditor5/issues/413#issuecomment-284892885

This has been r

[2017-10-26 11:03] octagonal commented on #879
I'll have a look at this!

[2017-10-26 11:07] OliverJAsh opened #1105 "Improve `isError` to detect old fashioned error subclasses"
**Do you want to request a *feature* or report a *bug*?**
bug/suggestion

**What is the current behavior?**
Given an old fashioned ES5 error subclass:

[code]

(Real world example: https://github.com/GetStream/stream-js/issues/119)

When an instance of this subclass is provided to Sentry's `isError` util, it reports back `false`. This is because of the `toString` result:

[code]

We get back `"[ob

[2017-10-26 11:11] OliverJAsh commented on #1105
On second reading it turns out `isError` does do what I expected. My issue must be something else. Sorry for the confusion!

[2017-10-26 11:11] #1105 closed

[2017-10-26 12:05] octagonal commented on #879
So when including a third party lib, I shouldn't add them as a dependency via package.json but instead include them in `/vendor`?

[2017-10-27 12:39] kamilogorek commented on #1008
Thanks @shcallaway

[2017-10-28 02:58] captbaritone commented on #339
Clearly the best solution to the problem of excessively large payloads, is to trim them down, and we have nice APIs to do just this (`Raven.setDataCallback`). However, it can still be difficult to know exactly how to transform your data. This difficulty is compounded by the fact that you must err on the side of extreme caution since if you do go over, it _fails silently_. As users of Raven+Sentry

[2017-10-28 11:18] davidfurlong commented on #339
I agree that 413 should live inside of Raven, but even just making it easier to implement your own 413 handling would be a big improvement.

Currently struggling to balance:
- Sending as much relevant redux state
- Not going over the size limits (both 100K and the imposed size limits per top level value in `extra` (I destructure my redux state for this)

The issue is that our redux state can vary

[2017-10-28 19:52] davidfurlong commented on #105
Make your DSN the empty string. It will disable reporting

[2017-10-29 22:48] davidpolberger commented on #1104
For what it's worth, this is affecting us too. Our interim solution is to call `Raven._restoreBuiltIns()`. As a result, we no longer have access to breadcrumbs in the reports, but at least CKEditor 5 works well.

[2017-10-30 08:00] paragjnath commented on #436
I have used this way. It seems working for me

`if (environment.production) {
  Raven.config('https://<key>@sentry.io/<project>')
  .install();
}

and in providers
providers: [environment.production ? { provide: ErrorHandler, useClass: RavenErrorHandler } : [], ...`

Please let me know if I am doing anything wrong here.

[2017-10-30 08:03] paragjnath commented on #105
I have used this way. It seems working for me

`if (environment.production) {
Raven.config('https://@sentry.io/')
.install();
}`

and in providers
`providers: [environment.production ? { provide: ErrorHandler, useClass: RavenErrorHandler } : [], ...`

Please let me know if I am doing anything wrong here.

[2017-10-30 14:08] kamilogorek commented on #424
Hey @avesus, no, not yet, as nowadays people are using various promises implementation, which makes it hard to do.
We sure can do it natively, but then this code will be unusable by someone using Bluebird, Q or any other implementation.

For now this https://docs.sentry.io/clients/javascript/usage/#promises is what we recommend, but this may change one day.

[2017-10-30 14:17] #782 closed

[2017-10-30 14:19] kamilogorek commented on #1104
I'll look into this

[2017-10-30 15:55] Dewep commented on #1012
Hi,

I have the same problem. I have this problem only on IE (11 in my case), but I can't reproduce the bug on a jsfiddle.

Reproduction does not seem important, because it seems to happen during problems with Vue.js (therefore not a real RavenJS issue). The problem being that Vue.js still reports the problem (using the `errorHandler` method), but being an internal problem, the `vm` parameter is `

[2017-10-30 19:37] wuservices opened #1107 "Duplicate definition of isObject in raven.js"
See https://github.com/getsentry/raven-js/blob/f74498e2eef95a1f3dd588c75699c4514ce87073/src/raven.js#L9

Lines 9 and 10 are the same:
[code]

[2017-10-30 21:03] austinpray commented on #1031
In your office visiting rn. Figure I can take care of this while I'm here seeing as though I _just_ did this exact thing at my job.

[2017-10-31 10:37] kamilogorek commented on #1031
You're more than welcome to give it a shot @austinpray :) Would appreciate it

[2017-10-31 11:46] kamilogorek commented on #1107
Fixed in https://github.com/getsentry/raven-js/pull/1108

[2017-10-31 11:46] #1107 closed

[2017-10-31 11:59] kamilogorek commented on #1104
Fixed in https://github.com/getsentry/raven-js/pull/1106
@jleider @davidpolberger would love to get a confirmation that it works with your setup using updated commit in `package.json`
[code]

[2017-10-31 12:04] kamilogorek commented on #1012
@Dewep what version of Vue are you using? We had a similar issue before, and we got a note that it should be fixed in Vue 2.5.0 – https://github.com/getsentry/raven-js/issues/1061#issuecomment-337226900

[2017-10-31 12:38] Dewep commented on #1012
Hi,
Unfortunately, I'm using Vue 2.5.2:

[code]

[2017-10-31 13:53] mjrdnk commented on #415
@kukac7 try this:

[code]

This works for me.

[2017-10-31 14:42] kamilogorek commented on #1012
@Dewep you can verify if your issue has been fixed updating your `package.json` with:

[code]

[2017-10-31 14:58] Dewep commented on #1012
Well, I'm not sure that's the perfect solution. As you would expect, RavenJS doesn't crash anymore, but the error is not reported. We would like to be informed when the application is dead for our customers. :)

[2017-10-31 15:10] PedroEsperanca opened #1112 "403 (FORBIDDEN): Event dropped due to filter, on basic use case"
Entering this in the console:
[code]

returns:

<img width="1172" alt="screen shot 2017-10-31 at 2 35 07 pm" src="https://user-images.githubusercontent.com/1115163/32229553-ffb4b956-be48-11e7-84d1-9b4a4dcd4813.png">

(with the reponse message being `Event dropped due to filter`)

Versions:
   - "raven": "2.2.1",
   - "raven-js": "^3.19.1",

I had initially reported it [here](https://github.com/get

[2017-10-31 15:14] kukac7 commented on #415
@mjrdnk thanks, it's been solved.

[2017-10-31 15:57] PedroEsperanca commented on #1112
After many experiments I have found that this happens when  *Header > Referer* is `http://localhost:*`

[2017-10-31 18:28] austinpray commented on #1031
I'm getting sort of discouraged.

1. Right off the bat the webpack output is 10kb heavier than the grunt output
2. webpack is not ie8 compatible, so we have to shim the es5 methods it uses in the module loading boilerplate. This adds another 20kb to the bundle.

I know you guys are trying to keep the output small as possible, so this sorta seems like a dealbreaker to me.

[2017-10-31 21:55] austinpray commented on #930
Opened a little PR for this

[2017-11-01 06:09] alejandromagnorsky opened #1117 "TypeError: Cannot read property 'Angular' of undefined"
I tried to use the Sentry library for AngularJS. Followed the instructions in the website and got the error:
`TypeError: Cannot read property 'Angular' of undefined`

on the line that says:` .addPlugin(Raven.Plugins.Angular)`

I would provide a fiddle but since our code structure relies on RequireJS it is quite hard to reproduce.

[2017-11-01 12:33] DamodarSojka commented on #1008
Also happens on Safari 11.0, Mac OS 10.13

[2017-11-01 15:11] davidpolberger commented on #1104
cf89f867b0834c1e5f8c146714549db7e2078577 works great, @kamilogorek, thanks! (For anyone following this thread, you need to build a package manually using `npm install` and `grunt build`.)

[2017-11-02 10:48] themre commented on #1064
I'm having the same issue with React. any estimation when will this be fixed or is it better to downgrade?

[2017-11-02 12:28] kamilogorek commented on #1064
With React? Could you please open new issue and describe it there?

[2017-11-02 12:29] kamilogorek commented on #1104
Thanks @davidpolberger! I'll release new version soon.

[2017-11-02 12:33] kamilogorek commented on #1117
How do you import angular plugin with RequireJS exactly? Can you just provide the configuration code that you use?

[2017-11-03 00:15] alejandromagnorsky commented on #1117
It looks something like this:

First, in the main.js:
[code]
Then, in the config.js:
[code]

[2017-11-03 07:54] themre opened #1119 "Maximum call stack exceeded"
** Bug report
This is related to this: https://github.com/getsentry/raven-js/issues/1064

**What is the current behavior?**

If I import raven-js in React app, I get maxium call stack error like in issue mentioned above. Example of import:
`import Raven from "raven-js"`
Using version 3.19.1.

**What is the expected behavior?**
Few versions back this problem didn't occur.

[2017-11-03 11:14] kamilogorek commented on #1012
@Dewep you're totally right. This should do now https://github.com/getsentry/raven-js/pull/1118 :)

[2017-11-03 11:16] kamilogorek commented on #1117
You import our plugin as `RavenAngular` (2nd argument), but you are trying to use it as `Raven.Plugins.Angular`.
Change this line to `.addPlugin(Raven.Plugins.Angular)` instead and it should work just fine :)

[2017-11-03 11:17] kamilogorek commented on #1119
Can you provide a call stack?
Does it happen just by importing it or do you run `config`/`install` as well?

[2017-11-03 11:28] kamilogorek commented on #1031
That runtime overhead... You may also give Rollup a try, it should be much more suitable for our needs + we should be easily able to force it work on IE8 with a small help from Babel.

We're fine with moving forward to just support IE10+. We can always create additional bundle with shims for people that want to still support IE10. However, dropping IE8-9 this would require us to bump major version

[2017-11-03 12:13] themre commented on #1119
ok strange. yesterday I got errors all the time (`rm -rf node_modules`), hard browser refresh... now, I tried 2 different applications and no error appeared. could it be some hard caching on CDN? I'll try again later to see if this has been resolved.

[2017-11-04 19:12] MaxBittker commented on #394
thanks kamil 😀

[2017-11-04 19:12] #394 closed

[2017-11-06 00:37] alejandromagnorsky commented on #1117
I was just following the instructions from the docs though.
Thanks, using `.addPlugin(RavenAngular)` fixes the issue.

[2017-11-06 05:44] amitghodke90 opened #1120 "unable to integrate sentry with angular-fullstack application"
in my angular fullstack application i want to integrate the sentry for error capturing.
have created application on sentry developer console and added following code to my app.js with project client keys.

var Raven = require('raven-js');
Raven .config('https://fb1c28b8571842a0ac559dcf12e17510@sentry.io/238981', {
  shouldSendCallback: function () {
    return isProduction;
  }
})
  .addPlugin(req

[2017-11-06 10:54] michal-rumanek commented on #1008
It looks like [traceKitWindowOnError](https://github.com/getsentry/raven-js/blob/master/vendor/TraceKit/tracekit.js#L148) doesn't process correctly input parameters when 'message' parameter is an ErrorEvent object:
<img width="665" alt="screen shot 2017-11-06 at 11 36 34" src="https://user-images.githubusercontent.com/10195710/32437260-09bf6c50-c2e7-11e7-8d48-4fee376df772.png">
and 'ex' is undefin

[2017-11-06 16:36] kamilogorek commented on #1117
Instructions work, if you use them with script tags (as presented there), not while using RequireJS loaders.
Glad it helped :)

[2017-11-06 16:36] #1117 closed

[2017-11-06 16:37] kamilogorek commented on #1119
I don't think so, as there was no major changes for a long time now.

Please feel free to reopen this issue if something is not right.

[2017-11-06 16:39] kamilogorek commented on #1120
Hey @amitghodke90. What does `isProduction` returns?
Can you use `dataCallback` method in the same way and see if the error is catched?

[code]

[2017-11-06 16:41] kamilogorek commented on #1119
It's coming from one of your chrome extensions. Can you bisect them (enable/disable some) to see what's causing the issue? I cannot debug it without knowing which extension it is and it's source code.

[2017-11-06 16:43] kamilogorek commented on #1008
Thanks for investigation @michal-rumanek, I'll try to handle this issue soon (don't have spare time this week).

[2017-11-06 16:51] themre commented on #1119
it's coming from react dev tools. function that it's checking its:
[code]

[2017-11-07 02:49] ryno1234 opened #1121 "captureBreadcrumb only reflecting latest version of data attribute"
When using the captureBreadcrumb() call with a data attribute, I'm finding that my logged message in Sentry is using the most recent values for values included in the data attribute.

For example:

            Raven.captureBreadcrumb({
                'message': 'Application state changed',
                'data' : {
                    'application': { 'state' : 'initializing' }
                }

[2017-11-07 05:13] amitghodke90 commented on #1120
isProduction returns true as currently working in productions environment

[2017-11-07 07:58] greatelv commented on #915
![image](https://user-images.githubusercontent.com/3984956/32482832-cae65600-c3dc-11e7-9b7e-4cb4f2ee4a4f.png)

[2017-11-07 08:05] greatelv commented on #915
![image](https://user-images.githubusercontent.com/3984956/32483082-bffd67dc-c3dd-11e7-9faf-f6cb30812e6d.png)
This is status of release artifact

[2017-11-07 11:46] AlexWayfer opened #1122 "192.168.1.1 IP for errors from compiled (via Babel) JavaScript files"
**Do you want to request a *feature* or report a *bug*?**

Report a bug, I guess.

**What is the current behavior?**

We have compiled JavaScript via Babel (`es2015` preset), and IP of User is always `192.168.1.1` in Sentry.

**What is the expected behavior?**

The real IP of User in Sentry information.

**Stack info**

Self-hosted Sentry 8.15.0, Raven.js 3.17.0 (d5678cb).

[2017-11-07 17:18] coluccini opened #1123 "Capturing Exception from Service Worker"
I'm trying to track exceptions happening inside a service worker to Sentry. I have a very basic setting and everything seams to be fine, except that the error are never sent (or even tried to be send to sentry).
The code looks something like this:
[code]

The `console.log(Raven.isSetup());` line always print true, so Raven should be correctly set up at this point. And the line `Raven.captureExcept

[2017-11-07 19:02] MaxBittker commented on #915
it actually also needs the source file in this case as well, so it can see the `//# sourceMappingURL=<url>`
which is how it knows where the sourcemap is

[2017-11-09 05:04] MaxBittker commented on #1119
@themre, was it react dev tools or "React-Sight"?

[2017-11-09 07:22] themre commented on #1119
oh yes, react sight it is. sorry!

[2017-11-09 07:24] themre commented on #1119
I uninstalled it, because haven't used it much. that solved the problem. thanks!

[2017-11-09 07:34] #1119 closed

[2017-11-10 16:58] lukemelia commented on #1121
@ryno1234 I'm guessing that you are mutating the Javascript object you are assigning to application, and that sentry serializes everything to JSON at the time of send. You could likely address the issue you are experiencing by cloning the object before passing it to sentry.

[2017-11-12 13:19] zivl opened #1125 "function isSameStacktrace() is thrown with TypeError: Cannot read property 'frames' of undefined"
Inside `raven.js` there is a logic in `isSameStacktrace` function to determine whether the current error is the same as the previous one (in a certain time frame).

I have something like the following code:
[code]

and I get this report in *Sentry*:

`TypeError: Cannot ready property 'frames' of undefined`
(line 324 is highlighted: `var frames1 = stack1.frames;`)

I would expect to have another "n

[2017-11-13 12:21] kamilogorek commented on #1120
You still have the second part of the task :)

[2017-11-13 12:24] amitghodke90 commented on #1120
@kamilogorek whats that??

[2017-11-13 12:26] kamilogorek commented on #1121
@ryno1234, @lukemelia may be correct here, as we indeed just assign key:value pairs during merge, see: https://github.com/getsentry/raven-js/blob/master/src/utils.js#L90-L98

[2017-11-13 13:36] kamilogorek commented on #1123
Hey @coluccini, ServiceWorkers doesn't have an access to XHR APIs, therefore it cannot communicate with an outside world – https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API

I'll look into how this can be handled soon.

[2017-11-13 13:39] kamilogorek commented on #1122
Raven.js doesn't collect user's IP, unless it's manually added to the context by a developer. Did you mean raven-node by any chance?

[2017-11-13 13:40] #1112 closed

[2017-11-13 13:40] kamilogorek commented on #1112
@PedroEsperanca this is solved right? If not, please feel free to reopen.

[2017-11-13 13:50] AlexWayfer commented on #1122
It collected correctly before we began to compile JS. `192.168.1.1` only after we started compiling JS.

I'm not sure that I understood you correctly. We're using `raven-js` for web (sites) front-end, not `raven-node`. I don't think that we should use `raven-node` for this.

-----

Okay, we'll add manually this information.

Just keep in mind that it worked without JS compiling automatically.

[2017-11-13 13:50] #1122 closed

[2017-11-13 13:59] kamilogorek commented on #1122
There's no code in a whole code-base that's directly collection an IP – https://github.com/getsentry/raven-js/blob/master/src/raven.js
It may only be done through `userContext`, which has to be set by developer.

[2017-11-13 14:32] AlexWayfer commented on #1122
@kamilogorek I think it may be caught by Sentry Server side, but I'm not sure.

[2017-11-13 17:06] StevePotter opened #1128 "Internal exception when a breadcrumb has data with `url: null`"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
If you have a null data property called 'url', the library has internal errors.

Just try this:
[code]

The exception comes from:
https://github.com/getsentry/raven-js/blob/master/src/raven.js#L1609

Just put a check for a null value or modify `truncate` to return empty string for null values

**What i

[2017-11-14 10:46] michal-rumanek commented on #1008
@kamilogorek, any progress? ;-)

[2017-11-14 12:23] nimishsinghal commented on #1123
I am also having the same issue. Is there any general practice people follow for error reporting in SW?

[2017-11-14 12:29] kamilogorek commented on #1128
Can you provide an actual error?

Code you pointed already guards for situations like the one above (simplified example):

[code]

[2017-11-14 13:00] kamilogorek commented on #1123
You can use https://github.com/bevacqua/swivel (or implement it on your own using https://ponyfoo.com/articles/serviceworker-messagechannel-postmessage) to pass a message when an error occurs.

To catch an errors themselves, use `onerror` or `error` event inside your ServiceWorker `self.onerror = ...` or `self.addEventListener('error', ...)`, and when it happens, send a message to the parent (your

[2017-11-14 13:01] kamilogorek commented on #1123
@nimishsinghal You can use https://github.com/bevacqua/swivel (or implement it on your own using https://ponyfoo.com/articles/serviceworker-messagechannel-postmessage) to pass a message when an error occurs.

To catch an errors themselves, use `onerror` or `error` event inside your ServiceWorker `self.onerror = ...` or `self.addEventListener('error', ...)`, and when it happens, send a message to t

[2017-11-14 13:10] kamilogorek commented on #1125
Hey @zivl, can you provide a minimal repr-case I could use?

The code you mentioned is used here:

[code]

which makes sure that we have at least one object to work with.

Then `isSameStacktrace` checks for similar thing again here:

[code]

I'm not sure how we'd end up with `stack1 === null`.

[2017-11-14 13:16] coluccini commented on #1123
Mmm but this will work only if the user has the page loaded, but there are situations when you want to track errors without the page being loaded (ex: an error when receiving or trying to show a push notifications). There are no way to track an error using a fetch (get or post) request?

[2017-11-14 13:37] kamilogorek commented on #1123
There is, but you need to create payload/urls yourself, as it's outside of SDK scope – https://docs.sentry.io/clientdev/overview/

[2017-11-14 13:48] kamilogorek opened #1129 "Run tests before building, not before publishing when running deploy script"

[2017-11-14 15:01] jaylinski opened #1130 "Convert to ES modules"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

Library is exposed as a CommonJS module.

**What is the expected behavior?**

Library is exposed as ES6 module.

**Why do I want this behavior?**

I only want to ship the raven-js library in the first few days after releasing a new feature. After that, I want to get rid of the 20KB raven-js libra

[2017-11-14 17:11] coluccini commented on #1123
Thanks! I'll have a look

[2017-11-14 18:07] kamilogorek commented on #1123
Let's leave it open. I'll try to create a proper doc/feature one day.

[2017-11-15 04:04] downace opened #1131 "breadcrumbCallback config option is missing in TypeScript typings"
This option [is supported](https://docs.sentry.io/clients/javascript/config/#optional-settings) but not listed in `Raven.RavenOptions` interface in `typescript/raven.d.ts`
raven-js 3.20.0

[2017-11-15 04:52] SeriousLemon opened #1132 "Function.prototype.toString: 'this' is not a Function object"
Having an issue configuring raven.js since updating to 3.20.0 with IE11.

It's an Angular (5.0.1) CLI (1.5.0) app with a typical setup in `app.module`:

[code]

Running the app causes an error in IE11 `Function.prototype.toString: 'this' is not a Function object`. Chrome and Firefox are ok.

Reverting to 3.19.1 resolves the issue.

[2017-11-15 06:19] maoberlehner commented on #1130
I might add one improvement to the proposed solution:

If the source code is using es6 imports and exports it is possible to use the `module` key in the `package.json` to reference the es6 main entry point of the package `{ "module": "src/raven.js" }`. See: https://github.com/rollup/rollup/wiki/pkg.module

That way, the `main` key can still reference a bundled, CommonJS compatible version of the p

[2017-11-15 07:47] leo6104 commented on #1132
same issue for my projects.
- angular 5.0.1 , cli 1.5.0,  rave-js 3.20.0

[2017-11-15 08:07] zivl commented on #1125
@kamilogorek
Unfortunately, I don't have a specific repr-case scenario. I know it makes your life harder a bit.
Anyway, in those exact lines that you've mentioned above, I think this should be the change
[code]

The fact that *we don't know how we end up with `null`* does not really matter. As framework developer, I know that I might get unexpected input so I should either check for it and handle

[2017-11-15 10:51] asgerjensen commented on #1132
Seems to be related to this:

https://github.com/getsentry/raven-js/commit/30c0da44f1b1f1a82b2183decd7b60c2d277449a#diff-768fd3ae72b2025ae6a7de0b04b78608R1013

[2017-11-15 12:14] kamilogorek commented on #1132
Can you please provide a whole stack trace and/or a minimal repro-case?
We test our releases on >= IE10, including installation itself and it works just fine when using without any frameworks. I need more information to debug this.

[2017-11-15 12:29] StevePotter commented on #1128
@kamilogorek you are right.  Our version was slightly out of date and didn't have the guard code.  We just need to upgrade.  Thanks!

[2017-11-15 12:29] #1128 closed

[2017-11-15 13:27] kamilogorek commented on #1130
It's definitely something that I want to do soon.
However, it'd require us to most likely migrate to webpack/rollup and make sure that bundle we provide still doesn't exceed our 10kb budget.
I cannot say when it'll be shipped though, as there are some other things that I'm working on right now as well.

[2017-11-15 13:45] kamilogorek commented on #1125
If we change it to `&&`, then it'll always return `true` for payloads where one thing has `stacktrace` and second does not (eg. `captureException` was last event, but now we compare it to `captureMessage`)

Current code:
[code]

A reason why I want to see some repro-case, is that this clause

[code]

Already guards for non-truthy imputs, therefore it should never be possible to get `null.frames` c

[2017-11-15 15:23] asgerjensen commented on #1132
I can try later tonight. I saw it on our site this morning, but everything has been minified to heck and back, but i will try to capture the stack trace in a non-prod build.

[2017-11-15 18:42] hutchwhite commented on #1132
Same here.   Issue occurs in Edge as well.

[2017-11-15 20:29] asgerjensen commented on #1132
Full stack trace:
[code]

Reproducable code repo coming up

[2017-11-15 20:41] asgerjensen commented on #1132
https://github.com/asgerjensen/raven-js-ie-issue

If you switch from 3.20.0 to 3.19.1 it starts working.  Be sure to clear node_modules and package-lock.json

Also, i removed my key from `app.module.ts`, you probably have one or two lying around....

I think, maybe the issue is a conflict with some of the other polyfills that IE require from core-js.

[2017-11-16 09:43] nimishsinghal commented on #1123
Hey @kamilogorek,

If we just edit _makeRequest method (https://github.com/getsentry/raven-js/blob/master/src/raven.js#L1884) and use fetch instead of XHR APIs will ravenjs work for service workers?

[2017-11-16 09:57] coluccini commented on #1123
Yes, but you would leave tons of browser out of compatibility.
Maybe add an new method using `fetch` that we can use from a service worker?

[2017-11-16 10:10] nimishsinghal commented on #1123
Can we use https://github.com/github/fetch so that modern browsers use fetch implementation and use XHR APIs for fallback?

[2017-11-16 11:28] nimishsinghal commented on #1123
I can create a PR and move XHR API's to fetch if required

[2017-11-16 12:52] kamilogorek commented on #1132
Thanks @asgerjensen. Will investigate as soon as possible.

[2017-11-16 13:24] #1131 closed

[2017-11-16 13:27] kamilogorek commented on #1123
There's already a PR for this https://github.com/getsentry/raven-js/pull/1115
I'll try to merge it before the end of the week.

Not really, it'll increase a total size of raven, which we want to mitigate.

[2017-11-16 13:29] coluccini commented on #1123
👏👏

[2017-11-16 22:37] olsh opened #1136 "f.stack is undefined on capturing error"
We are using Angular integration with the following code:

[code]

And on this line `Raven.captureException(err);`, sometimes we get the error:
[code]

It seems like the error happens [here](https://github.com/getsentry/raven-js/blob/30c0da44f1b1f1a82b2183decd7b60c2d277449a/src/raven.js#L484)

We're using sentry.io with the following version of raven-js https://cdn.ravenjs.com/3.19.1/raven.min.js

[2017-11-17 01:42] rbrtmrtn opened #1138 "Documentation for Raven.captureMessage"
**Do you want to request a *feature* or report a *bug*?**

Documentation

**What is the current behavior?**

The `Raven.captureMessage` function is not described. There is only a quick example.

![image](https://user-images.githubusercontent.com/1463553/32925181-93887c72-cb0e-11e7-9d7d-201ca6022a15.png)

**What is the expected behavior?**

It would be great if this function were documented -- i.e.

[2017-11-17 03:23] SimonSchick commented on #1138
Meanwhile, check the typings: https://github.com/getsentry/raven-js/blob/master/typescript/raven.d.ts#L186

[2017-11-17 03:47] cyberhck opened #1139 "Raven.captureException might not be working"
I just found something which looked a little weird to me, and it's a followup, more of a general query related to #1094.

It might be a bug, but I want to be sure, I might have been wrong.

Context: I installed raven, when I do a `throw new Error("something bad happened");` it gets logged to sentry BUT on one part, I tried doing:
[code]
**What is the current behavior?**
It doesn't log anything to

[2017-11-17 10:04] #1132 closed

[2017-11-17 10:16] #1136 closed

[2017-11-17 10:26] kamilogorek commented on #1136
Fixed in `3.20.1`

[2017-11-17 10:26] kamilogorek commented on #1132
Fixed in `3.20.1`

[2017-11-17 10:45] alexcroox commented on #279
I ran into a need for this today as I have an offline capable feature. I store all my own data using indexdb but it would be nice to have an out of the box offline functionality for Sentry. If it it could use it's own local database to store events and periodically/on network changes attempt to send and clear out the db that would be super useful.

[2017-11-17 13:46] lucasff opened #1141 "Provide a "latest" version on CDN"
I wish I could refer to the **latest** version as `https://cdn.ravenjs.com/latest/angular/raven.min.js` instead of a specific version `https://cdn.ravenjs.com/3.17.0/angular/raven.min.js`

[2017-11-17 14:05] kamilogorek commented on #1141
Duplicate of https://github.com/getsentry/raven-js/issues/911

[2017-11-17 14:05] #1141 closed

[2017-11-18 18:34] zivl commented on #1125
I saw the tests in `raven.test.js`, though, to my humble opinion, I think the default for `_isRepeatData ` should return `false`. In case of `true`, I might miss some errors just because they have not pass in one of the conditions. Isn't the desired behavior should prefer to *send anyway* ? I rather have a few more errors to check but at least I know about them (and later on I can provide even bet

[2017-11-21 09:16] WhatAKitty opened #1143 "Uncaught hole"
**What is the current behavior?**

Delete the last word in input field, the browser will blocking until raven-js throw `Uncaught hole` exception in below code:
[code]

**What is the expected behavior?**

Raven.js version: 3.20.1 and Using npm package.
browser: chrome
OS: MacOS, windows 10
React: 0.14.3
Hosted Sentry by ourselves (8.21.0)

[2017-11-21 09:30] kamilogorek commented on #1143
Hey @WhatAKitty, can you provide a reproducible test case that we could use to test this behaviour?

[2017-11-21 14:01] ryno1234 commented on #1121
So, if I understand this correctly, you can only have 1 breadcrumb with a given name (key)? That same breadcrumb name cannot appear and have a different value?

[2017-11-22 08:26] WhatAKitty commented on #1143
@kamilogorek I cannot reproduce this in jsfiddle, but it actually happened in my workplace. And it still in there when I upgrade react-native to 0.14.9

[2017-11-22 09:09] WhatAKitty commented on #1143
@kamilogorek I use html script import, the error changed to :
[code]

and this always happened while the input has an validation. And at same time, the browser will throw an error: `[Deprecation] 'window.webkitStorageInfo' is deprecated. Please use 'navigator.webkitTemporaryStorage' or 'navigator.webkitPersistentStorage' instead.`

[2017-11-22 16:20] vkrol commented on #1132
We have the same problem in Chrome `62.0.3202.94` in `3.20.1` :(

[2017-11-22 16:39] vkrol commented on #1132
@kamilogorek strange, but this error occurs only if we use `raven-js/dist/raven.min.js` bundle.

[2017-11-22 17:38] wenzowski commented on #1031
Rollup sounds like the right way to go

[2017-11-23 15:18] JosefJezek opened #1147 "Catch errors before loaded lib"
Does raven have solution for catch errors before installing as Google Analytics?

[code]

[2017-11-26 10:04] zivl commented on #1125
@kamilogorek
The thing is that `return isSameStacktrace(ex1.stacktrace, ex2.stacktrace);` that is being called in `isSameException` does not have the same _protection_ like 'isSameStacktrace'.

The condition `current.exception || last.exception` doesn't garrantee that `exception` has a stack trace. In the current situation, both `last.exception.stacktrace` and `current.exception.stacktrace` are `u

[2017-11-27 02:52] cyberhck commented on #1139
never mind, new version solved it.

[2017-11-27 02:52] #1139 closed

[2017-11-27 15:01] herodrigues opened #1151 "chrome.app.runtime is not supported by Firefox"
**Do you want to request a *feature* or report a *bug*?**

Feature (?)

**What is the current behavior?**

Any Firefox WebExtension that uses Raven as dependency won't be published to Mozilla Addons because `chrome.app.runtime` is not supported.

Addons linter output:
[code]

**What is the expected behavior?**

`Firefox:  52+`
`raven-js: 3.20.1` (using npm package)

Raven should work with Firefox

[2017-11-27 20:58] kireerik commented on #169
Similarly to @zanona I would also prefer to have a simple tracking code like Raygun or [Google Analytics](https://developers.google.com/analytics/devguides/collection/analyticsjs/) has. Here is an example for [analytics.js](https://www.google-analytics.com/analytics.js):
[code]

@benvinegar Is something like this possible with Raven.js? Maybe in the future?

[2017-11-28 20:13] jaylinski commented on #1130
@kamilogorek I always wanted to do a build setup with rollup.js. So I took some time and changed the build from Browserify to Rollup with Babel: #1152

This is the first step needed in order to convert the source to ES modules.

Would be cool if you could review this PR. :octocat:

[2017-11-30 02:47] mayfield commented on #930
Another PR option that I'm using in my app already: #1156

[2017-11-30 20:37] kamilogorek commented on #930
Fixed in https://github.com/getsentry/raven-js/pull/1157

[2017-11-30 20:37] #930 closed

[2017-12-01 07:43] GEMI commented on #1008
Hi, I am getting a lot of these errors `[object Object]`.
![screenshot 2017-12-01 09 41 20](https://user-images.githubusercontent.com/769500/33472631-d654f3e6-d67b-11e7-8686-9b84ee6b1f75.png)

Angular 4
Chrome 62.0.3202
Raven-js 3.20.1

[2017-12-01 15:41] coluccini opened #1161 "Avoid tracking exceptions coming from third party iframes?"
I've add adsense ads on my web and I'm getting a lots of exceptions from adsense script itself and, I think, even from within the ads. Is there a broad way of avoiding tracki exceptions coming from inside iframes?

[2017-12-01 17:19] coluccini commented on #1123
Hi @kamilogorek! I've saw that you merged the change to use `fetch` instead `xhr` when available (👍), but I'm seeing the same behaviour as before: `Raven.captureException()` don't trigger any request to sentry nor it triggers an error when called from the service worker. Do you have any idea why this could be happening? Thanks!

[2017-12-01 17:53] nimishsinghal commented on #1123
@coluccini I was using the same commit to track service workers error. It seems to be working fine for me.

[2017-12-01 18:57] coluccini commented on #1123
@nimishsinghal great! I’ll check my implementation then. Thanks!

[2017-12-04 13:22] kamilogorek commented on #1125
Resolved in https://github.com/getsentry/raven-js/pull/1150

[2017-12-04 13:22] #1125 closed

[2017-12-04 13:25] kamilogorek commented on #1161
Yes, please refer to https://docs.sentry.io/clients/javascript/config/
`whitelistUrls`, `ignoreErrors`, `ignoreUrls` options.

[2017-12-04 13:25] #1161 closed

[2017-12-04 13:37] Valandur opened #1164 "setTagsContext doesn't set tags properly"
**What is the current behavior?**

When using `Raven.setTagsContext` to set tags in a global context, they are not properly passed to Sentry, and an error shows up in the error report stating `Discarded invalid value for parameter 'tags' `
![sentry](https://user-images.githubusercontent.com/1572366/33555478-cd978da4-d900-11e7-9f94-61c25d392ab1.png)

**What is the expected behavior?**

The error re

[2017-12-04 14:08] kamilogorek commented on #1164
Thanks for the report @Valandur.

Could you also post an output from the request itself?

To obtain it:

[code]

Thanks!

[2017-12-04 15:07] Valandur commented on #1164
[code]

I removed the project id because I wasn't sure how private that information is. Weird that it seems to show up as a correct map here, but turns into an array when sending...

[2017-12-04 16:00] kamilogorek commented on #1164
`release` cannot be used as a tag, as it's protected attribute set via config (or `setRelease` method)

Please see https://docs.sentry.io/clients/javascript/config/#optional-settings

[code]

or

[code]

[2017-12-04 17:48] Valandur commented on #1164
Yea I know about the release version used for Sentry's releases feature, but was trying to add more information in the tags. But so I'm assuming this happens due to the fact that the tag name interferes the predefined `release` config value?

[2017-12-04 19:05] kamilogorek commented on #1164
That's exactly what's happening. I'll try to send a PR to create more meaningful message so it's more obvious next time :)

[2017-12-04 19:05] #1164 closed

[2017-12-04 19:06] kamilogorek commented on #1164
@Valandur also for the reference, here's a list of protected tags – `'release', 'dist', 'user', 'filename', 'function'` – https://github.com/getsentry/sentry/blob/master/src/sentry/tagstore/base.py#L19-L22

[2017-12-05 10:48] kamilogorek commented on #1151
How's this different than `var isChromePackagedApp = chrome && chrome.app && chrome.app.runtime;` that we already use?

We're open for a PR's if you'd like to fix it :)

[2017-12-05 11:48] nenadalm opened #1167 "Incorrect TypeScript typings"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

`captureException` (https://github.com/getsentry/raven-js/blob/af6228d5046076ae3dc1ac6e52f074699fe98c6b/src/raven.js#L401 accepts many thigs as first argument - not just `Error`, but TypeScript definition claims that it accepts only `Error` - https://github.com/getsentry/raven-js/blob/af6228d5046076ae

[2017-12-05 20:19] herodrigues commented on #1151
Because chrome.app.runtime is not supported.

Anyway, I published an extension to Firefox Add-ons and it was accepted.
So I think that's not urgent.

[2017-12-06 09:09] NugzarGaguliya commented on #758
I think it will be very usefull! Please, implement this.

[2017-12-06 12:52] kamilogorek commented on #169
@kireerik it definitely will be implemented (most likely as a documentation how-to), but I cannot give you an accurate date estimate now.

[2017-12-06 18:07] kireerik commented on #169
@kamilogorek Sounds great (I don't like the workaround as a solution). No problem!

[2017-12-07 15:22] fcoury commented on #844
Did anyone solve this issue after it being closed? I am having this exact same issue.

[2017-12-07 16:00] fcoury commented on #937
I am running into this very same problem with raven-js and redux plugins. My app state has around 180kb. Is there a way to bump the limit on Sentry?

[2017-12-07 16:08] bjunc commented on #937
@fcoury maybe I don't know what I'm missing as far the benefits of having the data in Sentry, but I just delete the propsData before send (see above).  Even since moving from REST to GraphQL, it's not worth the hassle of worrying about going over 100k, and not capturing the exception.

[2017-12-07 16:09] fcoury commented on #937
@bjunc the benefit I see is that I can inspect the user's redux state when the error was triggered. That helps a lot with the insights about the issue.

[2017-12-07 16:14] bjunc commented on #937
@fcoury I know what it's supposed to be able to do.  I'm simply saying, since I don't get to do it, I don't really "miss" it.  I would like it, for sure (that's why I created the issue in the first place).

Anyway, have you considered attempting to prune the data on your end, before sending?  That's on my todo list, but I haven't gotten around to it.  Basically, write a prune method that is called

[2017-12-07 16:16] fcoury commented on #937
@bjunc I am trying to learn how to intercept and change the payload before sending it out to Sentry. Do you know where I add such intercepting code?

[2017-12-07 16:17] fcoury commented on #937
@bjunc just found `dataCallback` option. I am going to play with it a bit.

[2017-12-07 16:57] bjunc commented on #937
@fcoury I haven't really looked into it, but if I were to start somewhere, I was considering something along the lines of the `json-size` NPM package.  If the data is less than 100k, then send the whole thing.  If not, go through and prune (maybe something along the lines of `_.cloneWith`)

[2017-12-07 16:59] fcoury commented on #937
@bjunc for now I settled with removing the fields unconditionally but this seems like a good approach as well. I wish Sentry provided an add-on to allow going over the limit.

[2017-12-07 19:13] jrencz opened #1168 "Error `Error enumerating properties on scriptable plugin object` thrown in Raven.prototype.wrap"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
An error report has been collected by Raven and it has been sent to sentry. The trace shows that the error originates in `Raven.prototype.wrap`

[code]

Below I include the JSON I downloaded from sentry.io

<details>
<summary>content</summary>
Values specific for my setup, file names, domain names and

[2017-12-07 19:21] jrencz commented on #1168
It looks like this line: https://github.com/getsentry/raven-js/blob/228f590a5e83cea15f8eb5f1157c61fcc7ad3ca7/src/raven.js#L337 is to blame.

Function known as `e` in trace is also part of raven.js

It's: https://github.com/getsentry/raven-js/blob/228f590a5e83cea15f8eb5f1157c61fcc7ad3ca7/src/raven.js#L963-L979

[2017-12-08 12:16] kamilogorek commented on #844
What's exactly the issue? Can you provide your config/repro case? Without it, I cannot tell much.

[2017-12-09 10:27] thedavidmeister commented on #1104
i ran into this over here https://github.com/ckeditor/ckeditor5-editor-balloon/issues/12

looks like raven 3.20.1 doesn't have this error in it

[2017-12-11 14:41] ChristianFranke opened #1169 "IE11 compatibility"
Hey!

Is it correct that IE10 is supported, but IE11 not?

![image](https://user-images.githubusercontent.com/1424478/33836435-b3c6057a-de89-11e7-8fde-cb8162487ae7.png)

[2017-12-12 09:27] vansosnin opened #1170 "Illegal invocation error using Redux"
**Bug**

**What is the current behavior?**

I have installed Raven like this:

[code]

I am developing on localhost. I write simple react component like this:
[code]
where `onButtonPress` - is action dispatching (I use Redux). Then starts magic. I have error _Illegal invocation_ at _raven.js:355_. It reproduces when I have _Event_ object in action payload. And it does not reproduce in production!

[2017-12-12 09:33] bradleypriest commented on #576
Running into this myself, we'd love to be able to add the ember component name, or input HTML name to the breadcrumb.

What about leaving the default and exposing a config somewhere?

These would all give us the power.
- Passing the event to the `captureBreadcrumb` funcation as an extra param.
- exposing `this._lastCapturedEvent` globally
- exposing `htmlTreeAsString` as an overwritable method/con

[2017-12-13 09:12] kamilogorek commented on #1104
Thanks for reporting that @thedavidmeister!

[2017-12-13 09:12] #1104 closed

[2017-12-13 09:21] kamilogorek commented on #1169
Hey, it's fully supported. Travis sometimes fails on us and timeout some SauceLabs tests, which are marked as failed, not skipped. Restarted build manually and we are back to green :)

[2017-12-13 09:21] #1169 closed

[2017-12-13 09:30] kamilogorek commented on #1170
Hey, are you able to determine where in this plugin's code it triggers?
Without this (or a full stacktrace) it's almost impossible to track it down.

[2017-12-13 11:16] vansosnin commented on #1170
Just in case: at _raven.js_ it appears [here](https://github.com/getsentry/raven-js/blob/master/src/raven.js#L356).

As for me, the stacktrace is pretty useless:
[code]

Debugging lead me [here](https://github.com/zalmoxisus/redux-devtools-extension/blob/0caa713ea629a2cb58d3ad78cb6c8675ab2d95bf/src/app/api/index.js#L13).
Error I had:

[code]

Because payload is Event:

![chrome_2017-12-13_15-54-56

[2017-12-13 12:08] kamilogorek commented on #1123
Release `3.21.0` includes Fetch support now \o/

[2017-12-13 14:55] LucasReSilva opened #1173 "[BUG] Raven-js + Angular2 +Materialize-CSS = Bug on Materialize Animations"
I want to report a bug on 3.17.0 and 3.21.0

**What is the current behavior?**
![current behavior](https://i.imgur.com/IstZFYU.gif)
https://i.imgur.com/IstZFYU.gifv

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar.

**What is the expected behavior?**
![expected behavior](https://i.imgur.com/G6

[2017-12-14 13:27] kamilogorek commented on #1173
Hey @LucasReSilva, I won't be able to help you unless you provide some kind of test case, reproducible codebase or error stack trace.
Right now, with just those gifs, I can't do anything.

[2017-12-17 19:12] GEMI opened #1176 "Error message property logged as [object Object]"
Bug

**What is the current behavior?**
Sentry does not log original exception message, instead it records [object Object].
![sentry-error](https://user-images.githubusercontent.com/769500/34082832-9c654492-e36e-11e7-838a-8a116b0aa2fe.PNG)
This bug was happening in the previous versions also.

**What is the expected behavior?**
Sentry should log the original exception message.
![original](https://u

[2017-12-19 12:44] kamilogorek commented on #1176
Are you using our Angular.js plugin? https://docs.sentry.io/clients/javascript/integrations/angular/
If not, you'd have to handle non-standard zone.js errors in your code, so they throw regular error objects or a message, instead of `{ error: 'something' }` object we can see now.

[2017-12-19 12:54] GEMI commented on #1176
Yes, I am doing everything according to Sentry Angular docs.

[code]

[2017-12-20 10:55] kamilogorek commented on #1176
Unfortunately, this is Google JS API issue. Instead of throwing regular errors, they are throwing objects in `{ error: 'some_message' }` form.
We cannot handle every possible scenario (eg. this one being the case), so it has to be handled by a developer.

In this case, it should be pretty straightforward:

[code]

Hope this helps and let me know if you have any more questions.

[2017-12-20 12:37] GEMI commented on #1176
Ok, I will try this.

[2017-12-27 22:21] HudsonAfonso commented on #702
+1

[2017-12-28 14:52] ManiacalAce commented on #1033
Is there a workaround for this at the moment?

[2018-01-03 21:53] saiichihashimoto commented on #1031
How is this going? Currently, raven-js is the biggest dependency in my webpack build.

For context:

![image](https://user-images.githubusercontent.com/2819256/34541505-4bba9908-f08d-11e7-8ac5-b00b44515791.png)
![image](https://user-images.githubusercontent.com/2819256/34541515-561a5988-f08d-11e7-8ece-80d5f0c148bc.png)

[2018-01-04 09:58] pradeepramesh123 opened #1184 "integrating sentry server to client"
Hi
I installed Sentry on my server (On-premise). Sentry version is 8.22.

I would like to integrate sentry server with Client running java application. Could please help me where i have to start for integrations and what parameter are required to insert in java code on the client machine.

Thnaks
prdeep.bangala@highradius.com
00917032845100

**Do you want to request a *feature* or report a *bug*?*

[2018-01-04 11:29] kamilogorek commented on #1184
Hey @pradeepramesh123, I'm not sure if you meant Java or JavaScript.

If former, then go to https://docs.sentry.io/clients/java/
If latter, go here https://docs.sentry.io/clients/javascript/

Also if you have any more questions, please post them here https://forum.sentry.io/ as GitHub issues are not meant for customer support.

Cheers!

[2018-01-04 11:29] #1184 closed

[2018-01-04 12:40] pradeepramesh123 commented on #1184
Hi Kamil,

Thank you very much for your immediate response.
I will go through the link.

Regards,
Pradeep

On Thu, Jan 4, 2018 at 4:59 PM, Kamil Ogórek <notifications@github.com>
wrote:

[2018-01-04 14:29] mchapman opened #1185 "Unable to integrate with an AngularJS app"
Not sure if this is a bug or incomplete documentation, but I am unable to resolve it having followed all the suggestions I can find here or on the forums.  Unfortunately the app is large, so providing a minimal demo is impractical.

Currently like in [this example](https://forum.sentry.io/t/installed-but-not-seeing-errors-how-do-i-trigger-an-error/2821) I am getting reports from Raven.captureExcep

[2018-01-04 15:10] HazAT commented on #371
We have a new Cordova SDK now https://github.com/getsentry/sentry-cordova
Documentation: https://docs.sentry.io/clients/cordova/

Feedback is highly appreciated, closing this.

[2018-01-04 15:10] #371 closed

[2018-01-04 15:11] HazAT commented on #988
We have a new Cordova SDK now https://github.com/getsentry/sentry-cordova
Documentation: https://docs.sentry.io/clients/cordova/

Also with Ionic support.

Feedback is highly appreciated, closing this.

[2018-01-04 15:11] #988 closed

[2018-01-04 15:12] HazAT commented on #949
We have a new Cordova SDK https://github.com/getsentry/sentry-cordova
Documentation: https://docs.sentry.io/clients/cordova/

Feedback is highly appreciated, closing this.

[2018-01-04 15:12] #949 closed

[2018-01-04 15:14] HazAT commented on #751
We have a new Cordova SDK https://github.com/getsentry/sentry-cordova
Documentation: https://docs.sentry.io/clients/cordova/

Feedback is highly appreciated, closing this.

[2018-01-04 15:14] #751 closed

[2018-01-04 15:15] HazAT commented on #628
We have a new Cordova SDK https://github.com/getsentry/sentry-cordova
Documentation: https://docs.sentry.io/clients/cordova/

Feedback is highly appreciated, closing this.

[2018-01-04 15:15] #628 closed

[2018-01-04 15:35] martijnrondeel opened #1186 "Ability to change log levels in the Console plugin"
I can see that the console plugin has a parameter to specify which log levels you want to support, but I can't seem to find a way to change this using the compiled raven-js version on the [CDN](https://cdn.ravenjs.com/3.21.0/console/raven.js).

We would like to only log `error` console messages instead of the default `'debug', 'info', 'warn', 'error'`.

[2018-01-04 15:37] leroydev commented on #751
@HazAT I might be overlooking something, but it seems like the Sentry Cordova client library hasn't got support for `showReportDialog` yet

[2018-01-08 02:33] adamreisnz commented on #577
+1 for showing ID's, or a custom tag like `data-sentry-id="Some text here"`

[2018-01-08 02:34] adamreisnz commented on #576
I'd like to chime in here as well. Instead of adding Angular or Ember or whatever framework specific data, I would prefer a custom tag, e.g. `data-sentry-id="Some text here"` which would give us the most control over how to identify certain elements. The classnames currently don't give us any useful information, and we don't use ID's for elements. Adding `ng-` stuff won't help either because there

[2018-01-09 02:44] helfer opened #1188 "Please cut a new release"
**Do you want to request a *feature* or report a *bug*?**

Feature. Could you cut a new release? I need to use `fetchParameters`, which were added 20 days ago, but the latest release is from 27 days ago.

**What is the current behavior?**

Cannot configure fetchParameters, so I have to use `setTransport`.

**What is the expected behavior?**

With a new release I could use `fetchParameters`, which

[2018-01-09 09:32] vansosnin commented on #1170
I guess the root of the problem is here: https://github.com/kolodny/jsan/issues/13

[2018-01-09 14:04] kamilogorek commented on #1188
Hey @helfer, sorry for the delay, it was a busy time recently + all the holidays and vacations.
The new version will be released by the end of the week.

[2018-01-09 14:06] kamilogorek commented on #1185
You most likely missed a whole second part of the documentation here https://docs.sentry.io/clients/javascript/integrations/angularjs/#angularjs-configuration, therefore, your error handler is never registered

Feel free to reopen if this issue reappears.

Cheers!

[2018-01-09 14:06] #1185 closed

[2018-01-09 14:16] kamilogorek commented on #1186
It's not possible at the time. Feel free to submit a PR that's modify `autoBreadcrumbs` config option described here https://docs.sentry.io/clients/javascript/config/

[2018-01-09 15:24] kamilogorek commented on #1031
@saiichihashimoto we are <10kb gzipped. Changing build system won't reduce that much, as we don't have any external dependencies.

[2018-01-09 15:32] kamilogorek commented on #1033
@ManiacalAce you can utilize this PR https://github.com/getsentry/raven-js/pull/540/ to obtain this behaviour. Instead of forking it, you can use `transport` config option to modify it. See config docs here https://docs.sentry.io/clients/javascript/config/

[2018-01-10 10:52] kamilogorek commented on #1167
Resolved by https://github.com/getsentry/raven-js/pull/1183

[2018-01-10 10:52] #1167 closed

[2018-01-10 13:00] kamilogorek commented on #457
Closing due to very long inactivity. Feel free to reopen if it's still relevant.

[2018-01-10 13:00] #457 closed

[2018-01-10 13:02] kamilogorek commented on #497
Closing due to very long inactivity. Feel free to reopen if it's still relevant.

[2018-01-10 13:02] #497 closed

[2018-01-10 13:04] kamilogorek commented on #491
@benvinegar is this still relevant issue?

[2018-01-10 13:05] kamilogorek commented on #671
Our TypeScript typings change quite a lot since this was reported. Please feel free to reopen this issue if it's still relevant in any way.

[2018-01-10 13:05] #671 closed

[2018-01-10 13:09] kamilogorek commented on #593
Closing due to long inactivity. Please feel free to reopen this issue if it's still relevant in any way.

[2018-01-10 13:09] #593 closed

[2018-01-10 13:17] kamilogorek commented on #529
Closing due to long inactivity. Please feel free to reopen this issue if it's still relevant in any way.

[2018-01-10 13:17] #529 closed

[2018-01-10 13:20] kamilogorek commented on #1000
I cannot find any reference about avoiding `$delegate` method in the docs – https://docs.angularjs.org/guide/decorators
Closing due to inactivity, but please feel free to reopen if it's still relevant.

[2018-01-10 13:20] #1000 closed

[2018-01-10 13:29] kamilogorek commented on #376
Design changed a bit, so closing this one

[2018-01-10 13:29] #376 closed

[2018-01-10 14:52] dcramer commented on #523
@kamilogorek yeah it'd be ideal as right now it's odd/seemingly not guaranteed that you're showing the feedback dialog for the right event

[2018-01-10 18:36] jharris4 opened #1189 "raven-js throws an error when the url changes because current location href is undefined"
**Do you want to request a *feature* or report a *bug*?**

bug

(If this is a *usage question*, please **do not post it here**—post it on [forum.sentry.io](https://forum.sentry.io) instead. If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**What is the current behavior?**

raven-js throws an error in `utils.js/parseUrl(url)` after

[2018-01-10 18:39] jharris4 commented on #1189
Might be helpful to add a check to the top of `parseUrl` (https://github.com/getsentry/raven-js/blob/master/src/utils.js#L187) that does something like the following:

[code]

[2018-01-11 19:43] helfer commented on #1188
Awesome, thanks a lot! Please feel free to close the issue 🙂

[2018-01-12 11:07] #1189 closed

[2018-01-12 11:08] kamilogorek commented on #1189
Fixed. Will be released with the next version today :)

[2018-01-12 11:22] kamilogorek commented on #1188
`3.22.0` has been released. cc @helfer

[2018-01-12 11:22] #1188 closed

[2018-01-12 11:22] kamilogorek commented on #1189
@jharris4 fixed in `3.22.0`

[2018-01-14 07:54] MaxMilton commented on #169
For anyone interested, I've put up a gist of yet another way to load ravenjs asynchronously:
<https://gist.github.com/MaxMilton/e2338b02b7381fc7bef2ccd96f434201>

It's based on the [code](https://gist.github.com/oroce/ec3786ba7eff59963842220c3ffc56b4) by @oroce but with the key differences being I use a regular `<script async src'='...">` tag in the document head for better performance (browsers c

[2018-01-14 13:18] thedavidmeister commented on #1104
looks like google closure advanced optimisations might be re-triggering this issue, see linked ^^

[2018-01-14 15:02] kireerik commented on #169
@MaxMilton Nice one! I have created my own flavor based on yours:
[code]

I also have some question:
- Is it needed to define the `crossorigin` attribute on the `script` tag?
- Is it enough to pass jsut the error object instead of the [other solution](https://gist.github.com/MaxMilton/e2338b02b7381fc7bef2ccd96f434201#file-async-ravenjs-example-html-L37-L43)?

What do you think? What is the authors

[2018-01-14 15:39] kireerik opened #1192 "Access-Control-Allow-Credentials error after upgrading to version 3.22.0 from 3.21.0"
If I run the following script from the console for example:
[code]

Then I get the following error message (the test error is reported successfully however):

[2018-01-14 19:17] Walaa106 commented on #1192
In raven configuration you can pass fetchParameters: { credentials: 'omit' }.

[2018-01-14 20:23] MaxMilton commented on #169
@kireerik when you put `crossorigin="anonymous"` on scripts it allows you to fully capture errors on `window.onerror`. It also prevents the browser from sending credentials with the fetch request, which is typically what you want with 3rd party resources. [MDN reference 1](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script), [MDN reference 2](https://developer.mozilla.org/en-US/docs/

[2018-01-14 20:39] MaxMilton commented on #169
FYI, I've updated my [previous gist](https://gist.github.com/MaxMilton/e2338b02b7381fc7bef2ccd96f434201) to something that's much more production ready:

* lots of comments to explain what's actually going on
* big clean up + use descriptive variables names (always a nice bonus :wink: )
* wrap in IIFE to not pollute the global namespace
* fix incorrect params passed to error array item

See the gi

[2018-01-14 22:05] peterdivvito commented on #623
+1

[2018-01-15 09:32] jiananshi opened #1193 "Autobreadcrumbs capture xhr event on readystate=4"
**Do you want to request a *feature* or report a *bug*?**

(If this is a *usage question*, please **do not post it here**—post it on [forum.sentry.io](https://forum.sentry.io) instead. If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**What is the current behavior?**

If the current behavior is a bug, please provide the steps to re

[2018-01-15 12:08] #1193 closed

[2018-01-15 12:12] kamilogorek commented on #1193
Fixed in `3.22.1`, thanks!

[2018-01-15 12:13] kamilogorek commented on #1192
Fixed in `3.22.1`, sorry for the inconvenience.

[2018-01-15 12:13] #1192 closed

[2018-01-16 23:11] humphreybc opened #1200 "export = Raven in type definitions"
When using the type definitions, TypeScript complains that it cannot find name 'Raven'. Commenting out line 7 of the type definitions file (`export = Raven`) fixes the problem.

**What is the current behavior?**

`[ts] Cannot find name 'Raven'` when using this simplified reproduction component:

[code]

**What is the expected behavior?**

Adding the TypeScript definition file to the project should

[2018-01-17 09:39] kamilogorek commented on #1200
What version of TS are you using?

[2018-01-17 13:18] y-lohse commented on #815
Hi, I had the same issue and solved it with the same solution, so thanks for that!

However, at least for us the issue suddenly appeared with `v3.21` and the switch to `fetch` — I guess inside a cordova app, `fetch` and `XHR` don't behave exactly the same, at least when it comes to `Origin` headers.
I was also unable to force the `Origin` header, whether through the `headers` option for raven or t

[2018-01-18 05:29] humphreybc commented on #1200
@kamilogorek TypeScript 2.6.2.

[2018-01-18 05:29] humphreybc commented on #1200
Whoops, fat fingered the close button.

[2018-01-18 10:36] kamilogorek commented on #815
Hey, sorry for the inconvenience @y-lohse. We're working on the next major version right now and we'll make sure that it won't create issues like the one you described above.

[2018-01-18 10:45] kamilogorek commented on #1200
I verified that issue and it's caused by not importing `Raven`, even though it's used above.

[code]

Will effect in `index.ts(10,5): error TS2304: Cannot find name 'Raven'.` error because it cannot find proper typings for that constructor.

Adding `import * as Raven from "raven-js";` at the top of the code will fix the issue.

[2018-01-18 15:03] #1176 closed

[2018-01-18 15:03] #1173 closed

[2018-01-18 15:03] kamilogorek commented on #1200
Feel free to reopen if it's still an issue

[2018-01-18 15:05] kamilogorek commented on #1170
Unfortunately, we're not able to work around someone else's code. Feel free to reopen if there's something we can help with. Thanks!

[2018-01-18 15:05] #1170 closed

[2018-01-18 15:06] kamilogorek commented on #1151
Closing due to clean up. Please feel free to reopen if it's still an issue. Cheers!

[2018-01-18 15:06] #1151 closed

[2018-01-18 15:09] kamilogorek commented on #1147
Not yet, but we'll work on this soon.

[2018-01-18 15:11] kamilogorek commented on #1138
There's a whole section about possible options that can be passed to `captureMessage` – https://docs.sentry.io/clients/javascript/usage/#passing-additional-data

I'll close this one as we're working on rewriting some stuff and it'll be updated alongside with docs. Cheers!

[2018-01-18 15:11] #1138 closed

[2018-01-18 15:11] #1129 closed

[2018-01-18 15:20] kamilogorek commented on #1121
No, that's not correct. We're keeping breadcrumbs in an array, so you can have any key you want.

What you have to do though, is clone your objects if you want to modify them in the future.

eg. this will behave incorrectly as you described above:

[code]

Now, since `state` is the same object in both places, only the final value will be used in both cases.
If you want to fix it, don't use shared

[2018-01-18 15:20] #1121 closed

[2018-01-18 15:20] #1120 closed

[2018-01-18 15:20] #1082 closed

[2018-01-18 15:21] #1064 closed

[2018-01-18 15:21] #1059 closed

[2018-01-18 15:24] #1017 closed

[2018-01-18 15:24] #1011 closed

[2018-01-18 15:25] kamilogorek commented on #1008
Fixed in https://github.com/getsentry/raven-js/pull/1162

[2018-01-18 15:25] #1008 closed

[2018-01-18 15:29] #491 closed

[2018-01-18 15:30] #1147 closed

[2018-01-18 15:31] kamilogorek commented on #279
Addressed here https://github.com/getsentry/raven-js/pull/1165

[2018-01-18 15:31] #279 closed

[2018-01-18 15:33] kamilogorek commented on #958
Is this issue still relevant? Please feel free to reopen if so. Cheers!

[2018-01-18 15:33] #958 closed

[2018-01-18 15:33] kamilogorek commented on #659
Is this issue still relevant? Please feel free to reopen if so. Cheers!

[2018-01-18 15:33] #659 closed

[2018-01-18 15:34] kamilogorek commented on #803
Closing as discuss will be moved to v4 docs. Linked this issue there.

[2018-01-18 15:34] #803 closed

[2018-01-18 15:35] kamilogorek commented on #417
Is this issue still relevant? Please feel free to reopen if so. Cheers!

[2018-01-18 15:35] #417 closed

[2018-01-18 15:38] kamilogorek commented on #352
Mutating filenames is already described in Node/React/Cordova SDKs. We'll unify everything so this one will be already covered.

[2018-01-18 15:38] #352 closed

[2018-01-18 15:40] #926 closed

[2018-01-18 18:44] benvinegar commented on #491
AFAIK it's still relevant. I think we should keep open.

[2018-01-19 11:12] kamilogorek commented on #576
Most of the things mentioned in this issue is already possible doing `breadcrumbCallback`, which can be used however you like, as it passes a whole `target` element that triggered the crumb.

I'll close this one for now, as we'll be revisiting how this thing is working in the next major version.

[2018-01-19 11:12] #576 closed

[2018-01-19 11:15] kamilogorek commented on #783
I'll close this one for now, as we're aware of this missing piece and we'll be revisiting how this thing is working in the next major version.

[2018-01-19 11:15] #783 closed

[2018-01-19 11:19] kamilogorek commented on #719
Unfortunately, this feature is very "data heavy" in both ways. SDK size and events payload. I don't think we're going to implement this anytime soon, but I'll leave this marked as a "Feature" so we can come back to this one day.

[2018-01-19 11:19] #719 closed

[2018-01-19 11:20] kamilogorek commented on #623
We can utilize my node serializer here maybe. We'll see.

[2018-01-19 11:22] kamilogorek commented on #577
I'll close this one for now, as we're aware of this missing piece and we'll be revisiting how this thing is working in the next major version.

Ref: https://github.com/getsentry/raven-js/issues/783
Ref: https://github.com/getsentry/raven-js/issues/576

[2018-01-19 11:22] #577 closed

[2018-01-19 11:26] kamilogorek commented on #293
Agree with Ben on this one. It seems like a lot of overhead without providing enough functionality to justify it. I'll leave it marked as a "Feature" so we can get back to this discussion one day if we decide that it's a good time to revisit this.

[2018-01-19 11:26] #293 closed

[2018-01-19 11:28] kamilogorek commented on #339
We can most likely utilize Node's serializer here as well. Just a note to myself.

[2018-01-19 11:35] kamilogorek commented on #436
Looks fine to me. Apparently, original issue has been answered here already, so closing this one. Feel free to reopen if it's still relevant in any way.

[2018-01-19 11:35] #436 closed

[2018-01-19 11:36] kamilogorek commented on #396
We'll be reworking this part in the next major version and are aware of the culprits. Closing it for now.

[2018-01-19 11:36] #396 closed

[2018-01-19 16:41] seanlinsley commented on #719
It turns out there's quite a few companies that provide screen recording as a service. We're currently using https://logrocket.com in addition to Sentry.

[2018-01-19 17:42] kamilogorek commented on #719
They even have integrations with Sentry :)

[2018-01-21 00:50] humphreybc commented on #1200
@kamilogorek That will only work if you've installed Raven from NPM so it's in `node_modules`. We're following the method of using a <script> tag in the HTML as recommended in the first option [here](https://docs.sentry.io/clients/javascript/install/).

[2018-01-21 00:50] humphreybc commented on #1200
Also, I don't think I have permission to re-open the issue.

[2018-01-22 11:09] kamilogorek commented on #1200
ooooh so you'd actually want to include the types "in" the SDK so they can be used when included via CDN?

[2018-01-22 12:56] kamilogorek commented on #1200
@humphreybc, unfortunately, we won't change this now, as it's changing overall SDK size and the majority of our users use vanilla JS.
However! Sentry JS SDK (aka Raven.js) will be completely written in TypeScript, so bear with us please :)

[2018-01-22 12:56] #1200 closed

[2018-01-23 03:04] stevage opened #1201 "Explain what raven.js is at ravenjs.com"
I'm an end user of a website that was loading scripts from ravenjs.com. I was a bit surprised that there is not even a sentence at that site explaining what this thing is that's being loaded. A link? A one-sentence summary? Something would be useful.

[2018-01-23 09:22] jiananshi commented on #1201
In short, it's a client tool aims at reporting useful information to your sentry server(whether it's self-hosted or sentry SaaS), there is also something for other languages such like [Raven.py](https://docs.sentry.io/clients/python/), [raven-js](https://docs.sentry.io/clients/javascript/) docs goes here.

[2018-01-24 02:47] jiananshi commented on #1143
How abt your client environment? Chrome with several plugins on Mac OSX, information like these would be help, as far as I know there is no such `webkitStorageInfo` variable usage in raven-js, try another browser or use it in stealth mode see if it's reproduce.

[2018-01-24 11:00] vikasraj789 opened #1202 "Why uncaught type error is not reported?"
I get the below error in console:
**Uncaught TypeError: Cannot read property 'AuthorisedOT' of undefined**, which is picked up by **window.onerror**, but not being reported by raven. I am having a React app built with webpack. Please see below the raven configuration used:
1) <script src="https://cdn.ravenjs.com/3.22.1/raven.min.js"
    crossorigin="anonymous"></script>
2) Raven.config('Raven DSN'

[2018-01-24 11:01] #1031 closed

[2018-01-24 11:01] #1130 closed

[2018-01-24 11:05] kamilogorek commented on #1202
Please post usage questions to our forum https://forum.sentry.io/
https://blog.sentry.io/2017/09/28/react-16-error-boundaries

[2018-01-24 11:05] #1202 closed

[2018-01-24 11:08] vikasraj789 commented on #1202
@kamilogorek I am using React 15.

[2018-01-25 03:08] eritikass opened #1204 "TypeScript types for existing Raven plugins"
**What is the current behavior?**

I try to add raven to vue project that is using typescript.

[code]

however, this ends up with error as typescript types for raven do not extend to plugins
[code]

Raven `3.22.1` is used from npm package.

[2018-01-25 07:59] kamilogorek commented on #1204
Correct, we don't have a types for plugins. Feel free to open a PR for them, although, they are so small, that interfaces can be in most cases just written inline.

[2018-01-26 07:01] liuwuhaoo commented on #1176
I encounter this problem too. I debugged and found maybe the problem is in`src/console`.
`var msg = '' + args.join(' ');` this line it convert object args to '[object Object]'.
Maybe can use JSON.stringify before '+'.

[2018-01-26 08:31] liuwuhaoo commented on #1176
I encounter this problem too. I debugged and found maybe the problem is insrc/console.
var msg = '' + args.join(' '); this line it convert object args to '[object Object]'.
Maybe can use JSON.stringify before '+'.

[2018-01-26 19:22] JohnMH opened #1206 "User Feedback "mixed content""
For whatever reason, with a DSN starting with "https://", user feedback is loading https://my.sentry.instance, resulting in Firefox rejecting the request for being "mixed content".

[2018-01-26 19:47] kichik opened #1207 "Internet Explorer 8 issues"
The installation instructions don't currently work for the default configuration of Internet Explorer 8. I realize this probably won't be fixed, so this is mostly for other people running into this.

Simply adding the following line to your page fails:

    <script src="https://cdn.ravenjs.com/3.22.1/raven.min.js" crossorigin="anonymous"></script>

By default Internet Explorer 8 only supports TLS

[2018-01-26 20:49] kichik commented on #1207
I should also mention the TLS issue is a silent one. There is no error message anywhere (including the browser itself) and you simply stop getting any data from Internet Explorer 8 while thinking everything is working fine.

[2018-01-28 20:26] dancrumb commented on #1055
Why was this closed? I have this problem as well

[2018-01-29 06:08] mentatxx commented on #649
does not work any more

But `import * as Raven from 'raven-js';` does

[2018-01-29 09:18] tobeorla commented on #1055
I don't exactly remember why i closed it, i think it was because i was using raven package for js rather than raven package for node.

[2018-01-29 09:21] kamilogorek commented on #1055
@dancrumb make sure that you're actually talking about raven-js.
Raven-node doesn't have those methods, where raven-js does – https://github.com/getsentry/raven-js/blob/master/src/raven.js#L593-L597

It'll be unified in the next major version.

[2018-01-29 09:22] kamilogorek commented on #1207
Thanks for the comment. We don't officially support IE8, but it's good to have something in place if someone will want to look for an answer here.
Cheers!

[2018-01-29 09:22] #1207 closed

[2018-01-29 09:23] kamilogorek commented on #1206
Thanks, @jiananshi! For usage questions, please direct them to https://forum.sentry.io/
Cheers!

[2018-01-29 09:23] #1206 closed

[2018-01-29 13:38] dancrumb commented on #1055
Thanks... That's what the issue was 😀

On Mon, Jan 29, 2018, 03:21 Kamil Ogórek <notifications@github.com> wrote:

[2018-01-29 18:40] kichik commented on #1207
If Internet Explorer 8 is completely unsupported you may want to update [the documentation](https://docs.sentry.io/clients/javascript/). The filters page of Sentry.io Settings also mentions Internet Explorer 8 is supported.

[2018-01-29 19:48] JohnMH commented on #1206
@kamilogorek I'd argue that this is not a usage question, but a bug report with a solution. The solution, regardless, was to make my web server pass X-Forwarded-Proto to Sentry.

[2018-01-29 23:04] kamilogorek commented on #1207
Will do! Thanks for pointing that out.

[2018-01-30 06:28] tarasmineus opened #1208 "Multiple captureExceptions in a loop"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

Sending multiple events in a loop results in either the first or the last event being sent and others being ignored.

[code]
The above will only send a single event with a data randomly applied. There seems to be no (more) documented way in how to send multiple separate events to Sentry sequentially.

[2018-01-30 08:15] kamilogorek commented on #1208
Can you provide a reproducible example? And/or link to sentry.io of mentioned events?
I tested the one above and it works just fine.

<img width="676" alt="screen shot 2018-01-30 at 09 12 51" src="https://user-images.githubusercontent.com/1523305/35554964-da2cf710-059d-11e8-8394-77b49f7124ab.png">

Keep in mind, that Sentry might aggregate events together if they have the same stacktrace (upper ri

[2018-01-30 21:42] vicrep opened #1209 "Throwing a custom error objects sets culprit / last stack frame to error message"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

A project I work on (in typescript) defines custom ES6 errors as such:
[code]

Now, throwing the custom error (`throw new CustomError('my error message')`) and inspecting the data sent (through `dataCallback`, we noticed that both `data.culprit` and the last frame in `data.exception.values[0].stacktr

[2018-01-31 05:40] tarasmineus commented on #1208
The issue seemed to have been caused by a combination of caching and bad luck. It's working. Sorry for having wasted your time.

[2018-01-31 05:40] #1208 closed

[2018-01-31 08:27] kamilogorek commented on #1208
No problem at all @honeydripper. Glad it worked now :) Cheers!

[2018-01-31 13:45] pgrm opened #1210 "Failed to execute 'fetch' on 'Window': Request with GET/HEAD method cannot have body."
**Do you want to request a *feature* or report a *bug*?**

report a bug, I guess

**What is the current behavior?**

raven-js doesn't report errors to sentry instead it fails with

![image](https://user-images.githubusercontent.com/713456/35626229-522bc6cc-0695-11e8-8eb0-8503c1422191.png)

Debugging it now, I saw the underlying error:

Is that an issue on our side? We didn't seem to have changed a

[2018-01-31 17:14] krasimir opened #1211 "Inconsistency between server-side and client-side version of `captureException`"
**What is the current behavior?**

We are using `captureException` on the server and on the client. `captureException` on the server accepts a callback that returns `error` and `eventId`. However the client version has no such callback supported.

**What is the expected behavior?**  Consistency between `captureException` that is running as part of this repository and https://github.com/getsentry/r

[2018-01-31 20:22] kamilogorek commented on #1211
Thanks for submitting the issue. We are working on v4 that'll unify all our JS SDKs together, so no situations like this will occur :) Let me close this issue as we're aware of this. Thanks!

[2018-01-31 20:22] #1211 closed

[2018-01-31 20:29] krasimir commented on #1211
Thanks for the quick answer @kamilogorek. Any idea about when v4 is coming up?

[2018-01-31 23:16] wearhere opened #1213 "[question] Why not default `stacktrace` to `true`?"
Hey folks, in the current version of `raven-js` (3.22.1), the [global `stacktrace` option](https://github.com/getsentry/raven-js/blob/dd10b7439551fdfdd9077d08452429e04676f3d2/dist/raven.js#L576) [defaults to falsy](https://github.com/getsentry/raven-js/blob/dd10b7439551fdfdd9077d08452429e04676f3d2/dist/raven.js#L136). Why is this? It seems generally useful to accompany captured messages with stack

[2018-01-31 23:17] wearhere opened #1214 "Global `stacktrace` option missing from documentation"
Searching for "stacktrace" [here](https://docs.sentry.io/clients/javascript/config/).

This appears to have been an oversight from [here](https://github.com/getsentry/raven-js/pull/763#issuecomment-266738333).

[2018-02-01 08:26] kamilogorek commented on #1211
Hard to say, as it's a lot of work. Most likely sometime in Q2, so _not that far away_, but we'll try to keep everyone posted on the progress :)

[2018-02-01 13:35] #1210 closed

[2018-02-06 21:19] dmose commented on #974
I added the resource: parsing in https://github.com/getsentry/raven-js/pull/837/files, and I'd expect the patch for this to be very similar, if someone wanted to port it.

[2018-02-07 00:28] jairemix opened #1217 "Raven.uninstall does not uninstall custom console methods"
**What is the current behavior?**

Once Raven.install() is executed, all console.log() calls will be replaced by Raven's own implementation. This behaviour will persist even when Raven.uninstall() is called.

Here is the console trace

![screen shot 2018-02-07 at 11 28 54 am](https://user-images.githubusercontent.com/23649824/35891800-28ad4996-0bfa-11e8-9b56-e45a94fda0f6.png)

Raven Version: 3.22.

[2018-02-07 16:27] niutech opened #1218 "Send binary data (e.g. screenshots) in extra context"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

I can send only textual additional data using `setExtraContext()`.

**What is the expected behavior?**

I would like to send binary data (e.g. screenshots made with [html2canvas](http://html2canvas.hertzen.com/)) and see them as `<img>` in Additional Data tab in Sentry dashboard.

[2018-02-07 21:56] mitsuhiko opened #1219 "Console Log Instrumentation breaks on foreign objects"
Currently our console.log and friends patchers assume that the call of `obj.toString()` is safe. That's demonstrably not the case if the objects logged are from an insecure foreign window (SecurityError Blocked a frame with origin "blah" from accessing a cross-origin frame.).

Example where we do this:

https://github.com/getsentry/raven-js/blob/b532909585d6ead92c612c0acfaee86010e5acd3/src/console

[2018-02-07 21:59] mitsuhiko commented on #1219
Also further notes: this is likely to affect more parts. We should setup a general policy of being super careful about doing assumptions about objects we deal with. We had similar problems where objects passing the react-native bridge end up being frozen and the code did not deal with this well.

Maybe it makes sense to add some helpers for potentially foreign objects and a naming convention to ma

[2018-02-08 02:34] patrickliechty opened #1220 "Getting a lot of digest already in progress errors"
We are getting a lot of Angular digest already in progress errors.  The errors are coming from Sentry’s code (raven.js).  We have version 3.22.1

See this event as a reference in our reporting product:

https://sentry.io/familysearchorg/fs-indexing-prod/issues/440826320/events/13692782633/

See the line of code below:  b.apply.   If a digest is already in progress it will create the Angular “diges

[2018-02-08 10:53] kamilogorek commented on #1220
What's your Raven.js setup config? Are you using it directly or through our Angular plugin?

[2018-02-08 10:56] kamilogorek commented on #1218
Hey, thanks for creating a request. Right now it's not possible, as we have strict payload limits per event sent to Sentry. We're aware of this feature and will try to investigate whether it's feasible to implement this.

You can also take a look at this initial issue (which is a duplicate of this one), where's one service described, that's integrating with Sentry nicely and that can provide this

[2018-02-08 10:56] #1218 closed

[2018-02-08 14:05] zewa666 commented on #980
For anybody looking how to do what @sod mentioned here is a short snippet:

[code]

[2018-02-08 14:34] #1219 closed

[2018-02-08 14:34] #1217 closed

[2018-02-08 15:45] kamilogorek commented on #1217
Released as `3.22.2`

[2018-02-08 15:45] kamilogorek commented on #1219
Released as `3.22.2`

[2018-02-09 02:38] jharris4 opened #1223 "DataCloneError when capturing events with raven-js"
**Do you want to request a *feature* or report a *bug*?**

bug

(If this is a *usage question*, please **do not post it here**—post it on [forum.sentry.io](https://forum.sentry.io) instead. If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**What is the current behavior?**

raven-js throws a DataCloneError on Firefox iOS`

If the cu

[2018-02-09 08:45] kamilogorek commented on #1223
Hey @jharris4, this is an error that can happen while working with WebWorkers or PostMessage calls, that are using structured cloning algorithm - https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Structured_clone_algorithm
Raven is using neither of them. Also when you take a look at line 360 that you provided, you can read:

[code]

Therefore, there's a very large chance that actual

[2018-02-09 12:09] kamilogorek commented on #1213
Hey, it's because we don't want to collect stack traces for messages, as those are usually meant to be sent by developers themselves.
We do however default to `true` for exceptions that somehow end up being a messages: https://github.com/getsentry/raven-js/blob/dd10b7439551fdfdd9077d08452429e04676f3d2/dist/raven.js#L486

[2018-02-09 13:06] kamilogorek commented on #1209
Hey @vicrep, this should be covered by TraceKit that we use. However, I see that you're not creating `CustomError` correctly (you are missing prototype chain assignments). Could you give this code a shot and let me know if you still have the same issue? (also, please provide stacktrace and culprit screenshots if possible).

[code]

[2018-02-09 15:29] vicrep commented on #1209
@kamilogorek thanks for getting back to me.

So I took the time to try your suggested fix, and ended up discovering what was causing the actual issue.

Prototype chain assignments were actually being handled by the typescript compiler, so doing `Object.setPrototypeOf(this, new.target.prototype);`.

In my issue request, I wrote `CustomError` as a generic example, but in fact, the custom error I was

[2018-02-09 16:55] patrickliechty commented on #1220
We are using the ngRaven module and here is the config

var ravenOptions = {
    ignoreErrors: [
      'originalCreateNotification',
      'canvas.contentDocument',
      'MyApp_RemoveAllHighlights',
      // Facebook borked
      'fb_xd_fragment',
      /.*Script error.*/,
      /.*requestAnimationFrame is not defined.*/,
      's is not defined',
      /.*_satellite.*/,
      /.*Blocked a frame

[2018-02-09 18:48] wearhere commented on #1213
Hey @kamilogorek, when you say

Is your assumption that stacktraces are unnecessary because the messages uniquely identify the error?

If so, I think I can describe two scenarios where that is not the case. First, the developer (me) might mess up and capture the same message in two different places.

Also, the same message might be captured from two different code paths:

[code]

In this case havi

[2018-02-09 21:17] jharris4 commented on #1223
Hi @kamilogorek, I did notice the comment saying it was not indicative of a bug in Raven.js! ;-)

I decided to file a bug anyway, because the error was logged to Sentry by Raven.js and I figured this should be addressed somehow...

There isn't much else to the stack trace:

[code]

Seems like something weird that is only happening with Firefox for iOS.

I've never personally used that browser, but

[2018-02-09 21:25] jharris4 commented on #1223
I was trying to search the web to find out what this error even means, and the only reference I can find is this one: https://stackoverflow.com/questions/42170826/categories-for-rejection-by-the-structured-cloning-algorithm

[2018-02-11 11:44] backstageel commented on #702
+1

[2018-02-12 20:06] anandmehrotra opened #1225 "404 not found -//d3nslu0hdya83q.cloudfront.net/dist/1.0/raven.min.js"
**Do you want to request a *feature* or report a *bug*?**
BUG

**What is the current behavior?**
404 - Not found

[2018-02-13 08:42] francisdb opened #1226 "Raven.isSetup removed in patch version change"
We use this code do include raven in our angular app (only if it was previously set up)

[code]

we today switched from `https://cdn.ravenjs.com/3.22.1/angular/raven.min.js` to `https://cdn.ravenjs.com/3.22.2/angular/raven.min.js` and suddenly this `isSetup` function is missing:

[code]

see also #305

[2018-02-13 08:48] kamilogorek commented on #1225
Version 1.0  is not supported for years now, sorry.

[2018-02-13 08:48] #1225 closed

[2018-02-13 08:52] kamilogorek commented on #1226
😮 sorry about that! We changed build system recently and rollup apparently did something funky. Will release a new version asap! (definitely today!)

[2018-02-13 09:30] kamilogorek commented on #1226
It should work now, as I redeployed fixed files on CDN. I'll release `3.22.3` though, as I cannot do the same for npm.

[2018-02-13 09:32] francisdb commented on #1226
yes, new version would be safer

[2018-02-13 10:15] kamilogorek commented on #1226
Published as `3.22.3`. Thanks for the report!

[2018-02-13 10:15] #1226 closed

[2018-02-13 12:41] kamilogorek commented on #1223
I'll try to take a look at it sometime in the future. It'd be great if someone could be able to come up with a reproducible scenario.

[2018-02-13 12:43] kamilogorek commented on #1213
In most cases yes. That's why we allow for optionally passing `stacktrace: true` alongside `captureMessage` if that's not the case :)

[code]

[2018-02-13 12:55] kamilogorek commented on #1220
Unfortunately, it's not enough information for me to debug this issue.
I can only almost certainly assure that it's not a Raven.js issue.

The reason why you see it as the last frame of the stack is that we wrap all function calls in `try/catch` to catch all the exceptions.

We don't use any Angular digest cycle methods in our plugin as well - https://github.com/getsentry/raven-js/blob/master/plug

[2018-02-13 13:05] kamilogorek commented on #1209
Well, that's definitely unexpected behavior haha. Thanks for the investigation.
Neither Raven.js, nor Tracekit is doing anything that could cause an issue like this.

I wonder if it's TypeScript compiler then or some part of your Webpack config.

Are you able to provide some minimal reprop case that I could use to fiddle with it? It'd be nice to find the main cause for a future reference.

[2018-02-13 16:23] patrickliechty commented on #1220
Did I answer your question?

[2018-02-13 17:14] kamilogorek commented on #1220
What do you mean exactly? With the former answer? Yes, thanks, but there's nothing unusual in the config that could say anything.
Could you give my tip from the last sentence a try?

[2018-02-13 17:19] patrickliechty commented on #1220
Ok I will.  Sorry, I posted my last response before seeing your last response.  I should have refreshed the page first.

[2018-02-14 15:27] rajatvijay commented on #1186
Hey is this still up for grabs?

[2018-02-14 16:44] zivl commented on #1201
@kamilogorek - is the `gh-pages` branch is being maintained by automatic script somewhere or manually?

[2018-02-14 17:26] shirk3y opened #1232 "TypeScript: Unable to call any of Raven member functions"
My code looks like:
[code]

But I'm receiving this error:

[code]

[2018-02-14 18:15] #1232 closed

[2018-02-14 19:12] MaxBittker commented on #1070
just a bump, I think it would be nice to handle this. is it as easy as an event listener?

[2018-02-15 10:08] kamilogorek commented on #1186
Sure @rajatvijay :)

[2018-02-15 10:08] kamilogorek commented on #1201
It's updated so rarely, that we don't have any automation in place for it. So yeah, manually.

[2018-02-15 11:21] sergej-s opened #1233 "Reporting from Edge doesn't work with default referralPolicy='origin'"
Hello, everyone!

**What is the current behavior?**

I cannot send an error event from Microsoft Edge (41.16299.248.0) with default fetch options where referrerPolicy='origin'. The catch block in _makeRequest shows an error "Invalid argument".
But everything works if referrerPolicy changed to 'no-referrer' or deleted.
Here is repl.it demo
https://repl.it/repls/MessyHummingKeyboard

**What is the e

[2018-02-15 22:05] vicrep commented on #1209
Hey @kamilogorek I checked with my TypeScript compiler, and the generated classes were the exact same for `Htt` and `Http` (it's a big project, so sharing a copy of the config is non-trivial). I however decided to give it a shot using vanilla JS, and can confirm that it's an issue with TraceKit (or the version of TraceKit being used internally by Sentry).

Here's a repro for you. Note that what ac

[2018-02-16 08:09] zivl commented on #1201
I'll try to take it on me, hopefully expect a PR soon in the `gh-pages` branch

[2018-02-19 11:30] kamilogorek commented on #1213
Mostly just noise and payload size when collecting multiple stack traces as breadcrumbs (which is the default behavior). We'll re-evaluate this approach when working on v4 (which is happening at this very moment).

[2018-02-19 11:31] kamilogorek commented on #1201
Fixed \o/

[2018-02-19 11:31] #1201 closed

[2018-02-19 14:30] bes commented on #1070
This would be a very nice feature.

[2018-02-19 17:51] wearhere commented on #1213
Ok thanks for the info!

[2018-02-19 17:51] #1213 closed

[2018-02-20 14:14] kamilogorek commented on #1209
I was indeed nasty TraceKit regexp bug.
https://github.com/getsentry/raven-js/pull/1237 will fix it once merged, so let me close this one.

Thanks for investigating it @vicrep. Cheers!

[2018-02-20 14:14] #1209 closed

[2018-02-21 11:32] kamilogorek commented on #1070
It is easy @MaxBittker

[code]

However, only Chrome supports this... even though it's already 2018 :|

[2018-02-21 12:42] #1233 closed

[2018-02-21 12:43] #974 closed

[2018-02-21 12:43] #589 closed

[2018-02-22 09:51] pke opened #1238 "Bug: Bundling with webpack produces to big bundle"
Bundling the raven-js lib 3.22.3 using webpack and using it like this:

[code]

produces the following bundle:

![image](https://user-images.githubusercontent.com/164625/36529255-1cf97d3a-17b8-11e8-8fd3-f5d2fd5795f2.png)

Compared to the minimized file `dist/raven.min.js` that is 28kib the size in my bundled version seems to be to big.

Also look at the treemap:

![image](https://user-images.githu

[2018-02-22 10:11] kamilogorek commented on #1238
Can you provide your webpack config so I can recreate this locally?

[2018-02-22 10:13] pke commented on #1238
Thanks for the swift response. I'll create a reduced version of my webpack config for tests.

[2018-02-23 14:14] DimaSamusenko commented on #1030
I have the same error in a huge angularjs app.
![screenshot from 2018-02-23 17-11-49](https://user-images.githubusercontent.com/4545597/36598311-c6fe4496-18bc-11e8-80ea-f3c176dbb39a.png)

[2018-02-24 01:00] kylemellander opened #1239 "403 (FORBIDDEN): Event dropped due to filter, on basic use case"
I want to reopen this issue: https://github.com/getsentry/raven-js/issues/1112

I have been experiencing it when trying to test our setup for logging errors, so it is hosted on localhost.

[2018-02-27 07:04] pfrendo opened #1240 "Can't set options - globalOptions is null"
When setting options on `config()` it is giving error `Cannot set property 'ignoreErrors' of undefined` as the `globalOptions` are being set as undefined and not picking up the defaults

Version: 3.22.3

[2018-02-27 09:50] kamilogorek commented on #1240
Can you provide the code that you use to trigger this error?

[2018-02-27 10:15] kamilogorek commented on #1239
Can you post your config/setup, so I can recreate this issue locally?

[2018-02-27 10:18] kamilogorek commented on #1030
Are you by any chance able to extract a specific part of the code that's causing this issue?
It's very hard to debug or even track things like this.

Can you also post a link to the event you posted a screenshot from above?

[2018-03-01 08:09] webschik commented on #1240
@pfrendo, I've got the same error in the next code:
[code]

[code]

The solution here is to export the whole Raven module (in the first case `config` gets the wrong `this`) :

[code]

[2018-03-01 08:13] pfrendo commented on #1240
I did it but it depends on what module loader you're using. In my case I had to use via `require` not import

[2018-03-01 08:18] webschik commented on #1240
I'm using Typescript 2.7.2 and webpack 3.10.0

[2018-03-02 10:34] #1070 closed

[2018-03-02 10:48] kamilogorek commented on #1070
Released as `3.23.0` \o/

[2018-03-02 12:21] kamilogorek commented on #1240
@pfrendo there's nothing that shouldn't work with `require` as well.
Keep in mind that named imports are meant to be used with side-effect free (aka idempotent) functions. In case of Raven, you always want to import a whole thing, as we're exporting one singleton object anyway.

[2018-03-02 12:39] pfrendo commented on #1240
@kamilogorek I started by importing * as Raven from 'raven-js' but nothing `this` wasn't instantiated

[2018-03-02 14:04] subramaniashiva opened #1243 "Window is undefined in raven-js in Server Side Rendered applications"
**Do you want to request a *feature* or report a *bug*?**

Bug

(If this is a *usage question*, please **do not post it here**—post it on [forum.sentry.io](https://forum.sentry.io) instead. If this is not a “feature” or a “bug”, or the phrase “How do I...?” applies, then it's probably a usage question.)

**What is the current behavior?**

This bug is specific to version 3.23.0 which is released fe

[2018-03-02 18:08] MaxBittker commented on #1243
Thanks for opening the issue and sorry for the inconvenience @subramaniashiva -
We'll get a patch out asap, but in the meantime, to be clear to anyone finding this issue, the fix it to pin your version to `3.22.4`

[2018-03-02 19:26] kamilogorek commented on #1243
Fixed in `3.23.1`

![image](https://user-images.githubusercontent.com/1523305/36917745-f0fdb25e-1e57-11e8-8c0d-72a443bd0952.png)

[2018-03-02 19:26] #1243 closed

[2018-03-07 15:27] SimonSchick opened #1247 "Add more to npmignore"
**Do you want to request a *feature* or report a *bug*?**

Feature I guess.

**What is the current behavior?**

You are publishing a few redundant files to npm.

**What is the expected behavior?**

Things like the typescript tests, gruntfile, contributing etc. can be removed from the published package and save some install time/space.

[2018-03-08 09:58] wwwouter opened #1249 "Raven.captureException() not capturing metadata"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

With this code:

[code]

A warning and an error are logged. The warning has all the specified meta data, the error only test0.

**What is the expected behavior?**

That captureException captures the same metadata, the same way as captureMessage.

_Which versions of Raven.js, and which browser and OS

[2018-03-08 14:32] SimonSchick commented on #1249
Not sure if related but isn't `extra` suppose to be an object?

[2018-03-08 20:07] benkermode commented on #617
What is the `data` object that is passed to shouldSendCallback? I want to target specific error messages and suppress it from being sent.

[2018-03-08 20:24] kamilogorek commented on #617
@benkermode use `ignoreErrors` config - https://docs.sentry.io/clients/javascript/config/

[2018-03-08 22:02] Maistho opened #1252 "this.isSetup is not a function"
This line:

https://github.com/getsentry/raven-js/blob/59c1c498f9f0f6073d70f2e91c3fbd517bd12da1/packages/browser/src/lib/backend.ts#L14

Doesn't keep the context of `this` for the function.

Which makes the call to the saved function here: https://github.com/getsentry/raven-js/blob/59c1c498f9f0f6073d70f2e91c3fbd517bd12da1/packages/browser/src/lib/backend.ts#L113

fail since `this` will be `window`

[2018-03-09 08:07] jan-auer commented on #1252
Very, very, very good catch 👍
For some reason I though that the function didn't use `this`...

[2018-03-09 08:07] #1252 closed

[2018-03-09 11:48] Maistho commented on #1252
Thanks for the quick turnaround!

[2018-03-12 10:19] kamilogorek commented on #1249
I just tested it using your code sample, without any modificaitons, and it's all where it should be :)

`captureException`
![screen shot 2018-03-12 at 11 14 06](https://user-images.githubusercontent.com/1523305/37277975-9563a6b0-25e6-11e8-8a8c-38b59b0c19cf.png)
![screen shot 2018-03-12 at 11 14 10](https://user-images.githubusercontent.com/1523305/37277974-954194b2-25e6-11e8-80c2-79c6fa4fe3a1.png)

[2018-03-12 13:24] #1247 closed

[2018-03-12 13:24] kamilogorek commented on #1247
Updated, thanks

[2018-03-12 13:31] wwwouter commented on #1249
Hi @kamilogorek

There seems to be a problem with the type of error

I'm using react and this is my code

[code]

The first one ignores the tag, while the order does log it:
<img width="1482" alt="test_error" src="https://user-images.githubusercontent.com/997207/37286261-b75eb532-2601-11e8-83a4-becc93a3eb2b.png">
<img width="1296" alt="test8a" src="https://user-images.githubusercontent.com/997207/

[2018-03-12 15:11] kamilogorek commented on #1249
@wwwouter two things. Make sure that your actual ErrorBoundry is catching what it should (eg. don't trigger error from the same component that implements it - it won't work).

However, more important is that React does bubble all the errors in development mode and this is what happens in your case.

The first event, that doesn't have tags is triggered using global error handler and only second one

[2018-03-12 20:24] DeadSuperHero opened #1256 "Firefox Quantum - Code doesn't unminify, despite having sourcemaps"
I was in the process of trying out [our react demo](https://github.com/sentry-demos/react) with Firefox Quantum (58.0.2), and noticed a weird fluke when trying out an error:

![typeerror___intermediate_value__function_is_not_a_function](https://user-images.githubusercontent.com/401560/37307315-c17c16e0-25f7-11e8-8f13-0214c743f11e.png)

This particular Sentry issue can be found here: https://sentry

[2018-03-13 11:48] Ineigo opened #1258 "jquery trigger('error') in custom plugin (jq-validate) throw Illegal invocation"
*bug*
ravin version: 2.*.*
[code]
and 2-3 jquery plugins 'jq-validate', 'kendo-ui'

[code]
throw exeption:
[code]
RU:
В функцию traceKitWindowOnError приходит аргумент  'msg'  который является jqueryEventObject.
Дальше при его обработки вылетает ошибка сверху. Работа валидации при этом не нарушается. Просто в консоль сыпется ошибка с Illegal invocation (chrome).

я смог справиться с ошибкой добави

[2018-03-13 12:38] wwwouter commented on #1249
So if I understand it correctly, in development mode the first `captureException` is ignored?

[2018-03-13 14:11] kamilogorek commented on #1249
Well, not really ignored. It's correctly caught by Raven, as it's a proper error. It's React that bubbles it up to the global error handler in development, where, in production, it doesn't.

[2018-03-13 14:28] wwwouter commented on #1249
It is also caught in componentDidCatch, so if it's bubbled, shouldn't that result in the logging of 3 exceptions, with two that have the something:awesome tag?

[2018-03-13 14:50] kamilogorek commented on #1249
That's exactly what happens. See my first screenshot :)

[2018-03-13 14:59] wwwouter commented on #1249
Sorry if this is becoming more of on-boarding than an actual issue, but if I look at my dashboard I see only one event. Shouldn't there be two for test8a?

So if one has a tag and the other hasn't, does this result in 1 issue with 2 events? If so, should't the tag be visible? Or should there be 2 issues, with both 1 event?

[2018-03-13 15:16] kamilogorek commented on #1249
No worries :) Ok, so there are 2 things going on.

Not in this scenario:

[code]

When configured like this, notice that first `captureException` is *exactly* the same error as the one caught by the global handler. This means that they are duplicates. If you set `Raven.debug = true`, then you can see that it's being dropped, as we calculate duplicates based on the exception itself and a stacktrace

[2018-03-15 00:37] joshmreesjones commented on #844
I'm also having this issue.

[2018-03-15 08:20] kamilogorek commented on #844
@joshmreesjones what's the issue exactly? What's your setup? Your config? Can you provide reproducible repository? It's very hard to debug without knowing any of those things :)

[2018-03-15 11:33] wwwouter commented on #1249
🥇 Thanks for the detailed explanation!

[2018-03-15 11:33] #1249 closed

[2018-03-15 13:49] zivl opened #1260 "BUG: release 3.23.2 caused change of exception messages due to non-Error exception serialiser"
in release 3.23.2, the new feature "Sensible non-Error exception serializer" (#1253) causing errors which are made with `es6-error` (https://www.npmjs.com/package/es6-error) to change the error content.
it is being change in `captureException` function in this line:
[code]

to be more specific, here is my code:
[code]
then in the code:
[code]

[2018-03-15 14:40] kamilogorek commented on #1260
That seems to be a very strange behavior of JS modules.

When you use:

[code]

It'll incorrectly report `true/true/false`.

However, when you'll substitute `import` statement with the code itself

[code]

it'll correctly report `false/true/false`.

I'll try to debug why it's the case and if I won't be able to find out, we'll just swap checks to go through `isError` first.

[2018-03-15 14:55] kamilogorek commented on #1260
When you test it locally, and create your own `custom-error.js` file with that code and import it as a module, it works correctly ;o

[2018-03-15 15:02] kamilogorek commented on #1260
@zivl When you test it locally, and create your own `custom-error.js` file with that code and import it as a module, it works correctly.

The issue is that this library doesn't export it's code "as is", but precompiles it using Babel.

Sooo it ends up being "kinda" error but not really. It's a plain object that inherits specific properties and has a `prototype` set to the `Error` itself.

There's

[2018-03-15 18:18] #1260 closed

[2018-03-15 18:23] kamilogorek commented on #1260
@zivl released in `3.23.3`. Thanks for the report!

[2018-03-15 19:06] pkaminski opened #1262 "Non-error exception that looks like a normal-ish exception in Safari"
**Do you want to request a *feature* or report a *bug*?**

Probably a bug.

**What is the current behavior?**

With both 3.23.2 and 3.23.3, I'm getting lots of non-Error exceptions captured -- all in Safari -- that look like this:

[code]

**What is the expected behavior?**

This looks like it should be a "normal" `SyntaxError` exception, but is getting captured as a plain object for some reason.

[2018-03-16 10:33] kamilogorek commented on #1262
@pkaminski are you able to determine what's the part of the code responsible for triggering this error?
I can capture regular `SyntaxError` in Safari just fine.

<img width="389" alt="screen shot 2018-03-16 at 11 32 33" src="https://user-images.githubusercontent.com/1523305/37516262-d51e5cc6-290d-11e8-9348-d250eb45f303.png">

[2018-03-16 14:45] jan-auer commented on #634
There is a full Electron SDK now: https://github.com/getsentry/sentry-electron

[2018-03-16 15:24] steverandy commented on #634
@jan-auer do you know if the sdk support sourcemap? I can't find any documentation for the sourcemap.

[2018-03-16 16:02] pkaminski commented on #1262
I haven't been able to repro on my own machine yet, so not entirely sure.  A user did some troubleshooting, though, and it appears that it may be caused by uBlock Origin blocking a Mixpanel script, and serving HTML instead for some reason.  (This is obviously not rational behavior and doesn't happen in uBlock Origin on other browsers, so I'm not entirely sure that's the cause...  I'll be digging d

[2018-03-16 16:09] s12chung commented on #1262
i'm the one who reproduced it, let me know if you need anything.

[2018-03-16 20:44] pkaminski commented on #1262
I reproduced the error after installing uBlock Origin in Safari and eventually tracked it down to a spot in the Mixpanel library where they throw a raw object:  https://github.com/mixpanel/mixpanel-js/blob/master/src/utils.js#L533

I don't know why this code path only gets triggered with Safari's uBlock Origin, but it's clearly Mixpanel's fault for not throwing a proper error.  I'll work around it

[2018-03-16 20:44] #1262 closed

[2018-03-19 11:21] xutm opened #1263 "Source code was not found for app:///main.ios.jsbundle in React Native"
- react-native 0.50.4
- react-native-sentry 0.32.1
- sentry 8.19.0
- while testing on a real IOS device in Debug config (prebundled source on the device)
- sourcemaps are uploaded correctly since they appear as "~/main.ios.jsbundle.map" on -
 release/artifacts page for the correct dist number
- the error is: **"Source code was not found for app:///main.ios.jsbundle"**

### init sentry
`Sentry.conf

[2018-03-19 12:12] HazAT commented on #1263
I will close this here since you already created an issue in the right SDK
https://github.com/getsentry/react-native-sentry/issues/377

[2018-03-19 12:12] #1263 closed

[2018-03-20 08:34] THPubs opened #1266 "Invalid DSN"
I was trying to connect sentry to my express app using raven and it says my DSN is invalid. I tried both the regular one and the public DSN. But none worked. any idea why?

[2018-03-20 08:48] kamilogorek commented on #1266
It's hard to help without any code/config that I could use to debug the issue :)

You may mask part of your DSN with `*********` if you need to.

[2018-03-20 10:54] kamilogorek commented on #1258
Hey @Ineigo, unfortunately, I wasn't able to reproduce this issue with the code below.
Are you able to provide a repro-case that I could use to debug this issue?

[code]

[2018-03-20 12:07] THPubs commented on #1266
Really sorry about that. Here's how I configured the app:

    // Configure error reporting
    if (process.env.RAVEN_DSN) {
      Raven.config(process.env.RAVEN_DSN).install();
      app.use(Raven.requestHandler());
    }

And at the end I placed

    app.use(Raven.errorHandler());

In the .env file:

    RAVEN_DSN="https://********************:********************@sentry.io/******"

I did a cons

[2018-03-20 14:35] kamilogorek commented on #1256
Thanks for the report @DeadSuperHero

I spent few hours trying to debug this using a top-down approach (Sentry => CreateReactApp) and unfortunately, I have to say that the main issue is with UglifyJS2 plugin :(

Here is the same event sent to Sentry, from Chrome

<img width="1173" alt="screen shot 2018-03-20 at 13 56 44" src="https://user-images.githubusercontent.com/1523305/37660830-9b5aa50a-2c53

[2018-03-20 14:35] #1256 closed

[2018-03-20 14:47] kamilogorek commented on #1256
Fun fact. Passing code below through webpack and uglify plugin will break Firefox sourcemap resolution as well.

[code]

![screen shot 2018-03-20 at 15 46 05](https://user-images.githubusercontent.com/1523305/37661842-f9a775b4-2c55-11e8-98eb-296f57d07b51.png)

[2018-03-20 15:19] kamilogorek commented on #1256
@DeadSuperHero https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/266

[2018-03-20 15:20] THPubs commented on #1266
Just found the issue! In the .env file we can't add double quotes! So the following...

    RAVEN_DSN="https://********************:********************@sentry.io/******"

should be written as:

    RAVEN_DSN=https://********************:********************@sentry.io/******

[2018-03-20 15:20] #1266 closed

[2018-03-22 14:26] everhardt commented on #1061
I'm using raven-js 3.23.3 with vue 2.5.16 and still see this issue occasionally popping up in my sentry dashboard:

It can be traced back to this line: https://github.com/getsentry/raven-js/blob/0fbdf951067e245bb605f530a4cb7f4f143f5ea7/plugins/vue.js#L30

If someone from sentry wants to access the issue in the dashboard itself: it has id 438281725.

[2018-03-22 14:31] everhardt opened #1270 "$options missing in vm when catching exceptions in Vue components"
**Do you want to request a *feature* or report a *bug*?**

Bug (one that was supposed to be fixed, see https://github.com/getsentry/raven-js/issues/1012 and https://github.com/getsentry/raven-js/issues/1061)

**What is the current behavior?**

I'm using raven-js 3.23.3 with vue 2.5.16 and still see this issue occasionally popping up in my sentry dashboard:

It can be traced back to this line: http

[2018-03-22 14:31] marvinosswald opened #1271 "[Bug] <unlabeled event>"
i've seen a few discussions regarding `<unlabeled event>` but the following body seems fine by the looks of it, doesn't it ?

We are seeing this mostly on the following Client Setup:
**IE 11.0**
**Windows (mostly 7)**

[code]
Our Angular 4 ErrorHandler Class:
[code]

[2018-03-23 09:33] #296 closed

[2018-03-26 14:46] glizer opened #1275 "Uncaught TypeError: str.substr is not a function"
An error occurs for a 500 (503) error when you try to get a response from server for datatables (If this is important);
An error occurs when function try to crop an **object** from **data.exeption**

![image](https://user-images.githubusercontent.com/13697400/37913304-3ccef8d2-311d-11e8-9736-df3652d80908.png)

Here's what comes in data:

![image](https://user-images.githubusercontent.com/13697400/

[2018-03-27 18:22] Gaurav0 opened #1276 "IE11 Access Denied Error on getOwnPropertyNames"
When running on IE11 or Edge, getting "Access Denied" while trying to access `getOwnPropertyNames`.

Version: 3.24.0

Works fine on version 3.22.4

![Screenshot](https://user-images.githubusercontent.com/313960/37986747-4758b6a0-31ca-11e8-8207-37f1e865b341.png)

[2018-03-27 20:08] kumavis opened #1277 "Trace shows where error was constructed, not thrown or logged"
**What is the current behavior?**

Raven reports errors with a trace that points to the **creation of the Error, instead of where its thrown**.

**What is the expected behavior?**

Raven reports errors with a trace that points to **where the Error was thrown**.

![image](https://user-images.githubusercontent.com/1474978/37992211-e50f9c20-31bf-11e8-9ceb-27098472dad5.png)

report in sentry (private)

[2018-03-27 20:09] kumavis commented on #1277
error created here https://github.com/ethjs/ethjs-rpc/blob/master/src/index.js#L50

[2018-03-28 03:52] kumavis commented on #1277
I realize this is an `Uncaught (in promise)` error

[2018-03-28 05:28] kumavis commented on #1277
It would be nice to add some metadata that this was an unhandled promise rejection

[2018-03-29 13:58] jan-auer opened #1281 "Tracking issue for @sentry/* SDKs"
## Next Generation SDK Discussion

As you might have noticed, we have started pushing out pre-release versions for our next line of JavaScript SDKs. You can identify them by the `@sentry/*` namespace on NPM. The goal in this new lineup is to provide a more convenient interface and improved consistency between various JavaScript environments.

The SDKs are developed in [mono-repository located in p

[2018-03-30 14:09] herodrigues opened #1284 "CSS from page affects report dialog style"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

CSS from page affects Sentry report dialog.

Example:
https://jsfiddle.net/herodrigues/oxjue7o9/19/

**What is the expected behavior?**

CSS from page should not affect Sentry report dialog style. Passing a ShadowDOM node or an iframe element as an option to showReportDialog function would solve the

[2018-04-01 23:53] nallown opened #1285 "Adding event data to Raven errors?"
**What is the current behavior?**

Raven does not send Event Data to Sentry. It only sends the Event names.

**What is the expected behavior?**

I want Raven to not only capture the event names, but also to capture the event data. So for example if you get an error on `metaloaded` then I want it to show me the `event` data. So basically the contents of the function payload, or some people call it

[2018-04-02 17:15] harrisrobin opened #1286 "if shouldSendCallback returns false, messages are still sent to Sentry."
Hi, I have been trying to disabled sentry in development and after attempting 3 different answers on the matter, including using `shouldSendCallback` based on a post in the forums, I decided to post here as the only other explanation I have is that there's a bug. Please let me know if that's not the case and if I am missing something so I can close this issue.

Here is my code:
[code]

**What is t

[2018-04-02 19:51] axnsan12 opened #1287 "Errors inside raven swallow the original error"
Using ``raven-js`` 3.24.0 installed via npm, in Angular 5.

**What is the current behavior?**

If an error happens while reporting an event to sentry, raven blows up and throws an error in the console. For example, if I have origin filtering enabled on sentry and run my website locally, raven receives a 403 and swallows the original exception.

![image](https://user-images.githubusercontent.com/63

[2018-04-02 19:59] axnsan12 commented on #1287
Related issue from raven-node: https://github.com/getsentry/raven-node/issues/253

[2018-04-03 13:57] kamilogorek commented on #1286
That's odd. We never got an issue like this reported and nothing changed in recent version updates.

Can you confirm 100% that it indeed logs `false` in `shouldSendCallback`?

[2018-04-03 23:15] harrisrobin commented on #1286
@kamilogorek thanks for your reply.

Yes I can 100% confirm that it logs false.
Here is a video to show you a demo:
https://youtu.be/WY5r6DfkvJ0

I am not doing SSR, I am only using the env variable that [create-react-app](https://github.com/facebook/create-react-app) provides. Would that impact anything?

[2018-04-04 09:36] kamilogorek commented on #1286
It shouldn't. That's very strange behavior.

I tried to reproduce this using simple React example with your Raven config and wasn't able to do that.
Is there a chance that you could somehow strip your codebase to the bare minimum that'd allow me to look into this issue?

If that's not possible, could you place breakpoints on line 1892, 1894 and 1920 and provide some data/calls stacktrace?

https:/

[2018-04-04 10:39] kamilogorek commented on #1238
Spring cleaning: Closing due to inactivity

[2018-04-04 10:39] #1238 closed

[2018-04-04 10:39] kamilogorek commented on #1239
Spring cleaning: Closing due to inactivity

[2018-04-04 10:39] #1239 closed

[2018-04-04 10:40] kamilogorek commented on #1240
We'll fix this in v4 which will be completely written in TypeScript. I'll have to close this issue for now.

[2018-04-04 10:40] #1240 closed

[2018-04-04 10:40] kamilogorek commented on #1258
Spring cleaning: Closing due to inactivity

[2018-04-04 10:40] #1258 closed

[2018-04-05 03:00] harrisrobin commented on #1286
@kamilogorek i understand it's hard to reproduce. It's weird indeed. Could it be that there is some internal state/setting saved that makes us unable to block the messages from being sent? Although, that's unlikely cuz my entire team is experiencing this.

I will try to strip it down as much as possible and set the breakpoints, although if you give me your email or email me @ harris@bureaubilly.co

[2018-04-05 10:40] kamilogorek opened #1291 "Use `mechanism` to show whether it was onerror or unhandledpromiserejection handler"
Right now we provide this information in `extra` context - https://github.com/getsentry/raven-js/pull/1278
It should be using `mechanism` instead, however, we don't support generic types right now - https://github.com/getsentry/sentry/blob/ca108d6734ee17e7abb8e06f4a3edacc6d776285/src/sentry/static/sentry/app/components/events/interfaces/exceptionMechanism.jsx#L15-L39

[2018-04-05 10:42] kamilogorek commented on #1291
https://github.com/getsentry/raven-js/blob/b478429449ea2eea3267e5d1b2ce2abbb8e1d8b0/src/raven.js#L1645-L1660

It should be changed to:

[code]

(note that it's not known whether we'll use `type`, `name`, or something else.

[2018-04-06 11:30] kamilogorek commented on #1286
The motto of the day: "There's no bug that can't be tracked." Or. "Just frontend things..."

*What happened (shortened and censored version):*
1. Codebase imports `Raven` and calls `.config`
2. `Raven.debug` tells me that it's already configured
3. `RavenConfig` global is available (sometimes) and contains DSN (?!)
4. No reference to `RavenConfig` anywhere in the codebase, nor in any of the packag

[2018-04-06 12:33] derekrprice commented on #874
We are seeing this today with many large breadcrumbs, and it crashes the browser.  I would argue that Sentry.io should NEVER crash the browser regardless of what the user does.  Could you please add some sort of automatic client-side checking and truncation of the packet size before throwing an error in the client, like [Sentry's Python integration did](https://github.com/getsentry/raven-python/is

[2018-04-06 12:33] derekrprice commented on #874
I think this issue needs to be reopened.

[2018-04-06 12:40] kamilogorek commented on #874
What do you mean by "crash the browser"? Like... an actual crash? How did that happen? Can you provide some more details?

[2018-04-06 12:44] derekrprice commented on #874
It threw an error in the browser, effectively crashing the JS application running there.

[2018-04-06 12:47] derekrprice commented on #874
As for details on how to reproduce, log a lot of large breadcrumbs, then hit another error.  Raven throws its own exception and does not log the original error, either to the console or to the server.

[2018-04-06 12:59] derekrprice commented on #874
Ok, looking closer at this on my end, I may have been a bit alarmist.  Sentry's thrown error is not crashing the application since it starts with our own JS error, but it IS true that the large number of breadcrumbs are preventing sentry from logging the error to the server.  I think truncating the breadcrumbs in the client to ensure that the stack trace gets logged to the server should be standar

[2018-04-06 14:48] harrisrobin commented on #1286
@kamilogorek woah!

thank you for that. wouldn't have caught that myself ^^

If I add localhost to the `Ignore Urls` in segment, would that work? otherwise ill start using Raven directly and remove it from Segment.

[2018-04-06 16:07] kamilogorek commented on #1286
I'm glad it helped :) Cheers!

[2018-04-06 16:07] #1286 closed

[2018-04-06 19:44] kumavis commented on #1009
this is especially annoying because theres no info about the fetch request contained in the Error
just `TypeError: Failed to fetch`

Here's 3 ideas of how this could be improved in `raven-js`:
- use the raven-js wrapper of fetch to improve the error message
- add a breadcrumb when a fetch is started
- add a breadcrumb when a fetch failed

@benvinegar @kamilogorek @ismay

[2018-04-06 20:13] kumavis commented on #1009
To clarify, this happens when performing a fetch fails, not when a server responds with a "failure" response

[2018-04-06 20:15] kumavis commented on #1009
here is a PR that attempts to solve this via no 3 "add a breadcrumb when a fetch failed"

[2018-04-06 20:45] hyzhak opened #1294 "domain module is deprecated since node v4"
According to https://nodejs.org/api/domain.html `domain` module is deprecated since v4. Do you have plans to move to something else?

[2018-04-09 10:09] kamilogorek commented on #1294
Yes, we'll either write our own solution one day, or implement `AsyncWrap` once it's spec is finalized and implemented in V8 - https://nodejs.org/en/docs/guides/domain-postmortem/#looking-ahead

As of now, I don't think there's any willingness to remove deprecated API from the engine, as there's no clear alternative.

Also, the wrong repository. It should be raven-node, and there's already a discu

[2018-04-09 10:09] #1294 closed

[2018-04-09 12:15] kamilogorek commented on #874
We'll rethink the approach to this issue in the next major release. Right now, however, it'd be too much overhead to do this operating for every single event and it may impact the performance of our SDK.

We do provide all the required tools so that developers can do that themselves if they are willing to - https://github.com/getsentry/raven-js/blob/master/src/utils.js#L457-L515

If you want to ca

[2018-04-09 14:29] sigurbjorngudjonsson commented on #1271
I'm experiencing the same on an alternative javascript stack, using React with Redux and Redux Sagas, seeing the same error being reported both labeled and unlabeled.

Some noticeable differences are between the JSON structures of the issues:

**Labeled:**
[code]
**Unlabeled:**
* Missing the `"sentry.interfaces.Exception": { ... }` part
[code]

Wandering what could yield such different results? 🤔

[2018-04-09 18:34] laukstein opened #1296 "CDN missing recent v3.24.1"
Today was released Raven.js v3.24.1 https://github.com/getsentry/raven-js/releases/tag/3.24.1, but it still isn't found in CDN https://cdn.ravenjs.com/3.24.1/raven.min.js

![grabilla em5404](https://user-images.githubusercontent.com/183966/38515714-af0a63f2-3c3d-11e8-8c87-7a4aef090fb5.png)

[2018-04-09 18:36] laukstein commented on #1296
Also https://ravenjs.com shows outdated v3.20.0

![grabilla q13884](https://user-images.githubusercontent.com/183966/38515821-054b772e-3c3e-11e8-83ac-50453342ca0e.png)

[2018-04-09 18:37] laukstein commented on #1296
FYI https://cdn.ravenjs.com/3.24.0/raven.min.js is found.

[2018-04-09 18:42] kamilogorek commented on #1296
Purged CDN cache. https://cdn.ravenjs.com/3.24.1/raven.min.js should work just fine now. Can you re-verify please?

[2018-04-09 19:05] laukstein commented on #1296
@kamilogorek, https://cdn.ravenjs.com/3.24.1/raven.min.js is fine now, thanks! But what with https://ravenjs.com - mustn't it show v3.24.1?

[2018-04-10 07:34] donce opened #1297 "showReportDialog fails in Electron production environment"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

First of all, I'm using `electron`. Sentry error reporting works great, but `showReportDialog()` does not:
[code]

Everything works when I'm running development environment `yarn dev`, but fails when running production environment built using `yarn build`.

`captureMessage` works both in `dev` and i

[2018-04-10 08:01] kamilogorek commented on #1296
@laukstein it should, I always forget about it and should probably automate it at one point :P
Fixed :)

[2018-04-10 08:01] #1296 closed

[2018-04-10 17:38] kamilogorek commented on #1297
@donce thanks for the report. I was able to reproduce this issue locally.

Because we are using `<script>` tag to embed it - https://github.com/getsentry/raven-js/blob/master/src/raven.js#L874-L877, there's not much that we can directly.

There's however, a very easy way to fix it in the electron code itself.

Add this snippet to your main process code:
[code]

You can change `Referer` to be anyth

[2018-04-10 17:42] #1009 closed

[2018-04-10 17:47] seanlinsley opened #1298 "Events won't send from the console"
https://github.com/getsentry/raven-js/pull/1080 updated `captureMessage` to check `whitelistUrls` before sending the event. However, events typed in from a browser console have a URL of `<anonymous>`, so the check fails.

<img width="768" alt="screen shot 2018-04-10 at 12 11 33 pm" src="https://user-images.githubusercontent.com/688886/38573698-7ea3596a-3cbc-11e8-9631-24ba25e3d1c9.png">

This has a

[2018-04-10 17:58] seanlinsley commented on #1298
One workaround is to pass a string to `captureException`:
[code]

[2018-04-10 18:39] shroomist commented on #1297
@kamilogorek Thanks, that solved it for me

[2018-04-11 01:01] ronaldozanoni opened #1300 "Add support for 'tap' events"
The current `Raven-js (3.24.1)` does not have support for `tap` events from `zepto-touch` or `jquery-mobile`.
It would be useful for cordova apps already created and using that event.
The `sentry-cordova` didn't work in my project and I'm using the web library with this solution https://gist.github.com/ronaldozanoni/ff1c3d714c2c18219a9587b4d7cc7af8

The `tap` event is not listed in the breadcrumbs

[2018-04-11 01:08] ronaldozanoni commented on #1300
![image](https://user-images.githubusercontent.com/4555903/38591141-a37f48a8-3d0b-11e8-8ab6-2a0f0a6b663f.png)

^^ this is how the `tap` event is listed after the pull request https://github.com/getsentry/raven-js/pull/1301

[2018-04-11 02:58] billyvg commented on #1003
@joshribakoff I'm not sure if you can do this in other browsers, but you can blackbox raven-js script in chrome devtools:

![image](https://user-images.githubusercontent.com/79684/38594034-50be9f2c-3cf9-11e8-9956-af9dcf773aca.png)

[2018-04-11 07:26] #1297 closed

[2018-04-11 12:50] shroomist commented on #702
+1 looking forward to it

[2018-04-12 10:09] #1275 closed

[2018-04-13 09:19] Lie8466 opened #1303 "suggestions for improvements"
For safety, some company forbidden all the requests to unknown host, which results in error report to sentry.io receive 403 forbidden.

Hope sentry can give user privileges on how errors being handled.  Like tracekit,
[code]

[2018-04-13 09:26] kamilogorek commented on #1303
I'm not sure what feature are you missing right now. We already provide things like `dataCallback` or `transport` that should allow you to do most of the things you'd ever need.

[2018-04-13 09:33] #1303 closed

[2018-04-13 09:37] Lie8466 commented on #1303
Yeah, dataCallback meet my needs.
Should read instruction seriously before open issue next time. [embarrassed]

[2018-04-16 10:07] kamilogorek commented on #1271
As Ben mentioned in one of the linked issues above, I'm not able to fix this issue unless I can reproduce it. I tried to use quick start example from Angular 4, Angular 5 and Ember and I wasn't able to trigger this issue.

Unless someone is able to provide a reproducible code configuration, it's just a guesswork and probably won't be effective at all.

[2018-04-16 12:39] kamilogorek commented on #1298
Hey @seanlinsley, thanks for reporting this issue and adding a "workaround", as it exposes the issue that shouldn't be there :) https://github.com/getsentry/raven-js/pull/1304/

As for the original issue, you can either add this exception to `whitelistUrls`, or disable them when you want to verify the communication between your app and Sentry server.

[code]

Adding something like `{force: true}`

[2018-04-16 16:10] seanlinsley commented on #1298
It seems to me that commands from the console should be properly associated with the site's domain, instead of being marked as anonymous.

I'd expect to find that a lot of Sentry users rely on the old behavior. How are you supposed to be 100% sure that Sentry is working in production (w/ its usual production configuration) without being able to trigger an event from the console? Expecting users to

[2018-04-16 16:48] shcallaway commented on #1271
For the record, all my `unlabeled events` errors are logged alon
![unlabeled event](https://user-images.githubusercontent.com/7094076/38823480-4b25b5e4-415b-11e8-8831-2d09a8176e6a.png)

[2018-04-16 17:53] kamilogorek commented on #1271
@shcallaway can you post a link to this event? I'll try to track it this way

[2018-04-16 18:06] kamilogorek commented on #1298
We don't have a control over V8, SpiderMonkey, Chakra or any other browser's JS engine and there's no reliable way to evaluate what's the source of such calls.

Chrome returns `<anonymous>` where IE returns `Unknown script code`. It's not only the console calls, it's the same for `eval` code for example.

We didn't get a single report nor support ticket related to the issue you mention.

If you re

[2018-04-17 10:10] kamilogorek commented on #1287
@axnsan12 I reevaluated this issue again after trying to approach it more generically in the PR above, and I realized that it's not the issue of Raven.js.

First thing is that we already do cover 403s here - https://github.com/getsentry/raven-js/blob/master/src/raven.js#L2055-L2072

However, when you take a look at your stacktrace, the error is not originating from there, but from those lines http

[2018-04-17 13:48] axnsan12 commented on #1287
https://github.com/axnsan12/raven-swallow

This shows the issue I'm talking about. Relevant code is in ``app.module.ts`` and ``app.component.ts``.

[2018-04-18 12:37] kamilogorek commented on #1287
Ok, let's dissect what's happening here, as everything is working just fine, but manual rethrows make it look odd (ignore my previous comment, zone.js just made it harder to debug due to its "wrap everything i can" nature).

- call `Raven.config().install()`
- throw an error in the component
- error is caught by `handleError` method
- call `Raven.captureException(err);`, it's sent to sentry (403 i

[2018-04-18 13:12] mklimek opened #1306 "Why grouping errors prioritize stacktraces over exception interface?"
I'm not sure how to classify my problem, whether it should be a  **General Support** or a **Bug**. Sorry about that.

## Context
I have two different errors with exactly the same stacktrace, the same error type but a different error message.

Error 1: ValidationError: city location is invalid,
Error 2: ValidationError: user location is invalid

raven-js version: 3.24.1

## Current behaviour
These

[2018-04-18 17:04] axnsan12 commented on #1287
OK, thanks for your explanation, that at least clears up what's happening!

Unfortunately, that still seems subpar to me - in the bottom screenshots with ``debug: true``, the **original** exception is still nowhere to be seen in the console, unless you dig into the ``"Raven about to send"`` log messages.  Enabling ``debug`` also has the disadvantage of polluting the console with unrelated/undesire

[2018-04-18 17:15] jamesmanning commented on #844
@benvinegar what's the Right Way to add raven to an app that's been created with create-react-app?  Because of the need to load before bundles, I'm kind of assuming the public/index.html is the right place, but knowing how you're doing it successfully would be great!

[2018-04-18 17:47] john-kurkowski commented on #1287
Yeah, nice breakdown, @kamilogorek. I think that'll serve readers for time to come, even for those without this exact issue.

One nitpick:

[The docs](https://docs.sentry.io/clients/javascript/config/) say

This doesn't tell me what I'm going to get. Will the debugging information be for me? For my users? For Raven.js developers? Should I avoid in production? Will it print the original error?

Tha

[2018-04-19 08:10] kamilogorek commented on #844
Hey @jamesmanning, it'll work just fine out of the box. You can read how to use error boundaries here though - https://blog.sentry.io/2017/09/28/react-16-error-boundaries

One thing to keep in mind is that React does bubble all the errors in development mode, even those caught by error boundaries (here's more context you can read about https://github.com/getsentry/raven-js/issues/1249#issuecomment

[2018-04-20 09:50] jrencz opened #1307 "Allow configuring which console calls capture breadcrumb"
**Do you want to request a *feature* or report a *bug*?**
Request a feature

**What is the current behavior?**
Using existing configuration one can only turn `autoBreadcrumbs.console` on or off. There's no precise control over which console functions are capturing breadcrumb and which don't.

**What is the expected behavior?**
There should be a way to express which console methods are expected to

[2018-04-23 18:01] jimmykane commented on #436
More easy:

[code]

and
[code]

[2018-04-24 07:18] StudioMaX commented on #939
Bump. I get a lot of reports about this error, which occurs only in Safari (iOS/OSX).

[2018-04-24 09:26] zabojad opened #1309 "How can we avoid additionnal data to be truncated?"
We pass additionnal data to our exception reports and it gets truncated in the Sentry interface:

<img width="951" alt="screen shot 2018-04-24 at 11 22 49" src="https://user-images.githubusercontent.com/1238030/39178561-5280d384-47b2-11e8-8b0b-1ec3b51cadb1.png">

How can we avoid that?

[2018-04-24 09:38] kamilogorek commented on #1309
`__serialized__` is only present when a plain object has been passed to `captureException` - https://github.com/getsentry/raven-js/blob/master/src/raven.js#L476-L480 and it's meant to just briefly show what was inside this object to make it easier to track the error.

If you want to pass additional data, like the one above, use `Raven.setExtraContext` or `Raven.captureException(ex, { extra: { [you

[2018-04-24 10:33] kamilogorek commented on #1309
@iOiurson yes, it's ~100kB per event right now and we don't truncate it ourselves, because it can be costly.

You can use `Raven.config('__DSN__', { debug: true });` to see the reason why your event has not been sent.

More details regarding payload limit in previous conversations:
https://github.com/getsentry/raven-js/issues/339
https://github.com/getsentry/raven-js/issues/874
https://github.com/

[2018-04-24 10:36] kamilogorek commented on #1306
Unfortunately, it leaves too much space for inconsistencies.

If you have an error message that's not pure (eg. using dates, server responses, some payload) it may lead to thousands of events flooding users events list and we'd be unable to group them in any way.

[2018-04-24 11:12] StudioMaX commented on #939
@kamilogorek unfortunately, I cannot reproduce the error that occurs in my case. I tried partially to implement this commit https://github.com/getsentry/raven-js/pull/1181/files#diff-a4cb6d8063a6aea4bba2d6f10472b5f4R461 on my project for debugging, but when someone throws this error, `JSON.stringify()` for `[object DOMError]` says that this object is empty (json `{}`).
[code]
Stacktrace here: http

[2018-04-24 18:35] michaelstalker opened #1311 "Files in `dist/` still have `'use strict';`"
**Do you want to request a *feature* or report a *bug*?**

Report a bug.

**What is the current behavior?**

Several files like `raven-js/dist/angular/raven.js` were added to the project, and they include `'use strict;'`. These files correspond to raven-js version 3.22.2.

**What is the expected behavior?**

These files should reflect the most recent version of raven-js. https://github.com/getsent

[2018-04-25 10:29] kamilogorek commented on #1306
It's not an accurate statement. You can see all events that were grouped together as a separate instance. Just click on the events number, eg. - https://sentry.io/kamil-ogorek/testing-project/issues/532218039/events/

<img width="577" alt="screen shot 2018-04-25 at 12 26 30" src="https://user-images.githubusercontent.com/1523305/39240390-eab24800-4883-11e8-875b-d3383433ec2c.png">

You're right, bu

[2018-04-25 10:35] avner-hoffmann opened #1312 "@sentry/node 2.4.2 - application crash"
Hi,
I'm using @sentry/electron 0.4.2 in my electron app and directly throwing JS exception from my main process for testing usage.
once I do so I get the followinfg message in the console:

*********************************
* SentryElectron unhandledError *
*********************************
Error
---------------------------------

The second time throwing the same exception the application crashes

[2018-04-25 10:49] kamilogorek commented on #1312
Can you please repost this issue here? https://github.com/getsentry/sentry-electron
Thanks!

[2018-04-25 10:52] kamilogorek commented on #1311
Thanks for filling the issue @michaelstalker! Addressed in https://github.com/getsentry/raven-js/pull/1313

[2018-04-25 10:53] kamilogorek commented on #939
Addressed in https://github.com/getsentry/raven-js/pull/1310
Will publish patched version by the end of the week.

[2018-04-25 10:53] #939 closed

[2018-04-25 11:13] avner-hoffmann commented on #1312
reported!

[2018-04-25 11:51] #1312 closed

[2018-04-26 11:50] kamilogorek commented on #1291
WIP: https://github.com/getsentry/raven-js/tree/mechanism

[2018-04-27 07:15] falstack opened #1314 "【bug report】raven-js error：value.hasOwnProperty"
What is the current behavior?

chrome console：

![image](https://user-images.githubusercontent.com/16357724/39349429-8192cd30-4a2d-11e8-836e-317635ac4ac9.png)

js file：

![image](https://user-images.githubusercontent.com/16357724/39349468-a2d63a54-4a2d-11e8-8a37-7a38a727b569.png)

![image](https://user-images.githubusercontent.com/16357724/39349404-6e976f7e-4a2d-11e8-92ba-6e4b7d2176a4.png)

it loo

[2018-04-27 09:55] kamilogorek commented on #1314
It's impossible to tell at the first glance, without the content of `inject.js`. But it's most likely than not that it's not a raven.js issue. I need more details to help you.

[2018-04-27 10:12] falstack commented on #1314
em...sorry, i forgot some message..

this error throw when i open chrome plugin Wappalyzer version = 5.4.14,

if i turn off this plugin, this bug will clear.

[2018-04-27 10:13] #1314 closed

[2018-04-27 12:20] rodolfo3 opened #1315 "Call captureException inside componentDidCatch does not send data (React integration)"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
I just setup raven:
[code]
My component (using ES6 transpiled using babel):
[code]
**What is the expected behavior?**

The request to sentry is made using default data, not passed into `captureException`.

It is calling `captureException` twice: first the default from raven, and again inside `

[2018-04-27 14:26] kamilogorek commented on #1315
@rodolfo3 it's caused by the React that's bubbling the event to global handler in Development Mode only, but not in production. Please read the explanation here: https://github.com/getsentry/raven-js/issues/1249#issuecomment-372701891

I'll leave this issue open to remember that I have to mention this in the docs.

[2018-04-27 14:27] kamilogorek commented on #1315
Whoops.

[2018-04-30 17:12] d-ph opened #1317 "Objects that implement toString() are no longer filtered by the "ignoreErrors" config."
**Do you want to request a *feature* or report a *bug*?**
Bug (regression)

**What is the current behavior?**
Thrown non-error Objects that implement `toString()` are reported in Sentry as the `Non-Error exception captured with keys: ...`.

**What is the expected behavior?**
I'm not sure, but the previous behaviour was that those Objects would be subject to the "ignoreErrors" RegExp rules.

Raven

[2018-05-01 19:52] itbrandonsilva commented on #1287
Also looking to know the same as @john-kurkowski .

[2018-05-02 09:55] awsafanam opened #1318 "Access-Control-Allow-Credentials error when invoking Raven.showReportDialog()"
when i am trying to run this code:
`Raven.showReportDialog()`

I'm getting this error:

I searched other issues and also set the below code in the config, still the same error.

`fetchParameters: { credentials: 'omit' }`

[2018-05-03 06:17] #1318 closed

[2018-05-03 09:09] davidfurlong commented on #1238
I'm getting the same thing. Why is `raven-js/src` in my webpack prod bundle???

[2018-05-08 12:35] kamilogorek commented on #1317
Can you elaborate more on:

I'm trying to understand how you do this, as if you do this manually, you should also be able to filter the errors yourself in the first place. Thanks!

[2018-05-08 13:00] kamilogorek commented on #1238
@davidfurlong same question:

[2018-05-08 13:01] davidfurlong commented on #1238
[code]

[2018-05-08 15:33] #1311 closed

[2018-05-08 15:36] kamilogorek commented on #1238
@davidfurlong wellll... it's kinda large and very project-specific 😅I won't be able to extract the main issue from this thing. I somehow need someone to provide a minimal possible config that exposes the culprit itself.

[2018-05-08 19:56] d-ph commented on #1317
I have a `window.onerror` listener which catches and processes the instances of my Error class. One of the part of the "processing" is involving filtering, but that's beside the point.

Since Raven (via TraceKit) also listens to `window.onerror`, it also "processes" my Error instances, which I'd like not to be happening, because as I mentioned I do the processing myself and use `Raven.captureExcep

[2018-05-08 21:29] kellycampbell opened #1321 "403 while trying to use showReportDialog()"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

The report dialog is not shown.

In the Network devtools panel, Sentry.io returns a 403 error for the request to

https://sentry.io/api/embed/error-page/?eventId=[eventid]&dsn=[dsn-url]

The call immediately before the failing one is the POST to https://sentry.io/api/108606/store/ and it succeeds.

*

[2018-05-09 07:10] davidfurlong commented on #1238
Thats what I figured.. Any ideas how I may debug the issue?

On Tue, May 8, 2018 at 5:36 PM Kamil Ogórek <notifications@github.com>
wrote:

[2018-05-09 08:33] kamilogorek commented on #1317
Makes sense. In this case, I can only recommend skipping calling `install` directly, and just turn on instrumentations (+ unhandled promise handler if you need it)

[code]

https://github.com/getsentry/raven-js/blob/master/src/raven.js#L241-L268

We are working on the next major release, and introducing new options/api methods right now is not perfect.

[2018-05-09 08:36] kamilogorek commented on #1321
Hey @kellycampbell. I'm not very familiar with Cordova, however, I'm pretty sure that the issue is caused by not sending a Referrer header alongside your request (it's not required for events, thus they work just fine for you).

Please see this related issue for Electron, it should explain the cause - https://github.com/getsentry/raven-js/issues/1297#issuecomment-380186018

[2018-05-09 14:30] kellycampbell commented on #1321
Cordova just runs a local JS app within the system WebView on mobile platforms. I imagine that this same problem exists on any Sentry connected site run from a WebView with local JS code.

I will look into ways to set the Referer header on a webview, since I think it's unset by default when running local code.

[2018-05-09 18:52] d-ph commented on #1317
Ok. Thanks.

[2018-05-09 18:52] #1317 closed

[2018-05-10 17:54] kamilogorek commented on #939
Released as `3.25.0`

[2018-05-10 19:17] paularmstrong commented on #939
Thanks @kamilogorek!

[2018-05-10 22:57] shcallaway commented on #1271
@kamilogorek Can I get your thoughts on this?

[2018-05-11 09:52] qyuz opened #1326 "Plugins missing in dist folder"
Hello!

plugins folder missing in dist in 3.25.0!

Thank you!

[2018-05-11 10:30] kamilogorek commented on #1271
@shcallaway I'm working on something else right now, but I'll get back to you early next week. Thanks for very detailed investigation! :)

[2018-05-11 10:45] #1326 closed

[2018-05-11 10:48] kamilogorek commented on #1326
Fixed in `3.25.1`, sorry for the inconvenience

[2018-05-11 19:49] igregson commented on #436
At least in Chrome (not sure about other browsers), another way to prevent Raven from "hijacking" the dev console is to blackbox `raven.js`:

https://gist.github.com/paulirish/c307a5a585ddbcc17242
https://developer.chrome.com/devtools/docs/blackboxing

Eg:

<img width="647" alt="2018-05-11_12-45-12" src="https://user-images.githubusercontent.com/2054975/39943831-27afc33a-5519-11e8-8c17-f714c5ad717

[2018-05-12 02:37] ncaq commented on #634
@steverandy [Source Maps – Sentry Documentation](https://docs.sentry.io/clients/electron/sourcemaps/)

[2018-05-12 12:46] heejongahn commented on #756
I'm getting multiple `null is not an object (evaluating 'element.tagName')` errors in my project. The code I've written doesn't reference any of `element.tagName` at all(lib codes might). Maybe it could be related to this issue and I could just ignore it, I guess?

[2018-05-13 17:36] dortort commented on #702
+1

[2018-05-14 08:41] akanshgulati opened #1328 "Is there any way to not send tracking events for errors during debug mode?"
**Do you want to request a *feature* or report a *bug*?**

*BUG*

**What is the current behavior?**

I have been using RavenVue plugin along with [vue2-sentry](https://www.npmjs.com/package/vue2-sentry) for a Vue application. While passing debug as true in config, I see log messages by Raven for sending events, but apart from that, a sentry call is also made which logs the message. Is there any wa

[2018-05-14 10:47] kamilogorek commented on #1328
Hey, you can do this with:

[code]

or to be more generic with one switch

[code]

[2018-05-14 10:49] zivl opened #1329 "feature request: ignore sending errors coming from a certain operating sytem"
### Essence and Description
I'd like to ignore errors coming from a certain operating systems. Preferably that the request won't even be sent, to save a network call.

### Implementation Suggestion
The same way `Raven` is acting with `ignoreErrors`, just something dedicated for operating systems. e.g. `ignoreOS: []`

[2018-05-14 11:32] kamilogorek commented on #1329
Sure, will do!

[2018-05-14 16:26] #1328 closed

[2018-05-16 19:53] ilfa opened #1333 "Bug: no xhr breadcrumbs for error in onreadystatechange"
I think it's a bug

When Raven instruments `XMLHttpRequest` and error occurs in `onreadystatechange` user function we don't see current request details in breadcrumbs for current error, because Raven log request in `onreadystatechange` after user code.

**What is the current behavior?**

Here is fiddle, just check console and see order of `ravenTransport breadcrumb` and `setBreadcrumbCallback` mes

[2018-05-23 10:51] gcusnieux opened #1336 "Bug: IE11: SCRIPT438:Object doesn't support property or method 'forEach'"
On IE 11, when raven send data, I have this error :
`SCRIPT438: Object doesn't support property or method 'forEach'`

This error comes from this code: https://github.com/getsentry/raven-js/blob/master/src/raven.js#L1917

I don't understand why because Array.forEach and Object.keys are supported by IE11.
Moreover, it works in the console of my browser.

Do you have an idea ?

[2018-05-23 13:32] gcusnieux commented on #1336
It's not a bug

[2018-05-23 13:32] #1336 closed

[2018-05-28 12:18] roaringbits commented on #702
+1

I fixed this myself by altering the HTML of the dialog after calling show for now

[2018-05-29 12:07] bytenik opened #1338 "Objects logged to console as a console.log arg and automatically captured into a breadcrumb show up as [object Object] instead of JSON"
**What is the current behavior?**

Objects captured as part of a console log show up as [object Object].

**What is the expected behavior?**

Objects should be JSON serialized or in some other way captured so that you can figure out what they actually are.

[2018-05-30 08:47] lynnelv opened #1341 "feat: Pass raw data to breadcrumbs callback so it can be used to modify entries"
sometimes, we need to track an asynchronous request log based on some parameters, such as `request-id`, and usually `request-id` is attached to the reponse header, if there is a hook can be used will be good, for example, the following usage
**in config**
[code]
**display**

![image](https://user-images.githubusercontent.com/2277716/40709128-d7b42e98-6427-11e8-8549-6878b339a14d.png)
then we can fi

[2018-05-30 17:32] kamilogorek commented on #1338
Closed as duplicate of https://github.com/getsentry/raven-js/issues/623

[2018-05-30 17:32] #1338 closed

[2018-05-30 19:14] kamilogorek commented on #1341
Hey, thanks for filling the issue and sending a PR for it. The overall idea is good and we'll definitely include something of that sort in the next major release (coming soon). We do already have `breadcrumbCallback`, however, the problem with it is that we don't provide raw data that could be used.

If we'd have something like:
[code]
we could achieve exactly what you need.

Unfortunately, your s

[2018-05-31 16:41] justinappler commented on #1271
Still seeing this hundreds, sometimes thousands of times per hour but we can't hide it because don't know if its a real issue or noise.

[2018-06-04 11:09] hyperknot opened #1345 "captureBreadcrumb doesn't capture NaN and undefined values"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
captureBreadcrumb turns `NaN` into `null` and discards `undefined` values in the data object.

**What is the expected behavior?**
captureBreadcrumb should preserve the data object as it is.

**Which versions of Raven.js, and which browser and OS are affected by this issue?**
3.25.2, all browsers and OS

[2018-06-07 09:59] lili21 commented on #1260
using raven 3.5.2, still have the issue.

[2018-06-07 12:57] bjfletcher opened #1350 "`main` field missing from package.json with latest release"
![image](https://user-images.githubusercontent.com/733849/41100948-9af0d388-6a5a-11e8-9828-a2018a53fe22.png)

in addition, there's no index.js, main.js, or anything in the root folder... breaking things for us

[2018-06-07 13:07] HazAT commented on #1350
Hey,

Are you installing the package from npm?

[2018-06-07 13:09] bjfletcher commented on #1350
@HazAT through bower

[2018-06-07 13:10] bjfletcher commented on #1350
to cut a long story short, Origami will only use bower: https://github.com/financial-times/o-errors

[2018-06-07 13:10] HazAT commented on #1350
kk, got it, fixing it right now :)

[2018-06-07 13:19] mitsuhiko commented on #1350
@bjfletcher do you know how bower finds a package? how does it decide to pull from master of this repository?

[2018-06-07 13:19] janysp opened #1351 "Dist folder is missing in release 3.26.0"
Hi,

I'm missing a lot of folders in the latest release 3.26.0.

Compared with previous version:

<img width="971" alt="upload" src="https://user-images.githubusercontent.com/40030439/41102042-24852ecc-6a66-11e8-9e6b-aaeeb1d284a8.png">

[2018-06-07 13:22] Multiply commented on #1351
We're hit with our bower dependencies. Using the older version works for now.

[2018-06-07 13:26] champ opened #1352 "Version 3.26.0 breaks bower dist installation"
According to the [documentation for installing the javascript client using Bower](https://docs.sentry.io/clients/javascript/install/#bower), the dist file should be used. Since version `3.26.0`, the `dist` directory is not included in the repo any longer.

Even though this is an installation issue, it is a backward-incompatible change and should probably be mentioned in the changelog and in the do

[2018-06-07 13:26] HazAT commented on #1352
Hey, this is a duplicate of #1350
We moved raven-js into a subfolder packages/raven-js.
We are working to resolve the issue with bower.

[2018-06-07 13:30] janysp commented on #1351
In that folder is raven.js also missing.

The official documentation (https://docs.sentry.io/clients/javascript/install/)  is still pointing to ./raven-js/dist/raven.js

[2018-06-07 13:44] bjfletcher commented on #1350
@mitsuhiko I'm not 100% up on how they find things... if you enter `raven-js` in https://bower.io/search/ you'll see that it's this one

it pulls the latest release, not from the `master` branch

[2018-06-07 14:15] HazAT commented on #1350
Sorry for the inconvenience, version `3.26.1` is released and should fix this issue.
Can you please confirm that it works?

[2018-06-07 14:16] HazAT commented on #1351
Sorry for the inconvenience, version `3.26.1` is released and should fix this issue.
Can you please confirm that it works?

[2018-06-07 14:16] HazAT commented on #1352
Sorry for the inconvenience, version `3.26.1` is released and should fix this issue.
Can you please confirm that it works?

[2018-06-07 15:00] #1350 closed

[2018-06-07 15:00] #1352 closed

[2018-06-07 15:00] #1351 closed

[2018-06-07 15:53] remybach commented on #1350
Can confirm it appears to work again. Thanks for the prompt response 👍

[2018-06-07 22:52] Luke-SF commented on #761
This is a serious issue, if for example you have some jQuery ajax that due to some network issue or temporary problem takes minutes or never complete, an error is never ever sent through Sentry!

[2018-06-08 06:38] janysp commented on #1351
It's working again, thanks!

[2018-06-08 12:10] Illyism opened #1358 "Bug: Instrumentation on FileReader throws error"
**Do you want to request a *feature* or report a *bug*?** BUG

**What is the current behavior?**

FileReader throws an error

**What is the expected behavior?**

It's working fine in 3.24. Broken in Chrome in 3.26.1. Using NPM.
When I set config: { instrument: { FileReader: false } } it also works fine

My usage of the FileReader:

[code]

Error here: https://github.com/getsentry/raven-js/blob/cb0

[2018-06-08 22:15] riquito opened #1360 "feat: modify url in xhr breadcrumb"
I love the automatic XHR breadcrumb but I would like to scrub away part of the url client side.

For example I'd like to transform client side "https://example.com/1234/foo" to "https://example.com/#scrubbed#/foo"

Possibly related issue #1341

[2018-06-09 01:41] RanadeepPolavarapu opened #1361 "Raven v3.26.0+: `Error: Uncaught (in promise): TypeError: Cannot read property 'name' of null`"
**Do you want to request a *feature* or report a *bug*?** Bug

**What is the current behavior?**
Results in `Error: Uncaught (in promise): TypeError: Cannot read property 'name' of null`.

**What is the expected behavior?**
To work normally as previous versions.

Which versions of Raven.js, and which browser and OS are affected by this issue? Did this work in previous versions of Raven.js? Are you

[2018-06-09 06:51] HazAT commented on #1361
Thanks for reporting this, should be a quick fix.
cc @jan-auer https://github.com/getsentry/raven-js/blob/master/packages/raven-js/src/raven.js#L1201
Ideas why this is `null`?
We should add a test for this and fix it.

[2018-06-11 13:08] oyshan opened #1365 "Unhandled/uncaught error callback?"
Hi!

Is there a way to add a callback function or similar to when Raven handles an uncaught error/exception? We'd like to inform the user that something went wrong etc. This is no problem when we catch the error ourselves, but when it is caught by Raven an error report is sent and the application just stops executing. We'd like to add a callback to these cases to increase the ux a bit even though

[2018-06-11 15:49] #1358 closed

[2018-06-11 15:49] #1361 closed

[2018-06-11 16:07] kamilogorek commented on #1365
Hey. You can either use not documented `ravenHandle` event (eg. `document.addEventListener('ravenHandle', (stackInfo, options) => { ...exception... })` – https://github.com/getsentry/raven-js/blob/master/packages/raven-js/src/raven.js#L1639-L1642
Or you can use regular `dataCallback` - https://docs.sentry.io/clients/javascript/config/ which will trigger for both, exceptions and messages.

[2018-06-11 16:13] kamilogorek commented on #1360
https://docs.sentry.io/clients/javascript/config/#optional-settings

`*breadcrumbCallback*
 - A function that allows filtering or mutating breadcrumb payloads. Return false to throw away the breadcrumb.`

[code]

There you go :)

[2018-06-11 17:42] riquito commented on #1360
Didn't understand the power of that callback, thanks!

For anyone interested I ended up using the following regexp

[code]

[2018-06-11 17:42] #1360 closed

[2018-06-11 17:44] justinappler commented on #1271
@kamilogorek Any update? This represents a huge number of our inbound exceptions and it's hard for us to ignore it given we don't know if it masks real issues or not.

[2018-06-12 06:13] oyshan commented on #1365
Thanks, @kamilogorek. Is there a way of figuring out if the error report was triggered from client code (i.e. `captureException` or `captureMessage`) or from Raven in either of these callbacks, though? We'd like to differentiate between handled/known errors caught and reported by "us" and unknown/unhandled errors caught by Raven. Is there any way of knowing in either the `ravenHandle` event or the

[2018-06-12 08:10] kamilogorek commented on #1365
@oyshan this will be exactly the thing that we'll add to our UI soon. For now, you can use SDK part of this thing to detect it yourself.

In `dataCallback(data) { ... }`, `data.exception.mechanism` contains this information. `mechanism.handled` is a boolean which indicates whether it was a global handler on an integration/user's triggered.

[code]

[2018-06-12 10:03] jrencz opened #1366 "Default breadcrumbs may contain personal data. Please add way to filter it"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
If DOM element contains a title and title repeats the element value the value becomes a content of the breadcrumb. It's not a problem until the element value (and title) is not personal data.

I have a field with autocomplete of streets and towns. if some error is captured and previously the user c

[2018-06-12 10:11] kamilogorek commented on #1366
See: https://github.com/getsentry/raven-js/issues/1360
I believe it's the same kind of issue as the one you described.

[2018-06-12 10:14] jrencz commented on #1366
To a certain extent: yes.

They both can be solved within the same effort of allowing users to replace parts of the default breadcrumbs mechanism implementation to fit their needs.

[2018-06-12 10:17] jrencz commented on #1341
May be related to #1366 (same kind of extensibility/configurability needed)

[2018-06-12 11:57] oyshan commented on #1365
Thanks! Much appreciated, @kamilogorek  :)

[2018-06-12 11:57] #1365 closed

[2018-06-12 13:27] HazAT opened #1369 "[raven-node] Add TypeScript type definitions"
ref: https://github.com/getsentry/raven-node/issues/189

[2018-06-12 13:28] HazAT opened #1370 "[raven-node] Cannot resolve module 'pg'"
ref: https://github.com/getsentry/raven-node/issues/254

[2018-06-12 13:29] HazAT opened #1371 "[raven-node] Ability to see errors in console"
ref: https://github.com/getsentry/raven-node/issues/259

[2018-06-12 13:29] HazAT opened #1372 "[raven-node] Domain Module Deprecated"
ref: https://github.com/getsentry/raven-node/issues/264

[2018-06-12 13:30] HazAT opened #1373 "[raven-node] Support SSR for vue.js"
ref: https://github.com/getsentry/raven-node/issues/278

[2018-06-12 13:30] HazAT opened #1374 "[raven-node] Add option to filter out breadcrumbs"
ref: https://github.com/getsentry/raven-node/issues/294

[2018-06-12 13:31] HazAT opened #1375 "[raven-node] Errors in requests with large request bodies are silently dropped"
ref: https://github.com/getsentry/raven-node/issues/302

[2018-06-12 13:32] HazAT opened #1376 "[raven-node] sentry context not found on active domain"
ref: https://github.com/getsentry/raven-node/issues/305

[2018-06-12 13:32] HazAT opened #1377 "[reven-node] Cannot capture breadcrumbs without installing, cannot install without creating uncaughtException handler"
ref: https://github.com/getsentry/raven-node/issues/307

[2018-06-12 13:32] HazAT opened #1378 "[raven-node] Add Stacktrace Option to CaptureMessage"
ref: https://github.com/getsentry/raven-node/issues/332

[2018-06-12 13:33] HazAT opened #1379 "[raven-node] RangeError: Invalid string length"
ref: https://github.com/getsentry/raven-node/issues/335

[2018-06-12 13:33] HazAT opened #1380 "[raven-node] Flush message or wait for queue being fully drained"
ref: https://github.com/getsentry/raven-node/issues/338

[2018-06-12 13:34] HazAT opened #1381 "[raven-node] Support chained Errors"
ref: https://github.com/getsentry/raven-node/issues/362

[2018-06-12 13:34] HazAT opened #1382 "[raven-node] Support for HTTP proxies"
ref: https://github.com/getsentry/raven-node/issues/363

[2018-06-12 13:35] HazAT opened #1383 "[raven-node] Attaching data in dataCallback asyncronously"
ref: https://github.com/getsentry/raven-node/issues/394

[2018-06-12 13:35] HazAT opened #1384 "[raven-node] Sourcemaps were uploaded but Sentry displays only generated JavaScript code"
ref: https://github.com/getsentry/raven-node/issues/435

[2018-06-12 13:36] HazAT opened #1385 "[raven-node] Ignore Errors does not working"
ref: https://github.com/getsentry/raven-node/issues/436

[2018-06-12 13:36] HazAT opened #1386 "[raven-node] Using raven-node within an Electron renderer process"
ref: https://github.com/getsentry/raven-node/issues/441

[2018-06-12 13:37] HazAT opened #1387 "[raven-node] `captureException` mutates (not merges) and does not send original `context` when first argument is not an Error instance"
ref: https://github.com/getsentry/raven-node/issues/442

[2018-06-12 13:37] HazAT opened #1388 "[raven-node] Extract arbitrary attributes from original request object."
ref: https://github.com/getsentry/raven-node/issues/450

[2018-06-13 02:23] johnrivelt opened #1391 "Angular 6 Error Raven.config is not a function Evaluating src/app/app.module.ts"
**Do you want to request a *feature* or report a *bug*?**
BUG

**What is the current behavior?**
Can not start Angular app as Raven.config error

[code]

see [https://stackblitz.com/edit/angular-sentry-ravenjs](https://stackblitz.com/edit/angular-sentry-ravenjs)

**What is the expected behavior?**
No error

[2018-06-13 07:18] ibufu opened #1392 "Unhandled promise Event rejection"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
If a unhandled promise rejection is an Event, Raven will only captureMessage [object Event].

**What is the expected behavior?**
It should send the whole event object as extra.

**Raven version**
3.22.1

[2018-06-13 07:56] kamilogorek commented on #1391
Use `import Raven from 'raven-js';` instead of `import * as Raven from 'raven-js';` and it will work.
We don't export named functions yet and Raven itself is a singleton.

[2018-06-13 09:05] johnrivelt commented on #1391
Thanks, @kamilogorek.
Sentry documentation for angular need to be modified.

[2018-06-13 09:05] #1391 closed

[2018-06-13 15:48] nghiepit commented on #1385
Today I have been upgraded to 3.26.2 and same issue.

[2018-06-14 08:23] kamilogorek commented on #1385
@nghiepit what exactly is not working? `3.26.2` is `raven-js`, not `raven-node` used to report initial issue.

[2018-06-14 11:47] kamilogorek commented on #1271
After some research, I found that ways to trigger this issue are:

[code]

to trigger the exact issue, including mentioned server validation notification, `throw ''`, but it has to bubble up to the global on-error handler.

I'm working on the solution.